{% extends '@Layouts/themes/voler/bases/full.html.twig' %}

{% block contents %}

<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Form Editor</h3>
                <p class="text-subtitle text-muted">Textarea with rich features </p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'voler'}) }}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Form Editor</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Snow Editor</h4>
            </div>
            <div class="card-body">
                <p>Snow is a clean editor theme</p>
                <div id="snow">
                    <p>Hello World!</p>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Bubble Editor</h4>
            </div>
            <div class="card-body">
                <p>Block some text to display options in poppovers </p>
                <div id="bubble">
                    <p>Hello World!</p>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Full Editor</h4>
            </div>
            <div class="card-body">
                <p>Block some text to display options in poppovers </p>
                <div id="full">
                    <p>Hello World!</p>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br></p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('voler/assets/vendors/quill/quill.bubble.css', 'themes') }}">
    <link rel="stylesheet" href="{{ asset('voler/assets/vendors/quill/quill.snow.css', 'themes') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('voler/assets/vendors/quill/quill.min.js', 'themes') }}"></script>
    <script src="{{ asset('voler/assets/js/pages/form-editor.js', 'themes') }}"></script>
{% endblock %}
