{% extends '@Layouts/themes/voler/bases/full.html.twig' %}

{% block contents %}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Textarea</h3>
                <p class="text-subtitle text-muted">Big input where you can input a lot of text</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Textarea</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Default Textarea
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Textarea with Title
                    </div>
                    <div class="card-body">
                        <div class="form-group with-title mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            <label>Your experience</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Checkbox</h3>
                <p class="text-subtitle text-muted">For user to check they list.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkbox</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section id="basic-checkbox">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Checkboxes</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class='form-check-input' checked>
                                            <label for="checkbox1">Touch me!</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" class='form-check-input' id="checkbox2">
                                            <label for="checkbox2">Touch me!</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox3" class='form-check-input' disabled checked>
                                            <label for="checkbox3">Disabled Checked Checkbox</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox4" class='form-check-input' disabled>
                                            <label for="checkbox4">Disabled Unchecked Checkbox</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Checkbox end -->
    <!-- Custom Checkbox Colored start -->
    <section id="custom-checkbox-colored">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Custom Colored Checkboxes</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>To change the color of the Custom CheckBoxes, use the <code>.bg-{colorName}</code> with
                                <code>.form-check-input</code> class.</p>
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-primary" checked name="customCheck" id="customColorCheck1">
                                            <label class="form-check-label" for="customColorCheck1">Primary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-secondary" checked name="customCheck" id="customColorCheck2">
                                            <label class="form-check-label" for="customColorCheck2">Secondary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-success" checked name="customCheck" id="customColorCheck3">
                                            <label class="form-check-label" for="customColorCheck3">Success</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-danger" checked name="customCheck" id="customColorCheck4">
                                            <label class="form-check-label" for="customColorCheck4">Danger</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-info" checked name="customCheck" id="customColorCheck5">
                                            <label class="form-check-label" for="customColorCheck5">Info</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-warning" checked name="customCheck" id="customColorCheck6">
                                            <label class="form-check-label" for="customColorCheck6">Warning</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Custom Checkbox end -->
    <!-- Checkbox Glow start -->
    <section id="checkbox-glow">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkboxes Glow</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Use class <code>.form-check-glow</code> class with <code>.form-check-input.form-check-{colorName}</code>
                                for glow effect to Checkboxes. Glow shadow color will be changed according to Colored
                                Checkboxes.</p>
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-primary form-check-glow" checked name="customCheck" id="customColorCheck1">
                                            <label class="form-check-label" for="customColorCheck1">Primary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-secondary form-check-glow" checked name="customCheck" id="customColorCheck2">
                                            <label class="form-check-label" for="customColorCheck2">Secondary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-success form-check-glow" checked name="customCheck" id="customColorCheck3">
                                            <label class="form-check-label" for="customColorCheck3">Success</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-danger form-check-glow" checked name="customCheck" id="customColorCheck4">
                                            <label class="form-check-label" for="customColorCheck4">Danger</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-info form-check-glow" checked name="customCheck" id="customColorCheck5">
                                            <label class="form-check-label" for="customColorCheck5">Info</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-warning form-check-glow" checked name="customCheck" id="customColorCheck6">
                                            <label class="form-check-label" for="customColorCheck6">Warning</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkbox Glow end -->
    <!-- Checkbox Sizes start -->
    <section id="checkbox-sizes">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkboxes Sizes</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>To add a checkBox with different sizes, we have the <code>.form-check-sm</code> class for small
                                Checkboxes. Add it alongwith <code>.form-check</code> class.</p>
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block mb-1 me-2">
                                    <div class='form-check form-check-sm'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-primary form-check-glow" checked name="customCheck" id="customColorCheck6">
                                            <label class="form-check-label" for="customColorCheck6">Small</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mb-1 me-2">
                                    <div class='form-check'>
                                        <input type="checkbox" class="form-check-input form-check-primary form-check-glow" checked name="customCheck" id="customColorCheck6">
                                        <label class="form-check-label" for="customColorCheck6">Default</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkbox Sizes end -->
</div>
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Input</h3>
                <p class="text-subtitle text-muted">Fill data or information using input is better than writing by pen.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Input</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Basic Inputs</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="basicInput">Basic Input</label>
                            <input type="text" class="form-control" id="basicInput" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="helpInputTop">Input text with help</label>
                            <small class="text-muted">eg.<i>someone@example.com</i></small>
                            <input type="text" class="form-control" id="helpInputTop">
                        </div>
                        <div class="form-group">
                            <label for="helperText">With Helper Text</label>
                            <input type="text" id="helperText" class="form-control" placeholder="Name">
                            <p><small class="text-muted">Find helper text here for given textbox.</small></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disabledInput">Disabled Input</label>
                            <input type="text" class="form-control" id="disabledInput" placeholder="Disabled Text" disabled>
                        </div>
                        <div class="form-group">
                            <label for="disabledInput">Readonly Input</label>
                            <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="You can't update me :P">
                        </div>
                        <div class="form-group">
                            <label for="disabledInput">Static Text</label>
                            <p class="form-control-static" id="staticInput">email@pixinvent.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Basic Inputs end -->
    <!-- Input Style start -->
    <section id="input-style">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Styles</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>To set rounded border to input box, use <code>.round</code> class and
                                    to set square border to input box, use <code>.sqaure</code> class alongwith
                                    <code>.form-control</code> class.</p>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="roundText">Rounded Input</label>
                                    <input type="text" id="roundText" class="form-control round" placeholder="Rounded Input">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="squareText">Square Input</label>
                                    <input type="text" id="squareText" class="form-control square" placeholder="Square Input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Input Style end -->
    <!-- Horizontal Input start -->
    <section id="horizontal-input">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Horizontal Input</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>To make label in center of form-control, use <code>.col-form-label</code> class with
                                    <code>&lt;label&gt;</code> element. This is default bootstrap class.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-2 col-3">
                                        <label class="col-form-label">First Name</label>
                                    </div>
                                    <div class="col-lg-10 col-9">
                                        <input type="text" id="first-name" class="form-control" name="fname" placeholder="First Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-2 col-3">
                                        <label class="col-form-label">Last Name</label>
                                    </div>
                                    <div class="col-lg-10 col-9">
                                        <input type="text" id="last-name" class="form-control" name="fname" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Horizontal Input end -->
    <!-- Basic File Browser start -->
    <section id="input-file-browser">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">File Input</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <p>Default</p>
                                <div class="form-file">
                                    <input type="file" class="form-file-input" id="customFile">
                                    <label class="form-file-label" for="customFile">
                                        <span class="form-file-text">Choose file...</span>
                                        <span class="form-file-button">Browse</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <p>With Icon And Button Color</p>
                                <div class="form-file">
                                    <input type="file" class="form-file-input" id="customFile">
                                    <label class="form-file-label" for="customFile">
                                        <span class="form-file-text">Choose file...</span>
                                        <span class="form-file-button btn-primary "><i data-feather="upload"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic File Browser end -->
    <!-- Input with Icons start -->
    <section id="input-with-icons">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input with Icons</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>For Input Box with icon use <code>.position-relative</code> class with
                                    <code>.form-group</code> and use class <code>.has-icon-left</code> or <code>.has-icon-right</code> class for icon on
                                    left side.</p>
                            </div>
                            <div class="col-sm-6">
                                <h6>Left Icon</h6>
                                <div class="form-group position-relative has-icon-left">
                                    <input type="text" class="form-control" placeholder="Input with icon left">
                                    <div class="form-control-icon">
                                        <i data-feather="user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h6>Right Icon</h6>
                                <div class="form-group position-relative has-icon-right">
                                    <input type="text" class="form-control" placeholder="Icon Right, Default Input">
                                    <div class="form-control-icon">
                                        <i data-feather="file"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Input with Icons end -->
    <!-- Input Sizing start -->
    <section id="input-sizing">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Control Sizing Option</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>For different sizes of Input, Use classes like <code>.form-control-lg</code> &amp;
                                    <code>.form-control-sm</code> for Large, Small input box.</p>
                            </div>
                            <div class="col-sm-4">
                                <h6>Large</h6>
                                <input class="form-control form-control-lg" type="text" placeholder="Large Input">
                            </div>
                            <div class="col-sm-4">
                                <h6>Default</h6>
                                <input class="form-control" type="text" placeholder="Default Input">
                            </div>
                            <div class="col-sm-4">
                                <h6>Small</h6>
                                <input class="form-control form-control-sm" type="text" placeholder="Small Input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Input Sizing end -->
    <!-- validations start -->
    <section id="input-validation">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Validation States</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>You can indicate invalid and valid form fields with <code>.is-invalid</code> and
                                    <code>.is-valid</code>. Note that <code>.invalid-feedback</code> is also supported
                                    with these classes.</p>
                            </div>
                            <div class="col-sm-6">
                                <label for="valid-state">Valid State</label>
                                <input type="text" class="form-control is-valid" id="valid-state" placeholder="Valid" value="Valid" required>
                                <div class="valid-feedback">
                                    <i class="bx bx-radio-circle"></i>
                                    This is valid state.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="invalid-state">Invalid State</label>
                                <input type="text" class="form-control is-invalid" id="invalid-state" placeholder="Invalid" value="Invalid" required>
                                <div class="invalid-feedback">
                                    <i class="bx bx-radio-circle"></i>
                                    This is invalid state.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- validations end -->
</div>
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Input Group</h3>
                <p class="text-subtitle text-muted">A group for input to display information in before or after input</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Input Group</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section id="basic-input-groups">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Input Groups</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Add span with <code>.input-group-text</code> class <b>before</b> <code>&lt;input&gt;</code>
                                for input-group-prepend and add span with <code>.input-group-text</code> class <b>after</b>
                                <code>&lt;input&gt;</code> for input-group-append.</p>
                            <div class="row">
                                <div class="col-lg-4 mb-1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                        <input type="text" class="form-control" placeholder="Addon to left" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-1">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Addon to right" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Addon on both side">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Inputs Groups end -->
    <!-- Multiple Inputs start -->
    <section id="multiple-inputs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Multiple Inputs</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>While multiple <code>&lt;input&gt;</code>s are supported visually, validation styles are only
                                available for input groups with a single <code>&lt;input&gt;</code>.</p>
                            <div class="row">
                                <div class="col-12">
                                    <fieldset>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">First and last name</span>
                                            </div>
                                            <input type="text" aria-label="First name" class="form-control" placeholder="First Name">
                                            <input type="text" aria-label="Last name" class="form-control" placeholder="Last Name">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Multiple Inputs end -->
    <!-- Multiple addons start -->
    <section id="multiple-addons">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Multiple Addons</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Multiple add-ons are supported and can be mixed with checkbox and radio input versions.</p>
                            <div class="row">
                                <div class="col-sm-6 mb-1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <span class="input-group-text">0.00</span>
                                        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                                        <span class="input-group-text">$</span>
                                        <span class="input-group-text">0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Multiple addons end -->
    <!-- Inputs Group Checkbox and Radio Buttons end -->
    <section id="input-group-checkbox-radio">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Groups with Checkboxes and Radios</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Input Groups can use with checkboxes and radio buttons also. For it add code for
                                <code>.checkbox</code> class and <code>.radio</code> class respectively.</p>
                            <div class="row">
                                <div class="col-sm-6 mb-1">
                                    <div class="input-group mb-3">
                                        <div class="input-group-text">
                                            <input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for following text input">
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input class="form-check-input" type="radio" value="" aria-label="Radio button for following text input">
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with radio button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inputs Group Checkbox and Radio Buttons end -->
    <!-- Inputs Group Sizes -->
    <section id="input-group-size">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Groups with different sizes</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Add <code>.input-group-{lg/sm}</code> class to <code>.input-group</code> for Large/Small
                                addon/prepend.</p>
                            <div class="row">
                                <div class="col-sm-4 mb-1">
                                    <div class="input-group input-group-sm mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-1">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inputs Group Sizes end -->
    <!-- Inputs Group with Buttons -->
    <section id="input-group-buttons">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Groups with Buttons</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Add <code>&lt;button&gt;</code> before or after <code>&lt;input&gt;</code> tag</p>
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                    <div class="input-group mb-3">
                                        <button class="btn btn-primary" type="button" id="button-addon1">Button</button>
                                        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i data-feather="search"></i></span>
                                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inputs Group with Buttons end -->
    <!-- Inputs Group with Dropdown -->
    <section id="input-group-dropdown">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Groups with Dropdown</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Add <code>&lt;button&gt;</code> with <code>.dropdown-toggle</code> class and add
                                dropdown-menu after it to get input group with dropdown.</p>
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                    <div class="input-group mb-3">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                                        </ul>
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <div class="input-group">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action before</a></li>
                                            <li><a class="dropdown-item" href="#">Another action before</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                                        </ul>
                                        <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inputs Group with Dropdown end -->
    <!-- Custom file input start -->
    <section id="custom-file-input">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Custom file input</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroupFileAddon01"><i data-feather="upload"></i></span>
                                        <div class="form-file">
                                            <input type="file" class="form-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                            <label class="form-file-label" for="inputGroupFile01">
                                                <span class="form-file-text">Choose file...</span>
                                                <span class="form-file-button">Browse</span>
                                            </label>
                                        </div>
                                    </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <fieldset>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Custom file input end -->
</div>
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Radio</h3>
                <p class="text-subtitle text-muted">Choose one from the list with checkbox</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Radio</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Default Radio</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Default radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Default checked radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                            <label class="form-check-label" for="flexRadioDisabled">
                                Disabled radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked disabled>
                            <label class="form-check-label" for="flexRadioCheckedDisabled">
                                Disabled checked radio
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Colors</h4>
                    </div>
                    <div class="card-body">
                        <p>Use class <code>.form-check-{color}</code> with <code>.form-check</code> to change radio color</p>
                        <div class="form-check form-check-primary">
                            <input class="form-check-input" type="radio" name="Primary" id="Primary" checked>
                            <label class="form-check-label" for="Primary">
                                Primary
                            </label>
                        </div>
                        <div class="form-check form-check-secondary">
                            <input class="form-check-input" type="radio" name="Secondary" id="Secondary" checked>
                            <label class="form-check-label" for="Secondary">
                                Secondary
                            </label>
                        </div>
                        <div class="form-check form-check-warning">
                            <input class="form-check-input" type="radio" name="Warning" id="Warning" checked>
                            <label class="form-check-label" for="Warning">
                                Warning
                            </label>
                        </div>
                        <div class="form-check form-check-danger">
                            <input class="form-check-input" type="radio" name="Danger" id="Danger" checked>
                            <label class="form-check-label" for="Danger">
                                Danger
                            </label>
                        </div>
                        <div class="form-check form-check-success">
                            <input class="form-check-input" type="radio" name="Success" id="Success" checked>
                            <label class="form-check-label" for="Success">
                                Success
                            </label>
                        </div>
                        <div class="form-check form-check-dark">
                            <input class="form-check-input" type="radio" name="Dark" id="Dark" checked>
                            <label class="form-check-label" for="Dark">
                                Dark
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 mb-4 order-md-1 order-last">
                <h3>Select</h3>
                <p class="text-subtitle text-muted">Advanced select field that makes you easier to select data.</p>
            </div>
            <div class="col-12 col-md-6 mb-4 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Select</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="bootstrap-select">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bootstrap Select</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <h6>Basic Select</h6>
                                    <p>Use <code>.form-select</code> class for basic select control.</p>
                                    <fieldset class="form-group">
                                        <select class="form-select" id="basicSelect">
                                            <option>IT</option>
                                            <option>Blade Runner</option>
                                            <option>Thor Ragnarok</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>Disabled Select</h6>
                                    <p>Use <code>disabled</code> attribute for disabled select control.</p>
                                    <fieldset class="form-group">
                                        <select class="form-select" disabled="disabled" id="disabledSelect">
                                            <option>Green</option>
                                            <option>Red</option>
                                            <option>Blue</option>
                                        </select>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap Select end -->
    <!-- Input Group Select start -->
    <section class="input-group-select">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Group Select</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <h6>Basic Select with Input Group</h6>
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                        <select class="form-select" id="inputGroupSelect01">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>Input group append</h6>
                                    <div class="input-group mb-3">
                                        <select class="form-select" id="inputGroupSelect01">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap Select end -->
    <!-- Basic choices start -->
    <section class="basic-choices">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Choices</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-primary">
                                        <a href="https://choices.org/getting-started/installation" target="_blank">Click here</a> for more information
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>Basic Choices</h6>
                                    <p>Use <code>.choices</code> class for basic choices control.</p>
                                    <div class="form-group">
                                        <select class="choices form-select">
                                            <option value="square">Square</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="rombo">Rombo</option>
                                            <option value="romboid">Romboid</option>
                                            <option value="trapeze">Trapeze</option>
                                            <option value="traible">Triangle</option>
                                            <option value="polygon">Polygon</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>Single Select with Label</h6>
                                    <p>Use <code>optgroup</code> attribute for basic choices with Label control.</p>
                                    <div class="form-group">
                                        <select class="choices form-select">
                                            <optgroup label="Figures">
                                                <option value="romboid">Romboid</option>
                                                <option value="trapeze">Trapeze</option>
                                                <option value="triangle">Triangle</option>
                                                <option value="polygon">Polygon</option>
                                            </optgroup>
                                            <optgroup label="Colors">
                                                <option value="red">Red</option>
                                                <option value="green">Green</option>
                                                <option value="blue">Blue</option>
                                                <option value="purple">Purple</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic choices end -->
    <!-- Multiple choices start -->
    <section class="multiple-choices">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Multiple choices</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <h6>Basic Multiple choices</h6>
                                    <p>Use <code>.choices</code> class for basic choices control. Use
                                        <code>multiple="multiple"</code>
                                        attribute for multiple select box.</p>
                                    <div class="form-group">
                                        <select class="choices form-select" multiple="multiple">
                                            <option value="square">Square</option>
                                            <option value="rectangle" selected>Rectangle</option>
                                            <option value="rombo">Rombo</option>
                                            <option value="romboid">Romboid</option>
                                            <option value="trapeze">Trapeze</option>
                                            <option value="traible" selected>Triangle</option>
                                            <option value="polygon">Polygon</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>Multiple Select with Label</h6>
                                    <p>Use <code>optgroup</code> attribute for multiple select box with Label control.</p>
                                    <div class="form-group">
                                        <select class="choices form-select" multiple="multiple">
                                            <optgroup label="Figures">
                                                <option value="romboid">Romboid</option>
                                                <option value="trapeze" selected>Trapeze</option>
                                                <option value="triangle">Triangle</option>
                                                <option value="polygon">Polygon</option>
                                            </optgroup>
                                            <optgroup label="Colors">
                                                <option value="red">Red</option>
                                                <option value="green">Green</option>
                                                <option value="blue" selected>Blue</option>
                                                <option value="purple">Purple</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>Multiple Select with Remove Button</h6>
                                    <p>Use <code>.multiple-remove</code> attribute for multiple select box with remove button.</p>
                                    <div class="form-group">
                                        <select class="choices form-select multiple-remove" multiple="multiple">
                                            <optgroup label="Figures">
                                                <option value="romboid">Romboid</option>
                                                <option value="trapeze" selected>Trapeze</option>
                                                <option value="triangle">Triangle</option>
                                                <option value="polygon">Polygon</option>
                                            </optgroup>
                                            <optgroup label="Colors">
                                                <option value="red">Red</option>
                                                <option value="green">Green</option>
                                                <option value="blue" selected>Blue</option>
                                                <option value="purple">Purple</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>choices with Light Background Options</h6>
                                    <p>Use <code>.select-light-{colorName}</code> class for light background to selected
                                        Options.</p>
                                    <div class="form-group">
                                        <select class="choices form-select select-light-danger" multiple="multiple">
                                            <option value="square">Square</option>
                                            <option value="rectangle" selected>Rectangle</option>
                                            <option value="rombo">Rombo</option>
                                            <option value="romboid">Romboid</option>
                                            <option value="trapeze">Trapeze</option>
                                            <option value="traible" selected>Triangle</option>
                                            <option value="polygon">Polygon</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Multiple choices end -->
</div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('voler/assets/vendors/choices.js/choices.min.css', 'themes') }}" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('voler/assets/vendors/choices.js/choices.min.js', 'themes') }}"></script>
{% endblock %}
