{% extends '@Layouts/base.html.twig' %}

{% block favicons %}{% include '@Layouts/themes/voler/partials/favicon.html.twig' %}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('voler/assets/css/bootstrap.css', 'themes') }}">
<link rel="stylesheet" href="{{ asset('voler/assets/css/app.css', 'themes') }}">
{% endblock %}

{% block body %}<body>{% endblock %}

{% block containers %}

{#    {% include '@Layouts/themes/voler/partials/loader.html.twig' %}#}

    {% block contents %}{% endblock %}

{% endblock %}

{% block javascripts %}

<script src="{{ asset('voler/assets/js/feather-icons/feather.min.js', 'themes') }}"></script>
<script src="{{ asset('voler/assets/js/app.js', 'themes') }}"></script>
<script src="{{ asset('voler/assets/js/main.js', 'themes') }}"></script>
{% endblock %}
