{% extends '@Layouts/base.html.twig' %}

{% block favicons %}{% include '@Layouts/themes/voler/partials/favicon.html.twig' %}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('voler/assets/css/bootstrap.css', 'themes') }}">
    <link rel="stylesheet" href="{{ asset('voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.css', 'themes') }}">
    <link rel="stylesheet" href="{{ asset('voler/assets/css/app.css', 'themes') }}">
{% endblock %}

{% block body %}<body>{% endblock %}

{% block containers %}

    <div id="app">
        {% block sidebar %}{% include '@Layouts/themes/voler/partials/sidebar.html.twig' %}{%- endblock %}
        <div id="main">
            {% block header %}{% include '@Layouts/themes/voler/partials/header.html.twig' %}{% endblock %}

            {% block contents %}{% endblock %}

            {% block footer %}{% include '@Layouts/themes/voler/partials/footer.html.twig' %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

<script src="{{ asset('voler/assets/js/feather-icons/feather.min.js', 'themes') }}"></script>
<script src="{{ asset('voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js', 'themes') }}"></script>
<script src="{{ asset('voler/assets/js/app.js', 'themes') }}"></script>
<script src="{{ asset('voler/assets/js/main.js', 'themes') }}"></script>
{% endblock %}
