{% extends '@Layouts/themes/voler/bases/full.html.twig' %}

{% block contents %}

<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>ChartJS</h3>
                <p class="text-subtitle text-muted">Lot of variations and customizable chart made with ChartJS. Full documentation click <a href="https://www.chartjs.org/">here</a>.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'voler'}) }}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ChartJS</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bar Chart</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="bar"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Line Chart</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="line"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('voler/assets/vendors/chartjs/Chart.min.css', 'themes') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('voler/assets/vendors/chartjs/Chart.min.js', 'themes') }}"></script>
    <script src="{{ asset('voler/assets/js/pages/ui-chartjs.js', 'themes') }}"></script>
{% endblock %}
