{% extends '@Layouts/base.html.twig' %}

{% block containers %}

    {% block header %}{% include '@Layouts/themes/niceadmin/partials/header.html.twig' %}{%- endblock %}

    {% block sidebar %}{% include '@Layouts/themes/niceadmin/partials/sidebar.html.twig' %}{%- endblock %}

    {% block contents %}{% endblock %}

    {% block footer %}{% include '@Layouts/themes/niceadmin/partials/footer.html.twig' %}{%- endblock %}

    <!-- Back To Top -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}

{% block stylesheets %}
<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<!-- Vendor CSS Files -->
<link href="{{ asset('niceadmin/assets/vendor/bootstrap/css/bootstrap.min.css', 'themes') }}" rel="stylesheet">
<link href="{{ asset('niceadmin/assets/vendor/bootstrap-icons/bootstrap-icons.css', 'themes') }}" rel="stylesheet">
<link href="{{ asset('niceadmin/assets/vendor/boxicons/css/boxicons.min.css', 'themes') }}" rel="stylesheet">
<link href="{{ asset('niceadmin/assets/vendor/quill/quill.snow.css', 'themes') }}" rel="stylesheet">
<link href="{{ asset('niceadmin/assets/vendor/quill/quill.bubble.css', 'themes') }}" rel="stylesheet">
<link href="{{ asset('niceadmin/assets/vendor/remixicon/remixicon.css', 'themes') }}" rel="stylesheet">
<link href="{{ asset('niceadmin/assets/vendor/simple-datatables/style.css', 'themes') }}" rel="stylesheet">
<!-- Template Main CSS File -->
<link href="{{ asset('niceadmin/assets/css/style.css', 'themes') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<!-- Vendor JS Files -->
<script src="{{ asset('niceadmin/assets/vendor/apexcharts/apexcharts.min.js', 'themes') }}"></script>
<script src="{{ asset('niceadmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js', 'themes') }}"></script>
<script src="{{ asset('niceadmin/assets/vendor/chart.js/chart.umd.js', 'themes') }}"></script>
<script src="{{ asset('niceadmin/assets/vendor/echarts/echarts.min.js', 'themes') }}"></script>
<script src="{{ asset('niceadmin/assets/vendor/quill/quill.js', 'themes') }}"></script>
<script src="{{ asset('niceadmin/assets/vendor/simple-datatables/simple-datatables.js', 'themes') }}"></script>
<script src="{{ asset('niceadmin/assets/vendor/tinymce/tinymce.min.js', 'themes') }}"></script>
<script src="{{ asset('niceadmin/assets/vendor/php-email-form/validate.js', 'themes') }}"></script>
<!-- Template Main JS File -->
<script src="{{ asset('niceadmin/assets/js/main.js', 'themes') }}"></script>
{% endblock %}

{% block favicons %}{% include '@Layouts/themes/niceadmin/partials/favicon.html.twig' %}{% endblock %}
