{% extends '@Layouts/themes/niceadmin/bases/empty.html.twig' %}

{% block contents %}

    <main>
        <div class="container">

            <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <h1>404</h1>
                <h2>The page you are looking for doesn't exist.</h2>
                <a class="btn" href="{{ path('kw.layouts.dashboard.index', {'theme': 'niceadmin'}) }}">Back to home</a>
                <img src="{{ asset('niceadmin/assets/img/not-found.svg', 'themes') }}" class="img-fluid py-5" alt="Page Not Found">
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                    Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
                </div>
            </section>

        </div>
    </main>
    <!-- End #main -->

{% endblock %}

{% block title %}{{ controller_name }}{% endblock %}
