{% block contents %}

<!-- Begin Container -->
<div class="container-fluid h-100 error-01">
	<div class="row justify-content-center align-items-center h-100">
		<div class="col-12">
			<!-- Begin Container -->
			<div class="error-container mx-auto text-center">
				<h1>404</h1>
				<h2>This page cannot be found! </h2>
				<p>But we have lots of other pages for you to see. </p>
				<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}" class="btn btn-shadow">
					Go Back
				</a>
			</div>
			<!-- End Container -->
		</div>
		<!-- End Col -->
	</div>
	<!-- End Row -->
</div>
<!-- End Container -->
{% endblock %}

{% block body %}<body class="bg-error-01">{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/empty.html.twig' %}

