
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{{ path('kw.layouts.dashboard.index', {'theme': 'adminkit'}) }}">
            <span class="align-middle">AdminKit</span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>
            <li class="sidebar-item active">
                <a class="sidebar-link" href="{{ path('kw.layouts.dashboard.index', {'theme': 'adminkit'}) }}">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('kw.layouts.profile.my-profile', {'theme': 'adminkit'}) }}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('kw.layouts.security.signin', {'theme': 'adminkit'}) }}">
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('kw.layouts.security.signup', {'theme': 'adminkit'}) }}">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('kw.layouts.page.blank', {'theme': 'adminkit'}) }}">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
                </a>
            </li>
            <li class="sidebar-header">
                Tools & Components
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="javascript:void(0);">
                    <i class="align-middle" data-feather="square"></i> <span class="align-middle">Buttons</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('kw.layouts.form.layout', {'theme': 'adminkit'}) }}">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="javascript:void(0);">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Cards</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="javascript:void(0);">
                    <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Typography</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="icons-feather.html">
                    <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
                </a>
            </li>
            <li class="sidebar-header">
                Plugins & Addons
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('kw.layouts.chart.chartjs', {'theme': 'adminkit'}) }}">
                    <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="javascript:void(0);">
                    <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
                <div class="mb-3 text-sm">
                    Are you looking for more components? Check out our premium version.
                </div>
                <div class="d-grid">
                    <a href="javascript:void(0);" class="btn btn-primary">Upgrade to Pro</a>
                </div>
            </div>
        </div>
    </div>
</nav>
