<!DOCTYPE html>
<!--
Item Name: Elisyam - Web App & Admin Dashboard Template
Version: 1.5
Author: SAEROX

** A license must be purchased in order to legally use this template for your project **
-->
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Elisyam - Forms Wizard</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Google Fonts -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script>
			WebFont.load({
            google: {"families":["Montserrat:400,500,600,700","Noto+Sans:400,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
        </script>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
		<!-- Stylesheet -->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/css/base/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/css/base/elisyam-1.5.min.css">
		<!-- Tweaks for older IEs-->
		<!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	</head>

	<body id="page-top">
		<!-- Begin Preloader -->
		<div id="preloader">
			<div class="canvas">
				<img src="../assets/img/logo.png" alt="logo" class="loader-logo">
				<div class="spinner"></div>
			</div>
		</div>
		<!-- End Preloader -->
		<div class="page">
			<!-- Begin Header -->
			<header class="header">
				<nav class="navbar fixed-top">
					<!-- Begin Search Box-->
					<div class="search-box">
						<button class="dismiss"><i class="ion-close-round"></i></button>
						<form id="searchForm" action="#" role="search">
							<input type="search" placeholder="Search something ..." class="form-control">
						</form>
					</div>
					<!-- End Search Box-->
					<!-- Begin Topbar -->
					<div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
						<!-- Begin Logo -->
						<div class="navbar-header">
							<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}" class="navbar-brand">
								<div class="brand-image brand-big">
									<img src="../assets/img/logo-big.png" alt="logo" class="logo-big">
								</div>
								<div class="brand-image brand-small">
									<img src="../assets/img/logo.png" alt="logo" class="logo-small">
								</div>
							</a>
							<!-- Toggle Button -->
							<a id="toggle-btn" href="javascript:void(0);" class="menu-btn active">
								<span></span>
								<span></span>
								<span></span>
							</a>
							<!-- End Toggle -->
						</div>
						<!-- End Logo -->
						<!-- Begin Navbar Menu -->
						<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
							<!-- Search -->
							<li class="nav-item d-flex align-items-center"><a id="search" href="javascript:void(0);"><i class="la la-search"></i></a></li>
							<!-- End Search -->
							<!-- Begin Notifications -->
							<li class="nav-item dropdown"><a id="notifications" rel="nofollow" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="la la-bell animated infinite swing"></i><span class="badge-pulse"></span></a>
								<ul aria-labelledby="notifications" class="dropdown-menu notification">
									<li>
										<div class="notifications-header">
											<div class="title">Notifications (4)</div>
											<div class="notifications-overlay"></div>
											<img src="../assets/img/notifications/01.jpg" alt="..." class="img-fluid">
										</div>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-user"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													New user registered
												</div>
												<span class="date">2 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-calendar-check-o"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													New event added
												</div>
												<span class="date">7 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-history"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													Server rebooted
												</div>
												<span class="date">7 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-twitter"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													You have 3 new followers
												</div>
												<span class="date">10 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a rel="nofollow" href="javascript:void(0);" class="dropdown-item all-notifications text-center">View All Notifications</a>
									</li>
								</ul>
							</li>
							<!-- End Notifications -->
							<!-- User -->
							<li class="nav-item dropdown"><a id="user" rel="nofollow" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="../assets/img/avatar/avatar-01.jpg" alt="..." class="avatar rounded-circle"></a>
								<ul aria-labelledby="user" class="user-size dropdown-menu">
									<li class="welcome">
										<a href="javascript:void(0);" class="edit-profil"><i class="la la-gear"></i></a>
										<img src="../assets/img/avatar/avatar-01.jpg" alt="..." class="rounded-circle">
									</li>
									<li>
										<a href="pages-profile.html" class="dropdown-item">
											Profile
										</a>
									</li>
									<li>
										<a href="app-mail.html" class="dropdown-item">
											Messages
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item no-padding-bottom">
											Settings
										</a>
									</li>
									<li class="separator"></li>
									<li>
										<a href="pages-faq.html" class="dropdown-item no-padding-top">
											Faq
										</a>
									</li>
									<li><a rel="nofollow" href="pages-login.html" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
								</ul>
							</li>
							<!-- End User -->
							<!-- Begin Quick Actions -->
							<li class="nav-item"><a href="#off-canvas" class="open-sidebar"><i class="la la-ellipsis-h"></i></a></li>
							<!-- End Quick Actions -->
						</ul>
						<!-- End Navbar Menu -->
					</div>
					<!-- End Topbar -->
				</nav>
			</header>
			<!-- End Header -->
			<!-- Begin Page Content -->
			<div class="page-content d-flex align-items-stretch">
				<div class="default-sidebar">
					<!-- Begin Side Navbar -->
					<nav class="side-navbar box-scroll sidebar-scroll">
						<!-- Begin Main Navigation -->
						<ul class="list-unstyled">
							<li><a href="#dropdown-db" aria-expanded="false" data-toggle="collapse"><i class="la la-columns"></i><span>Dashboard</span></a>
								<ul id="dropdown-db" class="collapse list-unstyled pt-0">
									<li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Default</a></li>
									<li><a href="db-clean.html">Clean</a></li>
									<li><a href="db-compact.html">Compact</a></li>
									<li><a href="db-modern.html">Modern</a></li>
									<li><a href="db-social.html">Social</a></li>
									<li><a href="db-smarthome.html">Smarthome</a></li>
									<li><a href="db-all.html">All</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-app" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i><span>Applications</span></a>
								<ul id="dropdown-app" class="collapse list-unstyled pt-0">
									<li><a href="app-calendar.html">Calendar</a></li>
									<li><a href="app-chat.html">Chat</a></li>
									<li><a href="app-mail.html">Mail</a></li>
									<li><a href="app-contact.html">Contact</a></li>
								</ul>
							</li>
							<li><a href="components-widgets.html"><i class="la la-spinner"></i><span>Widgets</span></a></li>
						</ul>
						<span class="heading">Components</span>
						<ul class="list-unstyled">
							<li><a href="#dropdown-ui" aria-expanded="false" data-toggle="collapse"><i class="la la-share-alt"></i><span>UI Elements</span></a>
								<ul id="dropdown-ui" class="collapse list-unstyled pt-0">
									<li><a href="components-buttons.html">Buttons</a></li>
									<li><a href="components-alerts.html">Alerts</a></li>
									<li><a href="components-modal.html">Modal</a></li>
									<li><a href="components-notifications.html">Noty</a></li>
									<li><a href="components-timeline.html">Timeline</a></li>
									<li><a href="components-progress.html">Progress</a></li>
									<li><a href="components-tabs.html">Tabs</a></li>
									<li><a href="components-charts.html">Chart Js</a></li>
									<li><a href="components-accordion.html">Accordion</a></li>
									<li><a href="components-popover.html">Popover</a></li>
									<li><a href="components-tooltip.html">Tooltip</a></li>
									<li><a href="components-scrollable.html">Scrollable</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-icons" aria-expanded="false" data-toggle="collapse"><i class="la la-font"></i><span>Icons</span></a>
								<ul id="dropdown-icons" class="collapse list-unstyled pt-0">
									<li><a href="icons-lineawesome.html">Line Awesome</a></li>
									<li><a href="icons-themify.html">Themify</a></li>
									<li><a href="icons-ionicons.html">Ionicons</a></li>
									<li><a href="icons-meteocons.html">Meteocons</a></li>
								</ul>
							</li>
							<li class="active"><a href="#dropdown-forms" aria-expanded="true" data-toggle="collapse"><i class="la la-list-alt"></i><span>Forms</span></a>
								<ul id="dropdown-forms" class="collapse list-unstyled show pt-0">
									<li><a href="forms-basic.html">Form Basic</a></li>
									<li><a href="forms-validation.html">Form Validation</a></li>
									<li><a class="active" href="forms-wizard.html">Form Wizard</a></li>
									<li><a href="forms-select.html">Bootstrap Select</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-tables" aria-expanded="false" data-toggle="collapse"><i class="la la-th-large"></i><span>Tables</span></a>
								<ul id="dropdown-tables" class="collapse list-unstyled pt-0">
									<li><a href="tables-basic.html">Basic</a></li>
									<li><a href="tables-datatables.html">Datatables</a></li>
									<li><a href="tables-tabledit.html">Tabledit</a></li>
								</ul>
							</li>
							<li><a href="maps-leaflet.html"><i class="la la-map"></i><span>Maps</span></a></li>
						</ul>
						<span class="heading">Pages</span>
						<ul class="list-unstyled">
							<li><a href="#dropdown-authentication" aria-expanded="false" data-toggle="collapse"><i class="la la-user"></i><span>Authentication</span></a>
								<ul id="dropdown-authentication" class="collapse list-unstyled pt-0">
									<li><a href="pages-login.html">Login</a></li>
									<li><a href="pages-login-02.html">Login 02</a></li>
									<li><a href="pages-register.html">Register</a></li>
									<li><a href="pages-forgot-password.html">Forgot Password</a></li>
									<li><a href="pages-lock-screen.html">Lock Screen</a></li>
									<li><a href="pages-mail-confirm.html">Mail Confirmation</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-generic" aria-expanded="false" data-toggle="collapse"><i class="la la-file-text"></i><span>Generic</span></a>
								<ul id="dropdown-generic" class="collapse list-unstyled pt-0">
									<li><a href="pages-coming-soon.html">Coming Soon</a></li>
									<li><a href="pages-profile.html">Profile</a></li>
									<li><a href="pages-invoice.html">Invoice</a></li>
									<li><a href="pages-search.html">Search</a></li>
									<li><a href="pages-faq.html">FAQ</a></li>
									<li><a href="pages-blank.html">Blank</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-social" aria-expanded="false" data-toggle="collapse"><i class="la la-comments"></i><span>Social</span></a>
								<ul id="dropdown-social" class="collapse list-unstyled pt-0">
									<li><a href="pages-newsfeed.html">Newsfeed</a></li>
									<li><a href="pages-about.html">About</a></li>
									<li><a href="pages-events.html">Events</a></li>
									<li><a href="pages-friends.html">Friends</a></li>
									<li><a href="pages-groups.html">Groups</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-email" aria-expanded="false" data-toggle="collapse"><i class="la la-at"></i><span>Email</span></a>
								<ul id="dropdown-email" class="collapse list-unstyled pt-0">
									<li><a href="email-welcome.html">Welcome</a></li>
									<li><a href="email-password.html">Reset Password</a></li>
									<li><a href="email-order.html">Order Confirmation</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-pricing" aria-expanded="false" data-toggle="collapse"><i class="la la-usd"></i><span>Pricing</span></a>
								<ul id="dropdown-pricing" class="collapse list-unstyled pt-0">
									<li><a href="pages-pricing-tables-01.html">Style 01</a></li>
									<li><a href="pages-pricing-tables-02.html">Style 02</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-error" aria-expanded="false" data-toggle="collapse"><i class="la la-exclamation-triangle"></i><span>Errors</span></a>
								<ul id="dropdown-error" class="collapse list-unstyled pt-0">
									<li><a href="pages-404-01.html">Style 01</a></li>
									<li><a href="pages-404-02.html">Style 02</a></li>
								</ul>
							</li>
						</ul>
						<!-- End Main Navigation -->
					</nav>
					<!-- End Side Navbar -->
				</div>
				<!-- End Left Sidebar -->
				<div class="content-inner">
					<div class="container-fluid">
						<!-- Begin Page Header-->
						<div class="row">
							<div class="page-header">
								<div class="d-flex align-items-center">
									<h2 class="page-header-title">Forms Wizard</h2>
									<div>
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}"><i class="ti ti-home"></i></a></li>
											<li class="breadcrumb-item"><a href="javascript:void(0);">Components</a></li>
											<li class="breadcrumb-item active">Forms Wizard</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- End Page Header -->
						<div class="row flex-row">
							<div class="col-xl-12">
								<!-- Form -->
								<div class="widget has-shadow">
									<div class="widget-header bordered no-actions d-flex align-items-center">
										<h4>Wizard Example</h4>
									</div>
									<div class="widget-body">
										<div class="row flex-row justify-content-center">
											<div class="col-xl-10">
												<div id="rootwizard">
													<div class="step-container">
														<div class="step-wizard">
															<div class="progress">
																<div class="progressbar"></div>
															</div>
															<ul>
																<li>
																	<a href="#tab1" data-toggle="tab">
																		<span class="step">1</span>
																		<span class="title">Step 1</span>
																	</a>
																</li>
																<li>
																	<a href="#tab2" data-toggle="tab">
																		<span class="step">2</span>
																		<span class="title">Step 2</span>
																	</a>
																</li>
																<li>
																	<a href="#tab3" data-toggle="tab">
																		<span class="step">3</span>
																		<span class="title">Step 3</span>
																	</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="tab-content">
														<div class="tab-pane" id="tab1">
															<div class="section-title mt-5 mb-5">
																<h4>Client Informations</h4>
															</div>
															<div class="form-group row mb-3">
																<div class="col-xl-6 mb-3">
																	<label class="form-control-label">Name<span class="text-danger ml-2">*</span></label>
																	<input type="text" value="David Green" class="form-control">
																</div>
																<div class="col-xl-6">
																	<label class="form-control-label">Email<span class="text-danger ml-2">*</span></label>
																	<input type="email" value="dgreen@elisyam.com" class="form-control">
																</div>
															</div>
															<div class="form-group row mb-5">
																<div class="col-xl-6 mb-3">
																	<label class="form-control-label">Phone</label>
																	<div class="input-group">
																		<span class="input-group-addon addon-secondary">
																			<i class="la la-phone"></i>
																		</span>
																		<input type="text" class="form-control" value="+00 987 654 32">
																	</div>
																</div>
																<div class="col-xl-6">
																	<label class="form-control-label">Occupation</label>
																	<input type="text" value="UX Designer" class="form-control">
																</div>
															</div>
															<div class="section-title mt-5 mb-5">
																<h4>Address</h4>
															</div>
															<div class="form-group row mb-3">
																<div class="col-xl-6 mb-3">
																	<label class="form-control-label">Address<span class="text-danger ml-2">*</span></label>
																	<input type="text" value="123 Century Blvd" class="form-control">
																</div>
																<div class="col-xl-6">
																	<label class="form-control-label">Country<span class="text-danger ml-2">*</span></label>
																	<select name="country" class="custom-select form-control">
																		<option value="">Select</option>
																		<option value="AF">Afghanistan</option>
																		<option value="AX">Åland Islands</option>
																		<option value="AL">Albania</option>
																		<option value="DZ">Algeria</option>
																		<option value="AS">American Samoa</option>
																		<option value="AD">Andorra</option>
																		<option value="AO">Angola</option>
																		<option value="AI">Anguilla</option>
																		<option value="AQ">Antarctica</option>
																		<option value="AG">Antigua and Barbuda</option>
																		<option value="AR">Argentina</option>
																		<option value="AM">Armenia</option>
																		<option value="AW">Aruba</option>
																		<option value="AU">Australia</option>
																		<option value="AT">Austria</option>
																		<option value="AZ">Azerbaijan</option>
																		<option value="BS">Bahamas</option>
																		<option value="BH">Bahrain</option>
																		<option value="BD">Bangladesh</option>
																		<option value="BB">Barbados</option>
																		<option value="BY">Belarus</option>
																		<option value="BE">Belgium</option>
																		<option value="BZ">Belize</option>
																		<option value="BJ">Benin</option>
																		<option value="BM">Bermuda</option>
																		<option value="BT">Bhutan</option>
																		<option value="BO">Bolivia, Plurinational State of</option>
																		<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
																		<option value="BA">Bosnia and Herzegovina</option>
																		<option value="BW">Botswana</option>
																		<option value="BV">Bouvet Island</option>
																		<option value="BR">Brazil</option>
																		<option value="IO">British Indian Ocean Territory</option>
																		<option value="BN">Brunei Darussalam</option>
																		<option value="BG">Bulgaria</option>
																		<option value="BF">Burkina Faso</option>
																		<option value="BI">Burundi</option>
																		<option value="KH">Cambodia</option>
																		<option value="CM">Cameroon</option>
																		<option value="CA">Canada</option>
																		<option value="CV">Cape Verde</option>
																		<option value="KY">Cayman Islands</option>
																		<option value="CF">Central African Republic</option>
																		<option value="TD">Chad</option>
																		<option value="CL">Chile</option>
																		<option value="CN">China</option>
																		<option value="CX">Christmas Island</option>
																		<option value="CC">Cocos (Keeling) Islands</option>
																		<option value="CO">Colombia</option>
																		<option value="KM">Comoros</option>
																		<option value="CG">Congo</option>
																		<option value="CD">Congo, the Democratic Republic of the</option>
																		<option value="CK">Cook Islands</option>
																		<option value="CR">Costa Rica</option>
																		<option value="CI">Côte d'Ivoire</option>
																		<option value="HR">Croatia</option>
																		<option value="CU">Cuba</option>
																		<option value="CW">Curaçao</option>
																		<option value="CY">Cyprus</option>
																		<option value="CZ">Czech Republic</option>
																		<option value="DK">Denmark</option>
																		<option value="DJ">Djibouti</option>
																		<option value="DM">Dominica</option>
																		<option value="DO">Dominican Republic</option>
																		<option value="EC">Ecuador</option>
																		<option value="EG">Egypt</option>
																		<option value="SV">El Salvador</option>
																		<option value="GQ">Equatorial Guinea</option>
																		<option value="ER">Eritrea</option>
																		<option value="EE">Estonia</option>
																		<option value="ET">Ethiopia</option>
																		<option value="FK">Falkland Islands (Malvinas)</option>
																		<option value="FO">Faroe Islands</option>
																		<option value="FJ">Fiji</option>
																		<option value="FI">Finland</option>
																		<option value="FR">France</option>
																		<option value="GF">French Guiana</option>
																		<option value="PF">French Polynesia</option>
																		<option value="TF">French Southern Territories</option>
																		<option value="GA">Gabon</option>
																		<option value="GM">Gambia</option>
																		<option value="GE">Georgia</option>
																		<option value="DE">Germany</option>
																		<option value="GH">Ghana</option>
																		<option value="GI">Gibraltar</option>
																		<option value="GR">Greece</option>
																		<option value="GL">Greenland</option>
																		<option value="GD">Grenada</option>
																		<option value="GP">Guadeloupe</option>
																		<option value="GU">Guam</option>
																		<option value="GT">Guatemala</option>
																		<option value="GG">Guernsey</option>
																		<option value="GN">Guinea</option>
																		<option value="GW">Guinea-Bissau</option>
																		<option value="GY">Guyana</option>
																		<option value="HT">Haiti</option>
																		<option value="HM">Heard Island and McDonald Islands</option>
																		<option value="VA">Holy See (Vatican City State)</option>
																		<option value="HN">Honduras</option>
																		<option value="HK">Hong Kong</option>
																		<option value="HU">Hungary</option>
																		<option value="IS">Iceland</option>
																		<option value="IN">India</option>
																		<option value="ID">Indonesia</option>
																		<option value="IR">Iran, Islamic Republic of</option>
																		<option value="IQ">Iraq</option>
																		<option value="IE">Ireland</option>
																		<option value="IM">Isle of Man</option>
																		<option value="IL">Israel</option>
																		<option value="IT">Italy</option>
																		<option value="JM">Jamaica</option>
																		<option value="JP">Japan</option>
																		<option value="JE">Jersey</option>
																		<option value="JO">Jordan</option>
																		<option value="KZ">Kazakhstan</option>
																		<option value="KE">Kenya</option>
																		<option value="KI">Kiribati</option>
																		<option value="KP">Korea, Democratic People's Republic of</option>
																		<option value="KR">Korea, Republic of</option>
																		<option value="KW">Kuwait</option>
																		<option value="KG">Kyrgyzstan</option>
																		<option value="LA">Lao People's Democratic Republic</option>
																		<option value="LV">Latvia</option>
																		<option value="LB">Lebanon</option>
																		<option value="LS">Lesotho</option>
																		<option value="LR">Liberia</option>
																		<option value="LY">Libya</option>
																		<option value="LI">Liechtenstein</option>
																		<option value="LT">Lithuania</option>
																		<option value="LU">Luxembourg</option>
																		<option value="MO">Macao</option>
																		<option value="MK">Macedonia, the former Yugoslav Republic of</option>
																		<option value="MG">Madagascar</option>
																		<option value="MW">Malawi</option>
																		<option value="MY">Malaysia</option>
																		<option value="MV">Maldives</option>
																		<option value="ML">Mali</option>
																		<option value="MT">Malta</option>
																		<option value="MH">Marshall Islands</option>
																		<option value="MQ">Martinique</option>
																		<option value="MR">Mauritania</option>
																		<option value="MU">Mauritius</option>
																		<option value="YT">Mayotte</option>
																		<option value="MX">Mexico</option>
																		<option value="FM">Micronesia, Federated States of</option>
																		<option value="MD">Moldova, Republic of</option>
																		<option value="MC">Monaco</option>
																		<option value="MN">Mongolia</option>
																		<option value="ME">Montenegro</option>
																		<option value="MS">Montserrat</option>
																		<option value="MA">Morocco</option>
																		<option value="MZ">Mozambique</option>
																		<option value="MM">Myanmar</option>
																		<option value="NA">Namibia</option>
																		<option value="NR">Nauru</option>
																		<option value="NP">Nepal</option>
																		<option value="NL">Netherlands</option>
																		<option value="NC">New Caledonia</option>
																		<option value="NZ">New Zealand</option>
																		<option value="NI">Nicaragua</option>
																		<option value="NE">Niger</option>
																		<option value="NG">Nigeria</option>
																		<option value="NU">Niue</option>
																		<option value="NF">Norfolk Island</option>
																		<option value="MP">Northern Mariana Islands</option>
																		<option value="NO">Norway</option>
																		<option value="OM">Oman</option>
																		<option value="PK">Pakistan</option>
																		<option value="PW">Palau</option>
																		<option value="PS">Palestinian Territory, Occupied</option>
																		<option value="PA">Panama</option>
																		<option value="PG">Papua New Guinea</option>
																		<option value="PY">Paraguay</option>
																		<option value="PE">Peru</option>
																		<option value="PH">Philippines</option>
																		<option value="PN">Pitcairn</option>
																		<option value="PL">Poland</option>
																		<option value="PT">Portugal</option>
																		<option value="PR">Puerto Rico</option>
																		<option value="QA">Qatar</option>
																		<option value="RE">Réunion</option>
																		<option value="RO">Romania</option>
																		<option value="RU">Russian Federation</option>
																		<option value="RW">Rwanda</option>
																		<option value="BL">Saint Barthélemy</option>
																		<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
																		<option value="KN">Saint Kitts and Nevis</option>
																		<option value="LC">Saint Lucia</option>
																		<option value="MF">Saint Martin (French part)</option>
																		<option value="PM">Saint Pierre and Miquelon</option>
																		<option value="VC">Saint Vincent and the Grenadines</option>
																		<option value="WS">Samoa</option>
																		<option value="SM">San Marino</option>
																		<option value="ST">Sao Tome and Principe</option>
																		<option value="SA">Saudi Arabia</option>
																		<option value="SN">Senegal</option>
																		<option value="RS">Serbia</option>
																		<option value="SC">Seychelles</option>
																		<option value="SL">Sierra Leone</option>
																		<option value="SG">Singapore</option>
																		<option value="SX">Sint Maarten (Dutch part)</option>
																		<option value="SK">Slovakia</option>
																		<option value="SI">Slovenia</option>
																		<option value="SB">Solomon Islands</option>
																		<option value="SO">Somalia</option>
																		<option value="ZA">South Africa</option>
																		<option value="GS">South Georgia and the South Sandwich Islands</option>
																		<option value="SS">South Sudan</option>
																		<option value="ES">Spain</option>
																		<option value="LK">Sri Lanka</option>
																		<option value="SD">Sudan</option>
																		<option value="SR">Suriname</option>
																		<option value="SJ">Svalbard and Jan Mayen</option>
																		<option value="SZ">Swaziland</option>
																		<option value="SE">Sweden</option>
																		<option value="CH">Switzerland</option>
																		<option value="SY">Syrian Arab Republic</option>
																		<option value="TW">Taiwan, Province of China</option>
																		<option value="TJ">Tajikistan</option>
																		<option value="TZ">Tanzania, United Republic of</option>
																		<option value="TH">Thailand</option>
																		<option value="TL">Timor-Leste</option>
																		<option value="TG">Togo</option>
																		<option value="TK">Tokelau</option>
																		<option value="TO">Tonga</option>
																		<option value="TT">Trinidad and Tobago</option>
																		<option value="TN">Tunisia</option>
																		<option value="TR">Turkey</option>
																		<option value="TM">Turkmenistan</option>
																		<option value="TC">Turks and Caicos Islands</option>
																		<option value="TV">Tuvalu</option>
																		<option value="UG">Uganda</option>
																		<option value="UA">Ukraine</option>
																		<option value="AE">United Arab Emirates</option>
																		<option value="GB">United Kingdom</option>
																		<option value="US" selected>United States</option>
																		<option value="UM">United States Minor Outlying Islands</option>
																		<option value="UY">Uruguay</option>
																		<option value="UZ">Uzbekistan</option>
																		<option value="VU">Vanuatu</option>
																		<option value="VE">Venezuela, Bolivarian Republic of</option>
																		<option value="VN">Viet Nam</option>
																		<option value="VG">Virgin Islands, British</option>
																		<option value="VI">Virgin Islands, U.S.</option>
																		<option value="WF">Wallis and Futuna</option>
																		<option value="EH">Western Sahara</option>
																		<option value="YE">Yemen</option>
																		<option value="ZM">Zambia</option>
																		<option value="ZW">Zimbabwe</option>
																	</select>
																</div>
															</div>
															<div class="form-group row mb-3">
																<div class="col-xl-4 mb-3">
																	<label class="form-control-label">City<span class="text-danger ml-2">*</span></label>
																	<input type="text" value="Los Angeles" class="form-control">
																</div>
																<div class="col-xl-4 mb-5">
																	<label class="form-control-label">State<span class="text-danger ml-2">*</span></label>
																	<input type="email" value="CA" class="form-control">
																</div>
																<div class="col-xl-4">
																	<label class="form-control-label">Zip<span class="text-danger ml-2">*</span></label>
																	<input type="email" value="90045" class="form-control">
																</div>
															</div>
															<ul class="pager wizard text-right">
																<li class="previous d-inline-block">
																	<a href="javascript:;" class="btn btn-secondary ripple">Previous</a>
																</li>
																<li class="next d-inline-block">
																	<a href="javascript:;" class="btn btn-gradient-01">Next</a>
																</li>
															</ul>
														</div>
														<div class="tab-pane" id="tab2">
															<div class="section-title mt-5 mb-5">
																<h4>Account Details</h4>
															</div>
															<div class="form-group row mb-3">
																<div class="col-xl-6 mb-3">
																	<label class="form-control-label">Username<span class="text-danger ml-2">*</span></label>
																	<input type="text" value="DGreen" class="form-control">
																</div>
																<div class="col-xl-6">
																	<label class="form-control-label">Password<span class="text-danger ml-2">*</span></label>
																	<input type="text" value="**********" class="form-control">
																</div>
															</div>
															<div class="form-group row mb-3">
																<div class="col-xl-12">
																	<label class="form-control-label">Url</label>
																	<input type="url" value="http://mywebsite.com" class="form-control">
																</div>
															</div>
															<div class="section-title mt-5 mb-5">
																<h4>Billing Information</h4>
															</div>
															<div class="form-group row mb-3">
																<div class="col-xl-12 mb-3">
																	<label class="form-control-label">Card Number</label>
																	<input type="text" value="98765432145698547" class="form-control">
																</div>
															</div>
															<div class="form-group row mb-3">
																<div class="col-xl-4 mb-3">
																	<label class="form-control-label">Exp Month<span class="text-danger ml-2">*</span></label>
																	<select name="exp-month" class="custom-select form-control">
																		<option value="">Select</option>
																		<option value="01">01</option>
																		<option value="02">02</option>
																		<option value="03">03</option>
																		<option value="04">04</option>
																		<option value="05">05</option>
																		<option value="06" selected>06</option>
																		<option value="07">07</option>
																		<option value="08">08</option>
																		<option value="09">09</option>
																		<option value="10">10</option>
																		<option value="11">11</option>
																		<option value="12">12</option>
																	</select>
																</div>
																<div class="col-xl-4 mb-3">
																	<label class="form-control-label">Exp Year<span class="text-danger ml-2">*</span></label>
																	<select name="exp-month" class="custom-select form-control">
																		<option value="2018">2018</option>
																		<option value="2019">2019</option>
																		<option value="2020">2020</option>
																		<option value="2021">2021</option>
																		<option value="2022">2022</option>
																		<option value="2023" selected>2023</option>
																		<option value="2024">2024</option>
																	</select>
																</div>
																<div class="col-xl-4">
																	<label class="form-control-label">CVV<span class="text-danger ml-2">*</span></label>
																	<input type="email" value="651" class="form-control">
																</div>
															</div>
															<div class="form-group row mb-3">
																<div class="col-xl-12">
																	<div class="styled-checkbox">
																		<input type="checkbox" name="savecard" id="check-card">
																		<label for="check-card">Save this card</label>
																	</div>
																</div>
															</div>
															<ul class="pager wizard text-right">
																<li class="previous d-inline-block">
																	<a href="javascript:;" class="btn btn-secondary ripple">Previous</a>
																</li>
																<li class="next d-inline-block">
																	<a href="javascript:;" class="btn btn-gradient-01">Next</a>
																</li>
															</ul>
														</div>
														<div class="tab-pane" id="tab3">
															<div class="section-title mt-5 mb-5">
																<h4>Confirmation</h4>
															</div>
															<div id="accordion-icon-right" class="accordion">
																<div class="widget has-shadow">
																	<a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#IconRightCollapseOne" aria-expanded="true">
																		<div class="card-title w-100">1. Client Informations</div>
																	</a>
																	<div id="IconRightCollapseOne" class="card-body collapse show" data-parent="#accordion-icon-right">
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Name</div>
																			<div class="col-sm-8 form-control-plaintext">David Green</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Email</div>
																			<div class="col-sm-8 form-control-plaintext">dgreen@elisyam.com</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Phone</div>
																			<div class="col-sm-8 form-control-plaintext">+00 987 654 32</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Occupation</div>
																			<div class="col-sm-8 form-control-plaintext">UX Designer</div>
																		</div>
																	</div>
																	<a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#IconRightCollapseTwo">
																		<div class="card-title w-100">2. Address</div>
																	</a>
																	<div id="IconRightCollapseTwo" class="card-body collapse" data-parent="#accordion-icon-right">
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Address</div>
																			<div class="col-sm-8 form-control-plaintext">123 Century Blvd</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Country</div>
																			<div class="col-sm-8 form-control-plaintext">Country</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">City</div>
																			<div class="col-sm-8 form-control-plaintext">Los Angeles</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">State</div>
																			<div class="col-sm-8 form-control-plaintext">CA</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Zip</div>
																			<div class="col-sm-8 form-control-plaintext">90045</div>
																		</div>
																	</div>
																	<a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#IconRightCollapseThree">
																		<div class="card-title w-100">3. Account Details</div>
																	</a>
																	<div id="IconRightCollapseThree" class="card-body collapse" data-parent="#accordion-icon-right">
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Username</div>
																			<div class="col-sm-8 form-control-plaintext">Saerox</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Password</div>
																			<div class="col-sm-8 form-control-plaintext"><span class="la-2x">*********</span></div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Url</div>
																			<div class="col-sm-8 form-control-plaintext">http://mywebsite.com</div>
																		</div>
																	</div>
																	<a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#IconRightCollapseFour">
																		<div class="card-title w-100">4. Billing Information</div>
																	</a>
																	<div id="IconRightCollapseFour" class="card-body collapse" data-parent="#accordion-icon-right">
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Card Number</div>
																			<div class="col-sm-8 form-control-plaintext">98765432145698547</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Exp Month</div>
																			<div class="col-sm-8 form-control-plaintext">06</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">Exp Year</div>
																			<div class="col-sm-8 form-control-plaintext">2023</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-sm-3 form-control-label d-flex align-items-center">CVV</div>
																			<div class="col-sm-8 form-control-plaintext">651</div>
																		</div>
																		<div class="form-group row mb-5">
																			<div class="col-xl-12">
																				<div class="styled-checkbox">
																					<input type="checkbox" name="checkbox" id="agree">
																					<label for="agree">I Accept <a href="javascript:void(0);">Terms and Conditions</a></label>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<ul class="pager wizard text-right">
																<li class="previous d-inline-block">
																	<a href="javascript:void(0)" class="btn btn-secondary ripple">Previous</a>
																</li>
																<li class="next d-inline-block">
																	<a href="javascript:void(0)" class="finish btn btn-gradient-01" data-toggle="modal">Finish</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End Form -->
							</div>
						</div>
						<!-- End Row -->
					</div>
					<!-- End Container -->
					<!-- Begin Page Footer-->
					<footer class="main-footer">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
								<p class="text-gradient-02">Design By Saerox</p>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link" href="documentation.html">Documentation</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="changelog.html">Changelog</a>
									</li>
								</ul>
							</div>
						</div>
					</footer>
					<!-- End Page Footer -->
					<a href="javascript:void(0);" class="go-top"><i class="la la-arrow-up"></i></a>
					<!-- Offcanvas Sidebar -->
					<div class="off-sidebar from-right">
						<div class="off-sidebar-container">
							<header class="off-sidebar-header">
								<ul class="button-nav nav nav-tabs mt-3 mb-3 ml-3" role="tablist" id="weather-tab">
									<li><a class="active" data-toggle="tab" href="#messenger" role="tab" id="messenger-tab">Messages</a></li>
									<li><a data-toggle="tab" href="#today" role="tab" id="today-tab">Today</a></li>
								</ul>
								<a href="#off-canvas" class="off-sidebar-close"></a>
							</header>
							<div class="off-sidebar-content offcanvas-scroll auto-scroll">
								<div class="tab-content">
									<!-- Begin Messenger -->
									<div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
										<!-- Begin Chat Message -->
										<span class="date">Today</span>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														<span class="mb-2">Brandon wrote</span>
														Hi David, what's up?
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localization font-size-small">2 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Hi Brandon, fine and you?
													</p>
													<p>
														I'm working on the next update of Elisyam
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localisation font-size-small">3 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														<span class="mb-2">Brandon wrote</span>
														I can't wait to see
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localization font-size-small">5 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														I'm almost done
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localisation font-size-small">10 minutes ago</span>
												</div>
											</div>
										</div>
										<span class="date">Yesterday</span>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														I updated the server tonight
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Didn't you have any problems?
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														No!
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Great!
													</p>
													<p>
														See you later!
													</p>
												</div>
											</div>
										</div>
										<!-- End Chat Message -->
										<!-- Begin Message Form -->
										<div class="enter-message">
											<div class="enter-message-form">
												<input type="text" placeholder="Enter your message..." />
											</div>
											<div class="enter-message-button">
												<a href="javascript:void(0);" class="send"><i class="ion-paper-airplane"></i></a>
											</div>
										</div>
										<!-- End Message Form -->
									</div>
									<!-- End Messenger -->
									<!-- Begin Today -->
									<div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
										<!-- Begin Today Stats -->
										<div class="sidebar-heading pt-0">Today</div>
										<div class="today-stats mt-3 mb-3">
											<div class="row">
												<div class="col-4 text-center">
													<i class="la la-users"></i>
													<div class="counter">264</div>
													<div class="heading">Clients</div>
												</div>
												<div class="col-4 text-center">
													<i class="la la-cart-arrow-down"></i>
													<div class="counter">360</div>
													<div class="heading">Sales</div>
												</div>
												<div class="col-4 text-center">
													<i class="la la-money"></i>
													<div class="counter">$ 4,565</div>
													<div class="heading">Earnings</div>
												</div>
											</div>
										</div>
										<!-- End Today Stats -->
										<!-- Begin Friends -->
										<div class="sidebar-heading">Friends</div>
										<div class="quick-friends mt-3 mb-3">
											<ul class="list-group w-100">
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Brandon Smith</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Louis Henry</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Nathan Hunter</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Megan Duncan</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Beverly Oliver</a>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- End Friends -->
										<!-- Begin Settings -->
										<div class="sidebar-heading">Settings</div>
										<div class="quick-settings mt-3 mb-3">
											<ul class="list-group w-100">
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Notifications Email</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox" checked>
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Notifications Sound</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox">
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Chat Message Sound</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox" checked>
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- End Settings -->
									</div>
									<!-- End Today -->
								</div>
							</div>
							<!-- End Offcanvas Container -->
						</div>
						<!-- End Offsidebar Container -->
					</div>
					<!-- End Offcanvas Sidebar -->
				</div>
			</div>
			<!-- End Page Content -->
		</div>
		<!-- Begin Modal -->
		<div id="success-modal" class="modal fade">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<div class="sa-icon sa-success animate" style="display: block;">
							<span class="sa-line sa-tip animateSuccessTip"></span>
							<span class="sa-line sa-long animateSuccessLong"></span>
							<div class="sa-placeholder"></div>
							<div class="sa-fix"></div>
						</div>
						<div class="section-title mt-5 mb-2">
							<h2 class="text-gradient-02">Thank you!</h2>
						</div>
						<p class="mb-5">The form was submitted successfully</p>
						<button type="button" class="btn btn-shadow mb-3" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal -->
		<!-- Begin Vendor Js -->
		<script type="text/javascript" src="../assets/vendors/js/base/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/base/core.min.js"></script>
		<!-- End Vendor Js -->
		<!-- Begin Page Vendor Js -->
		<script type="text/javascript" src="../assets/vendors/js/nicescroll/nicescroll.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/bootstrap-wizard/bootstrap.wizard.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/app/app.min.js"></script>
		<!-- End Page Vendor Js -->
		<!-- Begin Page Snippets -->
		<script type="text/javascript" src="../assets/js/components/wizard/form-wizard.min.js"></script>
		<!-- End Page Snippets -->
	</body>

</html>
