<!DOCTYPE html>
<!--
Item Name: Elisyam - Web App & Admin Dashboard Template
Version: 1.5
Author: SAEROX

** A license must be purchased in order to legally use this template for your project **
-->
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Elisyam - Bootstrap Select</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Google Fonts -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script>
			WebFont.load({
            google: {"families":["Montserrat:400,500,600,700","Noto+Sans:400,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
        </script>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
		<!-- Stylesheet -->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/css/base/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/css/base/elisyam-1.5.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-select/bootstrap-select.min.css">
		<!-- Tweaks for older IEs-->
		<!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	</head>

	<body id="page-top">
		<!-- Begin Preloader -->
		<div id="preloader">
			<div class="canvas">
				<img src="../assets/img/logo.png" alt="logo" class="loader-logo">
				<div class="spinner"></div>
			</div>
		</div>
		<!-- End Preloader -->
		<div class="page">
			<!-- Begin Header -->
			<header class="header">
				<nav class="navbar fixed-top">
					<!-- Begin Search Box-->
					<div class="search-box">
						<button class="dismiss"><i class="ion-close-round"></i></button>
						<form id="searchForm" action="#" role="search">
							<input type="search" placeholder="Search something ..." class="form-control">
						</form>
					</div>
					<!-- End Search Box-->
					<!-- Begin Topbar -->
					<div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
						<!-- Begin Logo -->
						<div class="navbar-header">
							<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}" class="navbar-brand">
								<div class="brand-image brand-big">
									<img src="../assets/img/logo-big.png" alt="logo" class="logo-big">
								</div>
								<div class="brand-image brand-small">
									<img src="../assets/img/logo.png" alt="logo" class="logo-small">
								</div>
							</a>
							<!-- Toggle Button -->
							<a id="toggle-btn" href="javascript:void(0);" class="menu-btn active">
								<span></span>
								<span></span>
								<span></span>
							</a>
							<!-- End Toggle -->
						</div>
						<!-- End Logo -->
						<!-- Begin Navbar Menu -->
						<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
							<!-- Search -->
							<li class="nav-item d-flex align-items-center"><a id="search" href="javascript:void(0);"><i class="la la-search"></i></a></li>
							<!-- End Search -->
							<!-- Begin Notifications -->
							<li class="nav-item dropdown"><a id="notifications" rel="nofollow" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="la la-bell animated infinite swing"></i><span class="badge-pulse"></span></a>
								<ul aria-labelledby="notifications" class="dropdown-menu notification">
									<li>
										<div class="notifications-header">
											<div class="title">Notifications (4)</div>
											<div class="notifications-overlay"></div>
											<img src="../assets/img/notifications/01.jpg" alt="..." class="img-fluid">
										</div>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-user"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													New user registered
												</div>
												<span class="date">2 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-calendar-check-o"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													New event added
												</div>
												<span class="date">7 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-history"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													Server rebooted
												</div>
												<span class="date">7 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-twitter"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													You have 3 new followers
												</div>
												<span class="date">10 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a rel="nofollow" href="javascript:void(0);" class="dropdown-item all-notifications text-center">View All Notifications</a>
									</li>
								</ul>
							</li>
							<!-- End Notifications -->
							<!-- User -->
							<li class="nav-item dropdown"><a id="user" rel="nofollow" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="../assets/img/avatar/avatar-01.jpg" alt="..." class="avatar rounded-circle"></a>
								<ul aria-labelledby="user" class="user-size dropdown-menu">
									<li class="welcome">
										<a href="javascript:void(0);" class="edit-profil"><i class="la la-gear"></i></a>
										<img src="../assets/img/avatar/avatar-01.jpg" alt="..." class="rounded-circle">
									</li>
									<li>
										<a href="pages-profile.html" class="dropdown-item">
											Profile
										</a>
									</li>
									<li>
										<a href="app-mail.html" class="dropdown-item">
											Messages
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item no-padding-bottom">
											Settings
										</a>
									</li>
									<li class="separator"></li>
									<li>
										<a href="pages-faq.html" class="dropdown-item no-padding-top">
											Faq
										</a>
									</li>
									<li><a rel="nofollow" href="pages-login.html" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
								</ul>
							</li>
							<!-- End User -->
							<!-- Begin Quick Actions -->
							<li class="nav-item"><a href="#off-canvas" class="open-sidebar"><i class="la la-ellipsis-h"></i></a></li>
							<!-- End Quick Actions -->
						</ul>
						<!-- End Navbar Menu -->
					</div>
					<!-- End Topbar -->
				</nav>
			</header>
			<!-- End Header -->
			<!-- Begin Page Content -->
			<div class="page-content d-flex align-items-stretch">
				<div class="default-sidebar">
					<!-- Begin Side Navbar -->
					<nav class="side-navbar box-scroll sidebar-scroll">
						<!-- Begin Main Navigation -->
						<ul class="list-unstyled">
							<li><a href="#dropdown-db" aria-expanded="false" data-toggle="collapse"><i class="la la-columns"></i><span>Dashboard</span></a>
								<ul id="dropdown-db" class="collapse list-unstyled pt-0">
									<li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Default</a></li>
									<li><a href="db-clean.html">Clean</a></li>
									<li><a href="db-compact.html">Compact</a></li>
									<li><a href="db-modern.html">Modern</a></li>
									<li><a href="db-social.html">Social</a></li>
									<li><a href="db-smarthome.html">Smarthome</a></li>
									<li><a href="db-all.html">All</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-app" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i><span>Applications</span></a>
								<ul id="dropdown-app" class="collapse list-unstyled pt-0">
									<li><a href="app-calendar.html">Calendar</a></li>
									<li><a href="app-chat.html">Chat</a></li>
									<li><a href="app-mail.html">Mail</a></li>
									<li><a href="app-contact.html">Contact</a></li>
								</ul>
							</li>
							<li><a href="components-widgets.html"><i class="la la-spinner"></i><span>Widgets</span></a></li>
						</ul>
						<span class="heading">Components</span>
						<ul class="list-unstyled">
							<li><a href="#dropdown-ui" aria-expanded="false" data-toggle="collapse"><i class="la la-share-alt"></i><span>UI Elements</span></a>
								<ul id="dropdown-ui" class="collapse list-unstyled pt-0">
									<li><a href="components-buttons.html">Buttons</a></li>
									<li><a href="components-alerts.html">Alerts</a></li>
									<li><a href="components-modal.html">Modal</a></li>
									<li><a href="components-notifications.html">Noty</a></li>
									<li><a href="components-timeline.html">Timeline</a></li>
									<li><a href="components-progress.html">Progress</a></li>
									<li><a href="components-tabs.html">Tabs</a></li>
									<li><a href="components-charts.html">Chart Js</a></li>
									<li><a href="components-accordion.html">Accordion</a></li>
									<li><a href="components-popover.html">Popover</a></li>
									<li><a href="components-tooltip.html">Tooltip</a></li>
									<li><a href="components-scrollable.html">Scrollable</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-icons" aria-expanded="false" data-toggle="collapse"><i class="la la-font"></i><span>Icons</span></a>
								<ul id="dropdown-icons" class="collapse list-unstyled pt-0">
									<li><a href="icons-lineawesome.html">Line Awesome</a></li>
									<li><a href="icons-themify.html">Themify</a></li>
									<li><a href="icons-ionicons.html">Ionicons</a></li>
									<li><a href="icons-meteocons.html">Meteocons</a></li>
								</ul>
							</li>
							<li class="active"><a href="#dropdown-forms" aria-expanded="true" data-toggle="collapse"><i class="la la-list-alt"></i><span>Forms</span></a>
								<ul id="dropdown-forms" class="collapse list-unstyled show pt-0">
									<li><a href="forms-basic.html">Form Basic</a></li>
									<li><a href="forms-validation.html">Form Validation</a></li>
									<li><a href="forms-wizard.html">Form Wizard</a></li>
									<li><a class="active" href="forms-select.html">Bootstrap Select</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-tables" aria-expanded="false" data-toggle="collapse"><i class="la la-th-large"></i><span>Tables</span></a>
								<ul id="dropdown-tables" class="collapse list-unstyled pt-0">
									<li><a href="tables-basic.html">Basic</a></li>
									<li><a href="tables-datatables.html">Datatables</a></li>
									<li><a href="tables-tabledit.html">Tabledit</a></li>
								</ul>
							</li>
							<li><a href="maps-leaflet.html"><i class="la la-map"></i><span>Maps</span></a></li>
						</ul>
						<span class="heading">Pages</span>
						<ul class="list-unstyled">
							<li><a href="#dropdown-authentication" aria-expanded="false" data-toggle="collapse"><i class="la la-user"></i><span>Authentication</span></a>
								<ul id="dropdown-authentication" class="collapse list-unstyled pt-0">
									<li><a href="pages-login.html">Login</a></li>
									<li><a href="pages-login-02.html">Login 02</a></li>
									<li><a href="pages-register.html">Register</a></li>
									<li><a href="pages-forgot-password.html">Forgot Password</a></li>
									<li><a href="pages-lock-screen.html">Lock Screen</a></li>
									<li><a href="pages-mail-confirm.html">Mail Confirmation</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-generic" aria-expanded="false" data-toggle="collapse"><i class="la la-file-text"></i><span>Generic</span></a>
								<ul id="dropdown-generic" class="collapse list-unstyled pt-0">
									<li><a href="pages-coming-soon.html">Coming Soon</a></li>
									<li><a href="pages-profile.html">Profile</a></li>
									<li><a href="pages-invoice.html">Invoice</a></li>
									<li><a href="pages-search.html">Search</a></li>
									<li><a href="pages-faq.html">FAQ</a></li>
									<li><a href="pages-blank.html">Blank</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-social" aria-expanded="false" data-toggle="collapse"><i class="la la-comments"></i><span>Social</span></a>
								<ul id="dropdown-social" class="collapse list-unstyled pt-0">
									<li><a href="pages-newsfeed.html">Newsfeed</a></li>
									<li><a href="pages-about.html">About</a></li>
									<li><a href="pages-events.html">Events</a></li>
									<li><a href="pages-friends.html">Friends</a></li>
									<li><a href="pages-groups.html">Groups</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-email" aria-expanded="false" data-toggle="collapse"><i class="la la-at"></i><span>Email</span></a>
								<ul id="dropdown-email" class="collapse list-unstyled pt-0">
									<li><a href="email-welcome.html">Welcome</a></li>
									<li><a href="email-password.html">Reset Password</a></li>
									<li><a href="email-order.html">Order Confirmation</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-pricing" aria-expanded="false" data-toggle="collapse"><i class="la la-usd"></i><span>Pricing</span></a>
								<ul id="dropdown-pricing" class="collapse list-unstyled pt-0">
									<li><a href="pages-pricing-tables-01.html">Style 01</a></li>
									<li><a href="pages-pricing-tables-02.html">Style 02</a></li>
								</ul>
							</li>
							<li><a href="#dropdown-error" aria-expanded="false" data-toggle="collapse"><i class="la la-exclamation-triangle"></i><span>Errors</span></a>
								<ul id="dropdown-error" class="collapse list-unstyled pt-0">
									<li><a href="pages-404-01.html">Style 01</a></li>
									<li><a href="pages-404-02.html">Style 02</a></li>
								</ul>
							</li>
						</ul>
						<!-- End Main Navigation -->
					</nav>
					<!-- End Side Navbar -->
				</div>
				<!-- End Left Sidebar -->
				<div class="content-inner">
					<div class="container-fluid">
						<!-- Begin Page Header-->
						<div class="row">
							<div class="page-header">
								<div class="d-flex align-items-center">
									<h2 class="page-header-title">Bootstrap Select</h2>
									<div>
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}"><i class="ti ti-home"></i></a></li>
											<li class="breadcrumb-item active">Bootstrap Select</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- End Page Header -->
						<div class="row flex-row">
							<div class="col-xl-6">
								<div class="widget has-shadow">
									<div class="widget-body">
										<div class="section-title mt-3 mb-5">
											<h4>Basic Example</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Standard</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Select with optgroups</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow">
														<optgroup label="Picnic">
															<option>Mustard</option>
															<option>Ketchup</option>
															<option>Relish</option>
														</optgroup>
														<optgroup label="Camping">
															<option>Tent</option>
															<option>Flashlight</option>
															<option>Toilet Paper</option>
														</optgroup>
													</select>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Multiple select</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" multiple>
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
										</form>
										<div class="section-title mt-5 mb-5">
											<h4>Live Search</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Standard</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" data-live-search="true">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
													<small class="d-block mt-2">Add <code>data-live-search="true"</code> attribute</small>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Keywords</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" data-live-search="true">
														<option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
														<option data-tokens="mustard">Burger, Shake and a Smile</option>
														<option data-tokens="frosting">Sugar, Spice and all things nice</option>
													</select>
													<small class="d-block mt-2">Add <code>data-tokens</code> attribute</small>
												</div>
											</div>
										</form>
										<div class="section-title mt-5 mb-5">
											<h4>Limit Selections</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Standard</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" multiple data-max-options="2">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
													<small class="d-block mt-2">Add <code>data-max-options</code> attribute</small>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Select with optgroups</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" multiple>
														<optgroup label="Condiments" data-max-options="1">
															<option>Mustard</option>
															<option>Ketchup</option>
															<option>Relish</option>
														</optgroup>
														<optgroup label="Breads" data-max-options="2">
															<option>Plain</option>
															<option>Steamed</option>
															<option>Toasted</option>
														</optgroup>
													</select>
												</div>
											</div>
										</form>
										<div class="section-title mt-3 mb-5">
											<h4>Custom Text</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Standard</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" title="Hello :)">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Selected text</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" title="How are you?">
														<option title="Combo 1">Mustard</option>
														<option title="Combo 2">Ketchup</option>
														<option title="Combo 3">Relish</option>
													</select>
												</div>
											</div>
										</form>
										<div class="section-title mt-3 mb-5">
											<h4>Selected Text Format</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Example</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" multiple data-selected-text-format="count">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="widget has-shadow">
									<div class="widget-body">
										<div class="section-title mt-3 mb-5">
											<h4>Styling</h4>
										</div>
										<p class="text-dark">You can set the button classes via the <code>data-style attribute</code></p>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-5 mb-3">
												<label class="col-lg-5 form-control-label">Primary</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" data-style="btn-primary">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-3">
												<label class="col-lg-5 form-control-label">Info</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" data-style="btn-info">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-3">
												<label class="col-lg-5 form-control-label">Success</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" data-style="btn-success">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-3">
												<label class="col-lg-5 form-control-label">Warning</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" data-style="btn-warning">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-3">
												<label class="col-lg-5 form-control-label">Danger</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" data-style="btn-danger">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Gradient</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow" data-style="btn-gradient-01">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
													</select>
												</div>
											</div>
										</form>
										<div class="section-title mt-3 mb-5">
											<h4>With Icons</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Example</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow">
														<option data-icon="ion-bonfire">Camping</option>
														<option data-icon="ion-beer">Beer</option>
														<option data-icon="ion-radio-waves">Music</option>
													</select>
												</div>
											</div>
										</form>
										<div class="section-title mt-3 mb-5">
											<h4>Checkmark on Selected Option</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Example</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow show-tick">
														<option>Camping</option>
														<option>Beer</option>
														<option>Music</option>
													</select>
												</div>
											</div>
										</form>
										<div class="section-title mt-3 mb-5">
											<h4>With Subtext</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Example</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow show-tick" data-show-subtext="true" data-size="5">
														<option data-subtext="French's">Mustard</option>
														<option data-subtext="Heinz">Ketchup</option>
														<option data-subtext="Sweet">Relish</option>
														<option data-subtext="Miracle Whip">Mayonnaise</option>
														<option data-divider="true"></option>
														<option data-subtext="Honey">Barbecue Sauce</option>
														<option data-subtext="Ranch">Salad Dressing</option>
														<option data-subtext="Sweet &amp; Spicy">Tabasco</option>
														<option data-subtext="Chunky">Salsa</option>
													</select>
												</div>
											</div>
										</form>
										<div class="section-title mt-3 mb-5">
											<h4>Select/Deselect All</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Example</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow show-tick" multiple data-actions-box="true">
														<option>Mustard</option>
														<option>Ketchup</option>
														<option>Relish</option>
														<option>Mayonnaise</option>
														<option></option>
														<option>Barbecue Sauce</option>
														<option>Salad Dressing</option>
														<option>Tabasco</option>
														<option>Salsa</option>
													</select>
												</div>
											</div>
										</form>
										<div class="section-title mt-3 mb-5">
											<h4>Disabled Option</h4>
										</div>
										<form class="form-horizontal">
											<div class="form-group row d-flex align-items-center mt-3 mb-5">
												<label class="col-lg-5 form-control-label">Example</label>
												<div class="col-lg-7">
													<select class="selectpicker show-menu-arrow">
														<option>Camping</option>
														<option disabled>Beer</option>
														<option disabled>Music</option>
													</select>
												</div>
											</div>
										</form>
										<p>Discover more awesome features
											<a href="https://developer.snapappointments.com/bootstrap-select/">Here</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- End Row -->
					</div>
					<!-- End Container -->
					<!-- Begin Page Footer-->
					<footer class="main-footer">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
								<p class="text-gradient-02">Design By Saerox</p>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link" href="documentation.html">Documentation</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="changelog.html">Changelog</a>
									</li>
								</ul>
							</div>
						</div>
					</footer>
					<!-- End Page Footer -->
					<a href="javascript:void(0);" class="go-top"><i class="la la-arrow-up"></i></a>
					<!-- Offcanvas Sidebar -->
					<div class="off-sidebar from-right">
						<div class="off-sidebar-container">
							<header class="off-sidebar-header">
								<ul class="button-nav nav nav-tabs mt-3 mb-3 ml-3" role="tablist" id="weather-tab">
									<li><a class="active" data-toggle="tab" href="#messenger" role="tab" id="messenger-tab">Messages</a></li>
									<li><a data-toggle="tab" href="#today" role="tab" id="today-tab">Today</a></li>
								</ul>
								<a href="#off-canvas" class="off-sidebar-close"></a>
							</header>
							<div class="off-sidebar-content offcanvas-scroll auto-scroll">
								<div class="tab-content">
									<!-- Begin Messenger -->
									<div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
										<!-- Begin Chat Message -->
										<span class="date">Today</span>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														<span class="mb-2">Brandon wrote</span>
														Hi David, what's up?
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localization font-size-small">2 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Hi Brandon, fine and you?
													</p>
													<p>
														I'm working on the next update of Elisyam
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localisation font-size-small">3 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														<span class="mb-2">Brandon wrote</span>
														I can't wait to see
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localization font-size-small">5 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														I'm almost done
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localisation font-size-small">10 minutes ago</span>
												</div>
											</div>
										</div>
										<span class="date">Yesterday</span>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														I updated the server tonight
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Didn't you have any problems?
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														No!
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Great!
													</p>
													<p>
														See you later!
													</p>
												</div>
											</div>
										</div>
										<!-- End Chat Message -->
										<!-- Begin Message Form -->
										<div class="enter-message">
											<div class="enter-message-form">
												<input type="text" placeholder="Enter your message..." />
											</div>
											<div class="enter-message-button">
												<a href="javascript:void(0);" class="send"><i class="ion-paper-airplane"></i></a>
											</div>
										</div>
										<!-- End Message Form -->
									</div>
									<!-- End Messenger -->
									<!-- Begin Today -->
									<div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
										<!-- Begin Today Stats -->
										<div class="sidebar-heading pt-0">Today</div>
										<div class="today-stats mt-3 mb-3">
											<div class="row">
												<div class="col-4 text-center">
													<i class="la la-users"></i>
													<div class="counter">264</div>
													<div class="heading">Clients</div>
												</div>
												<div class="col-4 text-center">
													<i class="la la-cart-arrow-down"></i>
													<div class="counter">360</div>
													<div class="heading">Sales</div>
												</div>
												<div class="col-4 text-center">
													<i class="la la-money"></i>
													<div class="counter">$ 4,565</div>
													<div class="heading">Earnings</div>
												</div>
											</div>
										</div>
										<!-- End Today Stats -->
										<!-- Begin Friends -->
										<div class="sidebar-heading">Friends</div>
										<div class="quick-friends mt-3 mb-3">
											<ul class="list-group w-100">
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Brandon Smith</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Louis Henry</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Nathan Hunter</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Megan Duncan</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Beverly Oliver</a>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- End Friends -->
										<!-- Begin Settings -->
										<div class="sidebar-heading">Settings</div>
										<div class="quick-settings mt-3 mb-3">
											<ul class="list-group w-100">
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Notifications Email</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox" checked>
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Notifications Sound</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox">
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Chat Message Sound</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox" checked>
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- End Settings -->
									</div>
									<!-- End Today -->
								</div>
							</div>
							<!-- End Offcanvas Container -->
						</div>
						<!-- End Offsidebar Container -->
					</div>
					<!-- End Offcanvas Sidebar -->
				</div>
			</div>
			<!-- End Page Content -->
		</div>
		<!-- Begin Vendor Js -->
		<script type="text/javascript" src="../assets/vendors/js/base/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/base/core.min.js"></script>
		<!-- End Vendor Js -->
		<!-- Begin Page Vendor Js -->
		<script type="text/javascript" src="../assets/vendors/js/nicescroll/nicescroll.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/bootstrap-select/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/app/app.min.js"></script>
		<!-- End Page Vendor Js -->
	</body>

</html>
