{% extends '@Layouts/themes/elisyam/bases/full.html.twig' %}

{% block contents %}

<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Forms Basic</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Components</a></li>
                            <li class="breadcrumb-item active">Forms Basic</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>All Elements</h4>
                    </div>
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Normal</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Help Text</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control">
                                    <small>
                                        Input with help text.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Placeholder</label>
                                <div class="col-lg-9">
                                    <input type="text" placeholder="placeholder" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Disabled</label>
                                <div class="col-lg-9">
                                    <input type="text" disabled="" placeholder="Disabled input here..." class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Checkboxes</label>
                                <div class="col-lg-9">
                                    <div class="mb-3">
                                        <div class="styled-checkbox">
                                            <input type="checkbox" name="checkbox" id="check-1">
                                            <label for="check-1">Default</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="styled-checkbox">
                                            <input type="checkbox" name="checkbox" id="check-2" checked>
                                            <label for="check-2">Checked</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="checkbox-disabled styled-checkbox">
                                            <input type="checkbox" name="checkbox" id="check-disabled" disabled>
                                            <label for="check-disabled">Disabled</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="checkbox-disabled styled-checkbox">
                                            <input type="checkbox" name="checkbox" checked disabled>
                                            <label for="check-disabled">Checked and Disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Radios</label>
                                <div class="col-sm-9">
                                    <div class="mb-3">
                                        <div class="styled-radio">
                                            <input type="radio" name="radio" id="rad-1">
                                            <label for="rad-1">Default</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="styled-radio">
                                            <input type="radio" name="radio" id="rad-2" checked>
                                            <label for="rad-2">Checked</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="radio-disabled styled-radio">
                                            <input type="radio" name="radio" id="rad-disabled" disabled>
                                            <label for="rad-disabled">Disabled</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="radio-disabled styled-radio">
                                            <input type="radio" name="radio-d" id="rad-4" checked disabled>
                                            <label for="rad-4">Checked and Disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Color</label>
                                <div class="col-lg-9">
                                    <input type="color" value="#5d5386" class="form-control pt-3 pb-3">
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Single Date</label>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="la la-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" id="date" placeholder="Select value">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Date Range</label>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="la la-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" id="daterange" placeholder="Select value">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Date Time</label>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="la la-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" id="datetime" placeholder="Select value">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-5">
                                <label class="col-lg-3 form-control-label">Select</label>
                                <div class="col-lg-9 select mb-3">
                                    <select name="account" class="custom-select form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                                <div class="col-lg-9 offset-lg-3 select">
                                    <select multiple="" class="custom-select form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5 has-success">
                                <label class="col-lg-3 form-control-label text-success">Input Success</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5 has-danger">
                                <label class="col-lg-3 form-control-label text-danger">Input Danger</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5 has-warning">
                                <label class="col-lg-3 form-control-label text-warning">Input Warning</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5 has-info">
                                <label class="col-lg-3 form-control-label text-info">Input Info</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Control Sizing</label>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <input type="text" placeholder=".input-lg" class="form-control form-control-lg">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Default input" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder=".input-sm" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 form-control-label">Column Sizing</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="text" placeholder=".col-md-4" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" placeholder=".col-md-4" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" placeholder=".col-md-4" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Material Inputs</label>
                                <div class="col-lg-9">
                                    <div class="mt-5 mb-5 position-relative">
                                        <div class="group material-input">
                                            <input type="text" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="mt-5 mb-5 position-relative">
                                        <div class="group material-input">
                                            <input type="password" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Password</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Input Groups</label>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon addon-primary">
                                                <i class="la la-user"></i>
                                            </span>
                                            <input type="text" placeholder="With icon" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-addon addon-primary">.00</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon addon-primary">$</span>
                                            <input type="text" class="form-control">
                                            <span class="input-group-addon addon-orange">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-3 form-control-label">Button addons</label>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary ripple">
                                                    Button
                                                </button>
                                            </span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-secondary">
                                                    <i class="la la-phone"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->

    {% block footer %}
        {% include '@Layouts/themes/elisyam/partials/footer.html.twig' %}
        {% include '@Layouts/themes/elisyam/partials/offcanvas.html.twig' %}
    {% endblock %}

</div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <!-- Begin Page Vendor Js -->
    <script src="{{ asset('elisyam/assets/vendors/js/datepicker/moment.min.js', 'themes') }}" type="text/javascript"></script>
    <script src="{{ asset('elisyam/assets/vendors/js/datepicker/daterangepicker.js', 'themes') }}" type="text/javascript"></script>
    <!-- End Page Vendor Js -->
    <!-- Begin Page Snippets -->
    <script src="{{ asset('elisyam/assets/js/components/datepicker/datepicker.js', 'themes') }}" type="text/javascript"></script>
    <!-- End Page Snippets -->
{% endblock %}
