{% block contents %}

<div id="auth">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12 mx-auto">
				<div class="card py-4">
					<div class="card-body">
						<div class="text-center mb-5">
							<img src="{{ asset('voler/assets/images/favicon.svg', 'themes') }}" height="48" class="mb-4" alt="" />
							<h3>Forgot Password</h3>
							<p>Please enter your email to receive password reset link.</p>
						</div>
						<form action="{{ path('kw.layouts.dashboard.index', {'theme': 'voler'}) }}">
							<div class="form-group">
								<label for="first-name-column">Email</label>
								<input type="email" id="first-name-column" class="form-control" name="fname-column">
							</div>
							<div class="clearfix">
								<button class="btn btn-primary float-end">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block favicons %}{% include '@Layouts/themes/voler/partials/favicon.html.twig' %}{% endblock %}

{% extends '@Layouts/themes/voler/bases/empty.html.twig' %}