{% block contents %}

<div id="auth">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12 mx-auto">
				<div class="card pt-4">
					<div class="card-body">
						<div class="text-center mb-5">
							<img src="{{ asset('voler/assets/images/favicon.svg', 'themes') }}" height="48" class="mb-4" alt="">
							<h3>Sign In</h3>
							<p>Please sign in to continue to Voler.</p>
						</div>
						<form action="{{ path('kw.layouts.dashboard.index', {'theme': 'voler'}) }}">
							<div class="form-group position-relative has-icon-left">
								<label for="username">Username</label>
								<div class="position-relative">
									<input type="text" class="form-control" id="username">
									<div class="form-control-icon">
										<i data-feather="user"></i>
									</div>
								</div>
							</div>
							<div class="form-group position-relative has-icon-left">
								<div class="clearfix">
									<label for="password">Password</label>
									<a href="{{ path('kw.layouts.security.forgot.password', {'theme': 'voler'}) }}" class='float-end'>
										<small>Forgot password?</small>
									</a>
								</div>
								<div class="position-relative">
									<input type="password" class="form-control" id="password">
									<div class="form-control-icon">
										<i data-feather="lock"></i>
									</div>
								</div>
							</div>
							<div class='form-check clearfix my-4'>
								<div class="checkbox float-start">
									<input type="checkbox" id="checkbox1" class='form-check-input'>
									<label for="checkbox1">Remember me</label>
								</div>
								<div class="float-end">
									<a href="{{ path('kw.layouts.security.signup', {'theme': 'voler'}) }}">Don't have an account?</a>
								</div>
							</div>
							<div class="clearfix">
								<button class="btn btn-primary float-end">Submit</button>
							</div>
						</form>
						<div class="divider">
							<div class="divider-text">OR</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<button class="btn btn-block mb-2 btn-primary"><i data-feather="facebook"></i> Facebook</button>
							</div>
							<div class="col-sm-6">
								<button class="btn btn-block mb-2 btn-secondary"><i data-feather="github"></i> Github</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block favicons %}{% include '@Layouts/themes/voler/partials/favicon.html.twig' %}{% endblock %}

{% extends '@Layouts/themes/voler/bases/empty.html.twig' %}
