{% extends '@Layouts/base.html.twig' %}

{% block favicons %}{% include '@Layouts/themes/elisyam/partials/favicon.html.twig' %}{% endblock %}

{% block stylesheets %}

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="{{ asset('elisyam/assets/vendors/css/base/bootstrap.min.css', 'themes') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('elisyam/assets/vendors/css/base/elisyam-1.5-dark.min.css', 'themes') }}" />
{% endblock %}

{% block body %}<body>{% endblock %}

{% block containers %}

	{% include '@Layouts/themes/elisyam/partials/loader.html.twig' %}

	<div class="page">
		{% block header %}{% include '@Layouts/themes/elisyam/partials/header.html.twig' %}{% endblock %}

        <!-- Begin Page Content -->
        <div class="page-content d-flex align-items-stretch">
            {% block sidebar %}{% include '@Layouts/themes/elisyam/partials/sidebar.html.twig' %}{% endblock %}
    		{% block contents %}{% endblock %}
        </div>
        <!-- End Page Content -->
	</div>
{% endblock %}

{% block javascripts %}

<!-- Begin Vendor Js -->
<script type="text/javascript" src="{{ asset('elisyam/assets/vendors/js/base/jquery.min.js', 'themes') }}"></script>
<script type="text/javascript" src="{{ asset('elisyam/assets/vendors/js/base/core.min.js', 'themes') }}"></script>
<!-- End Vendor Js -->
<!-- Begin Page Vendor Js -->
<script type="text/javascript" src="{{ asset('elisyam/assets/vendors/js/nicescroll/nicescroll.min.js', 'themes') }}"></script>
<script type="text/javascript" src="{{ asset('elisyam/assets/vendors/js/app/app.min.js', 'themes') }}"></script>
<!-- End Page Vendor Js -->
<!-- Tweaks for older IEs-->
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<![endif]-->
{% endblock %}
