<!-- Favicon-->
<link href="{{ asset('elisyam/assets/img/apple-touch-icon.png', 'themes') }}" rel="apple-touch-icon" sizes="180x180" />
<link href="{{ asset('elisyam/assets/img/favicon-32x32.png', 'themes') }}" type="image/png" rel="icon" sizes="32x32" />
<link href="{{ asset('elisyam/assets/img/favicon-16x16.png', 'themes') }}" type="image/png" rel="icon" sizes="16x16" />
