<!-- Begin Page Footer-->
<footer class="main-footer">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
            <p class="text-gradient-02">Design By Saerox</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">Changelog</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- End Page Footer -->

<a href="javascript:void(0);" class="go-top"><i class="la la-arrow-up"></i></a>
