<!-- Begin Preloader -->
<div id="preloader">
	<div class="canvas">
		<img src="{{ asset('elisyam/assets/img/logo.png', 'themes') }}" alt="logo" class="loader-logo">
		<div class="spinner"></div>
	</div>
</div>
<!-- End Preloader -->
