<div class="default-sidebar">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll">
        <!-- Begin Main Navigation -->
        <ul class="list-unstyled">
            <li class="active"><a href="#dropdown-db" aria-expanded="true" data-toggle="collapse"><i class="la la-columns"></i><span>Dashboard</span></a>
                <ul id="dropdown-db" class="collapse list-unstyled show pt-0">
                    <li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Default</a></li>
                    <li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Clean</a></li>
                    <li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Compact</a></li>
                    <li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Modern</a></li>
                    <li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Social</a></li>
                    <li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Smarthome</a></li>
                    <li><a class="active" href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">All</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-app" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i><span>Applications</span></a>
                <ul id="dropdown-app" class="collapse list-unstyled pt-0">
                    <li><a href="javascript:void(0);">Calendar</a></li>
                    <li><a href="javascript:void(0);">Chat</a></li>
                    <li><a href="javascript:void(0);">Mail</a></li>
                    <li><a href="javascript:void(0);">Contact</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);"><i class="la la-spinner"></i><span>Widgets</span></a></li>
        </ul>
        <span class="heading">Components</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-ui" aria-expanded="false" data-toggle="collapse"><i class="la la-share-alt"></i><span>UI Elements</span></a>
                <ul id="dropdown-ui" class="collapse list-unstyled pt-0">
                    <li><a href="javascript:void(0);">Buttons</a></li>
                    <li><a href="javascript:void(0);">Alerts</a></li>
                    <li><a href="javascript:void(0);">Modal</a></li>
                    <li><a href="javascript:void(0);">Noty</a></li>
                    <li><a href="javascript:void(0);">Timeline</a></li>
                    <li><a href="javascript:void(0);">Progress</a></li>
                    <li><a href="javascript:void(0);">Tabs</a></li>
                    <li><a href="javascript:void(0);">Chart Js</a></li>
                    <li><a href="javascript:void(0);">Accordion</a></li>
                    <li><a href="javascript:void(0);">Popover</a></li>
                    <li><a href="javascript:void(0);">Tooltip</a></li>
                    <li><a href="javascript:void(0);">Scrollable</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-icons" aria-expanded="false" data-toggle="collapse"><i class="la la-font"></i><span>Icons</span></a>
                <ul id="dropdown-icons" class="collapse list-unstyled pt-0">
                    <li><a href="javascript:void(0);">Line Awesome</a></li>
                    <li><a href="javascript:void(0);">Themify</a></li>
                    <li><a href="javascript:void(0);">Ionicons</a></li>
                    <li><a href="javascript:void(0);">Meteocons</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-forms" aria-expanded="false" data-toggle="collapse"><i class="la la-list-alt"></i><span>Forms</span></a>
                <ul id="dropdown-forms" class="collapse list-unstyled pt-0">
                    <li><a href="{{ path('kw.layouts.form.layout', {'theme': 'elisyam'}) }}">Form Basic</a></li>
                    <li><a href="{{ path('kw.layouts.form.validation', {'theme': 'elisyam'}) }}">Form Validation</a></li>
                    <li><a href="javascript:void(0);">Form Wizard</a></li>
                    <li><a href="javascript:void(0);">Bootstrap Select</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-tables" aria-expanded="false" data-toggle="collapse"><i class="la la-th-large"></i><span>Tables</span></a>
                <ul id="dropdown-tables" class="collapse list-unstyled pt-0">
                    <li><a href="{{ path('kw.layouts.table.index', {'theme': 'elisyam'}) }}">Basic</a></li>
                    <li><a href="{{ path('kw.layouts.table.data', {'theme': 'elisyam'}) }}">Datatables</a></li>
                    <li><a href="javascript:void(0);">Tabledit</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);"><i class="la la-map"></i><span>Maps</span></a></li>
        </ul>
        <span class="heading">Pages</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-authentication" aria-expanded="false" data-toggle="collapse"><i class="la la-user"></i><span>Authentication</span></a>
                <ul id="dropdown-authentication" class="collapse list-unstyled pt-0">
                    <li><a href="{{ path('kw.layouts.security.signin-1', {'theme': 'elisyam'}) }}">Login V1</a></li>
                    <li><a href="{{ path('kw.layouts.security.signin-2', {'theme': 'elisyam'}) }}">Login V2</a></li>
                    <li><a href="{{ path('kw.layouts.security.signup', {'theme': 'elisyam'}) }}">Register</a></li>
                    <li><a href="{{ path('kw.layouts.security.forgot.password', {'theme': 'elisyam'}) }}">Forgot Password</a></li>
                    <li><a href="{{ path('kw.layouts.security.lock.screen', {'theme': 'elisyam'}) }}">Lock Screen</a></li>
                    <li><a href="{{ path('kw.layouts.security.confirm.mail', {'theme': 'elisyam'}) }}">Mail Confirmation</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-generic" aria-expanded="false" data-toggle="collapse"><i class="la la-file-text"></i><span>Generic</span></a>
                <ul id="dropdown-generic" class="collapse list-unstyled pt-0">
                    <li><a href="{{ path('kw.layouts.page.comingsoon', {'theme': 'elisyam'}) }}">Coming Soon</a></li>
                    <li><a href="{{ path('kw.layouts.profile.my-profile', {'theme': 'elisyam'}) }}">Profile</a></li>
                    <li><a href="javascript:void(0);">Invoice</a></li>
                    <li><a href="javascript:void(0);">Search</a></li>
                    <li><a href="javascript:void(0);">FAQ</a></li>
                    <li><a href="{{ path('kw.layouts.page.blank', {'theme': 'elisyam'}) }}">Blank</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-social" aria-expanded="false" data-toggle="collapse"><i class="la la-comments"></i><span>Social</span></a>
                <ul id="dropdown-social" class="collapse list-unstyled pt-0">
                    <li><a href="javascript:void(0);">Newsfeed</a></li>
                    <li><a href="javascript:void(0);">About</a></li>
                    <li><a href="javascript:void(0);">Events</a></li>
                    <li><a href="javascript:void(0);">Friends</a></li>
                    <li><a href="javascript:void(0);">Groups</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-email" aria-expanded="false" data-toggle="collapse"><i class="la la-at"></i><span>Email</span></a>
                <ul id="dropdown-email" class="collapse list-unstyled pt-0">
                    <li><a href="javascript:void(0);">Welcome</a></li>
                    <li><a href="javascript:void(0);">Reset Password</a></li>
                    <li><a href="javascript:void(0);">Order Confirmation</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-pricing" aria-expanded="false" data-toggle="collapse"><i class="la la-usd"></i><span>Pricing</span></a>
                <ul id="dropdown-pricing" class="collapse list-unstyled pt-0">
                    <li><a href="javascript:void(0);">Style 01</a></li>
                    <li><a href="javascript:void(0);">Style 02</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-error" aria-expanded="false" data-toggle="collapse"><i class="la la-exclamation-triangle"></i><span>Errors</span></a>
                <ul id="dropdown-error" class="collapse list-unstyled pt-0">
                    <li><a href="{{ path('kw.layouts.error.error404', {'theme': 'elisyam'}) }}">404</a></li>
                    <li><a href="{{ path('kw.layouts.error.error403', {'theme': 'elisyam'}) }}">403</a></li>
                </ul>
            </li>
        </ul>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->
