{% extends '@Layouts/base.html.twig' %}

{% block containers %}
    {% block contents %}{% endblock %}
{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css', 'themes') }}" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('bootstrap/icons/bootstrap-icons.min.css', 'themes') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js', 'themes') }}"></script>
{% endblock %}

{% block favicons %}{% include '@Layouts/themes/bootstrap/partials/favicon.html.twig' %}{% endblock %}
