{% extends '@Layouts/base.html.twig' %}

{% block body %}
<body data-bs-theme="dark">
{% endblock %}

{% block containers %}

    {% block header %}{% include '@Layouts/themes/bootstrap/partials/header.html.twig' %}{%- endblock %}

    {% block sidebar %}{% include '@Layouts/themes/bootstrap/partials/sidebar.html.twig' %}{%- endblock %}

    {% block contents %}{% endblock %}

    {% block footer %}{% include '@Layouts/themes/bootstrap/partials/footer.html.twig' %}{%- endblock %}

{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css', 'themes') }}" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('bootstrap/icons/bootstrap-icons.min.css', 'themes') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js', 'themes') }}"></script>
{% endblock %}

{% block favicons %}{% include '@Layouts/themes/bootstrap/partials/favicon.html.twig' %}{% endblock %}
