{% block contents %}
<div id="error">
	<div class="container text-center pt-32">
		<h1 class='error-title'>403</h1>
		<p>You're not allowed in here</p>
		<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'voler'}) }}" class='btn btn-primary'>Go Home</a>
	</div>
	<div class="footer pt-32">
		<p class="text-center">Copyright &copy; Voler 2020</p>
	</div>
</div>
{% endblock %}

{% extends '@Layouts/themes/voler/bases/empty.html.twig' %}
