{% block contents %}

<!-- Begin Container -->
<div class="container-fluid h-100 overflow-y">
	<div class="row flex-row h-100">
		<div class="col-12 my-auto">
			<div class="mail-confirm mx-auto">
				<div class="animated-icon">
					<div class="gradient"></div>
					<div class="icon"><i class="la la-at"></i></div>
				</div>
				<h3>Confirm your email address!</h3>
				<p>
					A confirmation email has been sent to <a href="javascript:void(0);">example@yourmail.com</a>
				</p>
				<p>
					Check your inbox and click on the link to confirm your email address.
				</p>
				<div class="button text-center">
					<a href="{{ path('kw.layouts.security.signin-1', {'theme': 'elisyam'}) }}" class="btn btn-lg btn-gradient-01">
						Login Page
					</a>
				</div>
			</div>
		</div>
		<!-- End Col -->
	</div>
	<!-- End Row -->
</div>
<!-- End Container -->
{% endblock %}

{% block body %}<body class="bg-fixed-02">{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/empty.html.twig' %}
