{% block contents %}

<!-- Begin Container -->
<div class="container-fluid h-100 overflow-y">
	<div class="row flex-row h-100">
		<div class="col-12 my-auto">
			<div class="password-form mx-auto">
				<div class="logo-centered">
					<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">
						<img src="{{ asset('elisyam/assets/img/logo.png', 'themes') }}" alt="logo">
					</a>
				</div>
				<h3>Password Recovery</h3>
				<form>
					<div class="group material-input">
						<input type="email" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Email</label>
					</div>
				</form>
				<div class="button text-center">
					<a href="{{ path('kw.layouts.security.forgot.password', {'theme': 'elisyam'}) }}" class="btn btn-lg btn-gradient-01">
						Reset Password
					</a>
				</div>
				<div class="back">
					<a href="{{ path('kw.layouts.security.signin-1', {'theme': 'elisyam'}) }}">Sign In</a>
				</div>
			</div>
		</div>
		<!-- End Col -->
	</div>
	<!-- End Row -->
</div>
<!-- End Container -->
{% endblock %}

{% block body %}<body class="bg-fixed-02">{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/empty.html.twig' %}
