{% block contents %}

<!-- Begin Section -->
<div class="container-fluid h-100 overflow-y">
	<div class="row flex-row h-100">
		<div class="col-12 my-auto">
			<div class="lock-form mx-auto">
				<div class="photo-profil">
					<div class="icon"><i class="la la-unlock"></i></div>
					<img src="{{ asset('elisyam/assets/img/avatar/avatar-01.jpg', 'themes') }}" alt="..." class="img-fluid rounded-circle">
				</div>
				<h3>Your Session Is Locked</h3>
				<form>
					<div class="group material-input">
						<input type="password" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Password</label>
					</div>
				</form>
				<div class="button text-center">
					<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}" class="btn btn-lg btn-gradient-01">
						Unlock
					</a>
				</div>
				<div class="back">
					<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">It is not you ?</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End Container -->
</div>
<!-- End Section -->
{% endblock %}

{% block body %}<body class="bg-fixed-01">{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/empty.html.twig' %}
