{% block contents %}

<!-- Begin Container -->
<div class="container-fluid no-padding h-100">
	<div class="row flex-row h-100 bg-white">
		<!-- Begin Left Content -->
		<div class="col-xl-8 col-lg-6 col-md-5 no-padding">
			<div class="elisyam-bg background-01">
				<div class="elisyam-overlay overlay-01"></div>
				<div class="authentication-col-content mx-auto">
					<h1 class="gradient-text-01">
						Welcome To Elisyam!
					</h1>
					<span class="description">
						Etiam consequat urna at magna bibendum, in tempor arcu fermentum vitae mi massa egestas.
					</span>
				</div>
			</div>
		</div>
		<!-- End Left Content -->
		<!-- Begin Right Content -->
		<div class="col-xl-4 col-lg-6 col-md-7 my-auto no-padding">
			<!-- Begin Form -->
			<div class="authentication-form mx-auto">
				<div class="logo-centered">
					<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">
						<img src="{{ asset('elisyam/assets/img/logo.png', 'themes') }}" alt="logo" />
					</a>
				</div>
				<h3>Sign In To Elisyam</h3>
				<form>
					<div class="group material-input">
						<input type="text" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Email</label>
					</div>
					<div class="group material-input">
						<input type="password" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Password</label>
					</div>
				</form>
				<div class="row">
					<div class="col text-left">
						<div class="styled-checkbox">
							<input type="checkbox" name="checkbox" id="remeber">
							<label for="remeber">Remember me</label>
						</div>
					</div>
					<div class="col text-right">
						<a href="{{ path('kw.layouts.security.forgot.password', {'theme': 'elisyam'}) }}">Forgot Password ?</a>
					</div>
				</div>
				<div class="sign-btn text-center">
					<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}" class="btn btn-lg btn-gradient-01">
						Sign in
					</a>
				</div>
				<div class="register">
					Don't have an account?
					<br>
					<a href="{{ path('kw.layouts.security.signup', {'theme': 'elisyam'}) }}">Create an account</a>
				</div>
			</div>
			<!-- End Form -->
		</div>
		<!-- End Right Content -->
	</div>
	<!-- End Row -->
</div>
<!-- End Container -->
{% endblock %}

{% block body %}<body class="bg-white">{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/empty.html.twig' %}
