
<div id="sidebar" class="active">
	<div class="sidebar-wrapper active">
		<div class="sidebar-header">
			<img src="{{ asset('voler/assets/images/logo.svg', 'themes') }}" alt="" srcset="">
		</div>
		<div class="sidebar-menu">
			<ul class="menu">
				<li class="sidebar-title">Main Menu</li>
				<li class="sidebar-item active">
					<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'voler'}) }}" class="sidebar-link">
						<i data-feather="home" width="20"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="sidebar-item  has-sub">
					<a href="#" class="sidebar-link">
						<i data-feather="triangle" width="20"></i>
						<span>Components</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="javascript:void(0);">Alert</a>
						</li>
						<li>
							<a href="javascript:void(0);">Badge</a>
						</li>
						<li>
							<a href="javascript:void(0);">Breadcrumb</a>
						</li>
						<li>
							<a href="javascript:void(0);">Buttons</a>
						</li>
						<li>
							<a href="javascript:void(0);">Card</a>
						</li>
						<li>
							<a href="javascript:void(0);">Carousel</a>
						</li>
						<li>
							<a href="javascript:void(0);">Dropdowns</a>
						</li>
						<li>
							<a href="javascript:void(0);">List Group</a>
						</li>
						<li>
							<a href="javascript:void(0);">Modal</a>
						</li>
						<li>
							<a href="javascript:void(0);">Navs</a>
						</li>
						<li>
							<a href="javascript:void(0);">Pagination</a>
						</li>
						<li>
							<a href="javascript:void(0);">Progress</a>
						</li>
						<li>
							<a href="javascript:void(0);">Spinners</a>
						</li>
						<li>
							<a href="javascript:void(0);">Tooltips</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item  has-sub">
					<a href="#" class="sidebar-link">
						<i data-feather="briefcase" width="20"></i>
						<span>Extra Components</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="javascript:void(0);">Avatar</a>
						</li>
						<li>
							<a href="javascript:void(0);">Divider</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-title">Forms &amp; Tables</li>
				<li class="sidebar-item  has-sub">
					<a href="#" class="sidebar-link">
						<i data-feather="file-text" width="20"></i>
						<span>Form Elements</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('kw.layouts.form.element', {'theme': 'voler'}) }}">Input</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.form.element', {'theme': 'voler'}) }}">Input Group</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.form.element', {'theme': 'voler'}) }}">Select</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.form.element', {'theme': 'voler'}) }}">Radio</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.form.element', {'theme': 'voler'}) }}">Checkbox</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.form.element', {'theme': 'voler'}) }}">Textarea</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a href="{{ path('kw.layouts.form.layout', {'theme': 'voler'}) }}" class="sidebar-link">
						<i data-feather="layout" width="20"></i>
						<span>Form Layout</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a href="{{ path('kw.layouts.form.editor', {'theme': 'voler'}) }}" class="sidebar-link">
						<i data-feather="layers" width="20"></i>
						<span>Form Editor</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a href="{{ path('kw.layouts.table.index', {'theme': 'voler'}) }}" class="sidebar-link">
						<i data-feather="grid" width="20"></i>
						<span>Table</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a href="{{ path('kw.layouts.table.data', {'theme': 'voler'}) }}" class="sidebar-link">
						<i data-feather="file-plus" width="20"></i>
						<span>Datatable</span>
					</a>
				</li>
				<li class="sidebar-title">Extra UI</li>
				<li class="sidebar-item  has-sub">
					<a href="#" class="sidebar-link">
						<i data-feather="user" width="20"></i>
						<span>Widgets</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="javascript:void(0);">Chatbox</a>
						</li>
						<li>
							<a href="javascript:void(0);">Pricing</a>
						</li>
						<li>
							<a href="javascript:void(0);">To-do List</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item  has-sub">
					<a href="#" class="sidebar-link">
						<i data-feather="trending-up" width="20"></i>
						<span>Charts</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('kw.layouts.chart.chartjs', {'theme': 'voler'}) }}">ChartJS</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.chart.apex', {'theme': 'voler'}) }}">Apexchart</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-title">Pages</li>
				<li class="sidebar-item  has-sub">
					<a href="#" class="sidebar-link">
						<i data-feather="user" width="20"></i>
						<span>Authentication</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('kw.layouts.security.signin', {'theme': 'voler'}) }}">Login</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.security.signup', {'theme': 'voler'}) }}">Register</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.security.forgot.password', {'theme': 'voler'}) }}">Forgot Password</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item  has-sub">
					<a href="#" class="sidebar-link">
						<i data-feather="alert-circle" width="20"></i>
						<span>Errors</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('kw.layouts.error.error403', {'theme': 'voler'}) }}">403</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.error.error404', {'theme': 'voler'}) }}">404</a>
						</li>
						<li>
							<a href="{{ path('kw.layouts.error.error500', {'theme': 'voler'}) }}">500</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
	</div>
</div>
