
	<!-- HTML Meta Tags -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="author" content="{{ metas.author }}" />
	<meta name="description" content="{{ metas.description }}" />
	<link rel="canonical" href="{{ app.current_route }}" />
	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content="" />
	<meta itemprop="description" content="" />
	<meta itemprop="image" content="" />
	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="" />
	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:image" content="" />
