<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<title>{% block title %}Welcome!{% endblock %} ─ {{ metas.title }}</title>

	{% block metas %}{% include '@Layouts/_meta.html.twig' %}{% endblock %}

	{% block favicons %}{% include '@Layouts/_favicon.html.twig' %}{% endblock %}

	{% block stylesheets %}{% endblock %}
</head>

{% block body %}<body>{% endblock %}

{% block containers %}{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
</body>
</html>
