{% extends '@Layouts/base.html.twig' %}

{% block favicons %}{% include '@Layouts/themes/adminkit/partials/favicon.html.twig' %}{% endblock %}

{% block stylesheets %}

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" />
<link rel="stylesheet" href="{{ asset('adminkit/assets/css/app.css', 'themes') }}"/>
{% endblock %}

{% block body %}<body>{% endblock %}

{% block containers %}

    {% block contents %}{% endblock %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('adminkit/assets/js/app.js', 'themes') }}"></script>
{% endblock %}
