{% block contents %}
<div class="content-inner">

    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Blank Page</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item active">Blank</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Begin Row -->
        <div class="row flex-row">
            <div class="col-xl-12 col-12">
                <div class="widget has-shadow">
                    <div class="widget-body">
                        <p class="text-primary mt-2 mb-2">Play with Elisyam :)</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>

    {% block footer %}
        {% include '@Layouts/themes/elisyam/partials/footer.html.twig' %}
        {% include '@Layouts/themes/elisyam/partials/offcanvas.html.twig' %}
    {% endblock %}

</div>

{% endblock %}

{% block body %}<body class="page-top">{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/full.html.twig' %}
