{% extends '@Layouts/themes/elisyam/bases/empty.html.twig' %}

{% block contents %}

<!-- Begin Container -->
<div class="container-fluid h-100 overflow-y">
	<div class="row flex-row h-100">
		<div class="col-12 my-auto">
			<div class="coming-soon mx-auto">
				<div class="logo-centered">
					<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">
						<img src="{{ asset('elisyam/assets/img/logo.png', 'themes') }}" alt="logo">
					</a>
				</div>
				<h1>Coming <span>Soon</span></h1>
				<div class="sub-heading">Website Under Construction</div>
				<div class="row align-items-center justify-content-center">
					<div id="countdown"></div>
				</div>
				<div class="notify-form">
					<div class="heading">
						We will let you know when we are launching
					</div>
					<form>
						<div class="group material-input">
							<input type="email" required>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Enter your email address ...</label>
						</div>
					</form>
				</div>
				<div class="button text-center">
					<a href="javascript:void(0);" class="btn btn-lg btn-gradient-01">Notify me</a>
				</div>
				<div class="follow-link">
					<ul class="social-network">
						<li><a href="javascript:void(0);" class="ico-facebook" title="Facebook">
								<i class="ion-social-facebook"></i></a>
						</li>
						<li><a href="javascript:void(0);" class="ico-twitter" title="Twitter">
								<i class="ion-social-twitter"></i></a>
						</li>
						<li><a href="javascript:void(0);" class="ico-youtube" title="Youtube">
								<i class="ion-social-youtube"></i></a>
						</li>
						<li><a href="javascript:void(0);" class="ico-linkedin" title="Linkedin">
								<i class="ion-social-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Coming Soon -->
		</div>
		<!-- End Col -->
	</div>
	<!-- End Row -->
</div>
<!-- End Container -->
{% endblock %}


{% block javascripts %}

    {{ parent() }}
<!-- Begin Page Vendor Js -->
<script type="text/javascript" src="{{ asset('elisyam/assets/vendors/js/countdown/countdown.min.js', 'themes') }}"></script>
<!-- End Page Vendor Js -->
<!-- Begin Page Snippets -->
<script type="text/javascript" src="{{ asset('elisyam/assets/js/pages/coming-soon.min.js', 'themes') }}"></script>
<!-- End Page Snippets -->
{% endblock %}

{% block body %}<body class="bg-fixed-04">{% endblock %}
