<!-- Begin Page Content -->
<div class="page-content d-flex align-items-stretch">
    <div class="default-sidebar">
        <!-- Begin Side Navbar -->
        <nav class="side-navbar box-scroll sidebar-scroll">
            <!-- Begin Main Navigation -->
            <ul class="list-unstyled">
                <li><a href="#dropdown-db" aria-expanded="false" data-toggle="collapse"><i class="la la-columns"></i><span>Dashboard</span></a>
                    <ul id="dropdown-db" class="collapse list-unstyled pt-0">
                        <li><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">Default</a></li>
                        <li><a href="db-clean.html">Clean</a></li>
                        <li><a href="db-compact.html">Compact</a></li>
                        <li><a href="db-modern.html">Modern</a></li>
                        <li><a href="db-social.html">Social</a></li>
                        <li><a href="db-smarthome.html">Smarthome</a></li>
                        <li><a href="db-all.html">All</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-app" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i><span>Applications</span></a>
                    <ul id="dropdown-app" class="collapse list-unstyled pt-0">
                        <li><a href="app-calendar.html">Calendar</a></li>
                        <li><a href="app-chat.html">Chat</a></li>
                        <li><a href="app-mail.html">Mail</a></li>
                        <li><a href="app-contact.html">Contact</a></li>
                    </ul>
                </li>
                <li><a href="components-widgets.html"><i class="la la-spinner"></i><span>Widgets</span></a></li>
            </ul>
            <span class="heading">Components</span>
            <ul class="list-unstyled">
                <li><a href="#dropdown-ui" aria-expanded="false" data-toggle="collapse"><i class="la la-share-alt"></i><span>UI Elements</span></a>
                    <ul id="dropdown-ui" class="collapse list-unstyled pt-0">
                        <li><a href="components-buttons.html">Buttons</a></li>
                        <li><a href="components-alerts.html">Alerts</a></li>
                        <li><a href="components-modal.html">Modal</a></li>
                        <li><a href="components-notifications.html">Noty</a></li>
                        <li><a href="components-timeline.html">Timeline</a></li>
                        <li><a href="components-progress.html">Progress</a></li>
                        <li><a href="components-tabs.html">Tabs</a></li>
                        <li><a href="components-charts.html">Chart Js</a></li>
                        <li><a href="components-accordion.html">Accordion</a></li>
                        <li><a href="components-popover.html">Popover</a></li>
                        <li><a href="components-tooltip.html">Tooltip</a></li>
                        <li><a href="components-scrollable.html">Scrollable</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-icons" aria-expanded="false" data-toggle="collapse"><i class="la la-font"></i><span>Icons</span></a>
                    <ul id="dropdown-icons" class="collapse list-unstyled pt-0">
                        <li><a href="icons-lineawesome.html">Line Awesome</a></li>
                        <li><a href="icons-themify.html">Themify</a></li>
                        <li><a href="icons-ionicons.html">Ionicons</a></li>
                        <li><a href="icons-meteocons.html">Meteocons</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-forms" aria-expanded="false" data-toggle="collapse"><i class="la la-list-alt"></i><span>Forms</span></a>
                    <ul id="dropdown-forms" class="collapse list-unstyled pt-0">
                        <li><a href="forms-basic.html">Form Basic</a></li>
                        <li><a href="forms-validation.html">Form Validation</a></li>
                        <li><a href="forms-wizard.html">Form Wizard</a></li>
                        <li><a href="forms-select.html">Bootstrap Select</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-tables" aria-expanded="false" data-toggle="collapse"><i class="la la-th-large"></i><span>Tables</span></a>
                    <ul id="dropdown-tables" class="collapse list-unstyled pt-0">
                        <li><a href="tables-basic.html">Basic</a></li>
                        <li><a href="tables-datatables.html">Datatables</a></li>
                        <li><a href="tables-tabledit.html">Tabledit</a></li>
                    </ul>
                </li>
                <li><a href="maps-leaflet.html"><i class="la la-map"></i><span>Maps</span></a></li>
            </ul>
            <span class="heading">Pages</span>
            <ul class="list-unstyled">
                <li><a href="#dropdown-authentication" aria-expanded="false" data-toggle="collapse"><i class="la la-user"></i><span>Authentication</span></a>
                    <ul id="dropdown-authentication" class="collapse list-unstyled pt-0">
                        <li><a href="pages-login.html">Login</a></li>
                        <li><a href="pages-login-02.html">Login 02</a></li>
                        <li><a href="pages-register.html">Register</a></li>
                        <li><a href="pages-forgot-password.html">Forgot Password</a></li>
                        <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                        <li><a href="pages-mail-confirm.html">Mail Confirmation</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#dropdown-generic" aria-expanded="true" data-toggle="collapse"><i class="la la-file-text"></i><span>Generic</span></a>
                    <ul id="dropdown-generic" class="collapse list-unstyled show pt-0">
                        <li><a href="pages-coming-soon.html">Coming Soon</a></li>
                        <li><a href="pages-profile.html">Profile</a></li>
                        <li><a href="pages-invoice.html">Invoice</a></li>
                        <li><a class="active" href="pages-search.html">Search</a></li>
                        <li><a href="pages-faq.html">FAQ</a></li>
                        <li><a href="pages-blank.html">Blank</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-social" aria-expanded="false" data-toggle="collapse"><i class="la la-comments"></i><span>Social</span></a>
                    <ul id="dropdown-social" class="collapse list-unstyled pt-0">
                        <li><a href="pages-newsfeed.html">Newsfeed</a></li>
                        <li><a href="pages-about.html">About</a></li>
                        <li><a href="pages-events.html">Events</a></li>
                        <li><a href="pages-friends.html">Friends</a></li>
                        <li><a href="pages-groups.html">Groups</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-email" aria-expanded="false" data-toggle="collapse"><i class="la la-at"></i><span>Email</span></a>
                    <ul id="dropdown-email" class="collapse list-unstyled pt-0">
                        <li><a href="email-welcome.html">Welcome</a></li>
                        <li><a href="email-password.html">Reset Password</a></li>
                        <li><a href="email-order.html">Order Confirmation</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-pricing" aria-expanded="false" data-toggle="collapse"><i class="la la-usd"></i><span>Pricing</span></a>
                    <ul id="dropdown-pricing" class="collapse list-unstyled pt-0">
                        <li><a href="pages-pricing-tables-01.html">Style 01</a></li>
                        <li><a href="pages-pricing-tables-02.html">Style 02</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-error" aria-expanded="false" data-toggle="collapse"><i class="la la-exclamation-triangle"></i><span>Errors</span></a>
                    <ul id="dropdown-error" class="collapse list-unstyled pt-0">
                        <li><a href="pages-404-01.html">Style 01</a></li>
                        <li><a href="pages-404-02.html">Style 02</a></li>
                    </ul>
                </li>
            </ul>
            <!-- End Main Navigation -->
        </nav>
        <!-- End Side Navbar -->
    </div>
    <!-- End Left Sidebar -->
    <!-- Begin Content -->
    <div class="content-inner search-results">
        <div class="container-fluid">
            <!-- Begin Page Header-->
            <div class="row">
                <div class="page-header">
                    <div class="d-flex align-items-center">
                        <h2 class="page-header-title">Search Results</h2>
                        <div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}"><i class="ti ti-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                                <li class="breadcrumb-item active">Search Results</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="widget has-shadow">
                        <div class="widget-body">
                            <div class="input-group">
                                <input type="text" class="form-control no-ppading-right no-padding-left" placeholder="Search ...">
                                <span class="input-group-addon">
                                    <a class="btn" href="javascript:void(0);">
                                        <i class="la la-search la-2x"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="widget has-shadow">
                        <div class="widget-header bordered no-actions d-flex align-items-center">
                            <h2>84 Results Found</h2>
                            <span>Results: 1 - 12 of 84</span>
                        </div>
                        <div class="widget-body">
                            <div class="row d-flex align-items-center margin-top-10">
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center margin-top-10">
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center margin-top-10">
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center margin-top-10">
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center margin-top-10">
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center margin-top-10">
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                                <div class="col-md-6 search-items">
                                    <h4>
                                        <a class="link-effect" href="javascript:void(0);">Elisyam - Web App & Admin Dashboard Template</a>
                                    </h4>
                                    <div class="text-success">https://www.example.com</div>
                                    <p>
                                        Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex align-items-center margin-bottom-10">
                                    <nav aria-label="...">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <span class="page-link"><i class="ion-chevron-left"></i></span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                            <li class="page-item active">
                                                <span class="page-link">2<span class="sr-only">(current)</span></span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">6</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);"><i class="ion-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Container -->
        <!-- Begin Page Footer-->
        <footer class="main-footer">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
                    <p class="text-gradient-02">Design By Saerox</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="documentation.html">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="changelog.html">Changelog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- End Page Footer -->
        <a href="javascript:void(0);" class="go-top"><i class="la la-arrow-up"></i></a>
        <!-- Offcanvas Sidebar -->
        <div class="off-sidebar from-right">
            <div class="off-sidebar-container">
                <header class="off-sidebar-header">
                    <ul class="button-nav nav nav-tabs mt-3 mb-3 ml-3" role="tablist" id="weather-tab">
                        <li><a class="active" data-toggle="tab" href="#messenger" role="tab" id="messenger-tab">Messages</a></li>
                        <li><a data-toggle="tab" href="#today" role="tab" id="today-tab">Today</a></li>
                    </ul>
                    <a href="#off-canvas" class="off-sidebar-close"></a>
                </header>
                <div class="off-sidebar-content offcanvas-scroll auto-scroll">
                    <div class="tab-content">
                        <!-- Begin Messenger -->
                        <div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
                            <!-- Begin Chat Message -->
                            <span class="date">Today</span>
                            <div class="messenger-message messenger-message-sender">
                                <img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
                                <div class="messenger-message-wrapper">
                                    <div class="messenger-message-content">
                                        <p>
                                            <span class="mb-2">Brandon wrote</span>
                                            Hi David, what's up?
                                        </p>
                                    </div>
                                    <div class="messenger-details">
                                        <span class="messenger-message-localization font-size-small">2 minutes ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="messenger-message messenger-message-recipient">
                                <div class="messenger-message-wrapper">
                                    <div class="messenger-message-content">
                                        <p>
                                            Hi Brandon, fine and you?
                                        </p>
                                        <p>
                                            I'm working on the next update of Elisyam
                                        </p>
                                    </div>
                                    <div class="messenger-details">
                                        <span class="messenger-message-localisation font-size-small">3 minutes ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="messenger-message messenger-message-sender">
                                <img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
                                <div class="messenger-message-wrapper">
                                    <div class="messenger-message-content">
                                        <p>
                                            <span class="mb-2">Brandon wrote</span>
                                            I can't wait to see
                                        </p>
                                    </div>
                                    <div class="messenger-details">
                                        <span class="messenger-message-localization font-size-small">5 minutes ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="messenger-message messenger-message-recipient">
                                <div class="messenger-message-wrapper">
                                    <div class="messenger-message-content">
                                        <p>
                                            I'm almost done
                                        </p>
                                    </div>
                                    <div class="messenger-details">
                                        <span class="messenger-message-localisation font-size-small">10 minutes ago</span>
                                    </div>
                                </div>
                            </div>
                            <span class="date">Yesterday</span>
                            <div class="messenger-message messenger-message-sender">
                                <img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
                                <div class="messenger-message-wrapper">
                                    <div class="messenger-message-content">
                                        <p>
                                            I updated the server tonight
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="messenger-message messenger-message-recipient">
                                <div class="messenger-message-wrapper">
                                    <div class="messenger-message-content">
                                        <p>
                                            Didn't you have any problems?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="messenger-message messenger-message-sender">
                                <img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
                                <div class="messenger-message-wrapper">
                                    <div class="messenger-message-content">
                                        <p>
                                            No!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="messenger-message messenger-message-recipient">
                                <div class="messenger-message-wrapper">
                                    <div class="messenger-message-content">
                                        <p>
                                            Great!
                                        </p>
                                        <p>
                                            See you later!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Chat Message -->
                            <!-- Begin Message Form -->
                            <div class="enter-message">
                                <div class="enter-message-form">
                                    <input type="text" placeholder="Enter your message..." />
                                </div>
                                <div class="enter-message-button">
                                    <a href="javascript:void(0);" class="send"><i class="ion-paper-airplane"></i></a>
                                </div>
                            </div>
                            <!-- End Message Form -->
                        </div>
                        <!-- End Messenger -->
                        <!-- Begin Today -->
                        <div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
                            <!-- Begin Today Stats -->
                            <div class="sidebar-heading pt-0">Today</div>
                            <div class="today-stats mt-3 mb-3">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <i class="la la-users"></i>
                                        <div class="counter">264</div>
                                        <div class="heading">Clients</div>
                                    </div>
                                    <div class="col-4 text-center">
                                        <i class="la la-cart-arrow-down"></i>
                                        <div class="counter">360</div>
                                        <div class="heading">Sales</div>
                                    </div>
                                    <div class="col-4 text-center">
                                        <i class="la la-money"></i>
                                        <div class="counter">$ 4,565</div>
                                        <div class="heading">Earnings</div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Today Stats -->
                            <!-- Begin Friends -->
                            <div class="sidebar-heading">Friends</div>
                            <div class="quick-friends mt-3 mb-3">
                                <ul class="list-group w-100">
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-left align-self-center mr-3">
                                                <img src="../assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="javascript:void(0);">Brandon Smith</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-left align-self-center mr-3">
                                                <img src="../assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="javascript:void(0);">Louis Henry</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-left align-self-center mr-3">
                                                <img src="../assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="javascript:void(0);">Nathan Hunter</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-left align-self-center mr-3">
                                                <img src="../assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="javascript:void(0);">Megan Duncan</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-left align-self-center mr-3">
                                                <img src="../assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="javascript:void(0);">Beverly Oliver</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Friends -->
                            <!-- Begin Settings -->
                            <div class="sidebar-heading">Settings</div>
                            <div class="quick-settings mt-3 mb-3">
                                <ul class="list-group w-100">
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-body align-self-center">
                                                <p class="text-dark">Notifications Email</p>
                                            </div>
                                            <div class="media-right align-self-center">
                                                <label>
                                                    <input class="toggle-checkbox" type="checkbox" checked>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-body align-self-center">
                                                <p class="text-dark">Notifications Sound</p>
                                            </div>
                                            <div class="media-right align-self-center">
                                                <label>
                                                    <input class="toggle-checkbox" type="checkbox">
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-body align-self-center">
                                                <p class="text-dark">Chat Message Sound</p>
                                            </div>
                                            <div class="media-right align-self-center">
                                                <label>
                                                    <input class="toggle-checkbox" type="checkbox" checked>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Settings -->
                        </div>
                        <!-- End Today -->
                    </div>
                </div>
                <!-- End Offcanvas Container -->
            </div>
            <!-- End Offsidebar Container -->
        </div>
        <!-- End Offcanvas Sidebar -->
    </div>
    <!-- End Content -->
</div>
<!-- End Page Content -->
