			<!-- Begin Page Content -->
			<div class="page-content d-flex align-items-stretch">
				<div class="compact-sidebar light-sidebar has-shadow">
					<!-- Begin Side Navbar -->
					<nav class="side-navbar box-scroll sidebar-scroll">
						<!-- Begin Main Navigation -->
						<ul class="list-unstyled">
							<li>
								<a href="pages-newsfeed.html">
									<i class="ti ti-receipt"></i><span>Newsfeed</span>
								</a>
							</li>
							<li>
								<a href="app-chat.html">
									<i class="ti ti-comments"></i><span>Messages</span>
								</a>
							</li>
							<li>
								<a href="pages-friends.html">
									<i class="ti ti-user"></i><span>Friends</span>
								</a>
							</li>
							<li>
								<a href="pages-groups.html">
									<i class="ti ti-world"></i><span>Groups</span>
								</a>
							</li>
							<li>
								<a href="pages-events.html">
									<i class="ti ti-calendar"></i><span>Events</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<i class="ti ti-headphone"></i><span>Musics</span>
								</a>
							</li>
							<li>
								<a href="pages-albums.html">
									<i class="ti ti-gallery"></i><span>Images</span>
								</a>
							</li>
							<li>
								<a href="pages-videos.html">
									<i class="ti ti-control-play"></i><span>Videos</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<i class="ti ti-stats-up"></i><span>Statistics</span>
								</a>
							</li>
							<li>
								<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">
									<i class="la la-angle-left"></i><span>Go Back</span>
								</a>
							</li>
						</ul>
						<!-- End Main Navigation -->
					</nav>
					<!-- End Side Navbar -->
				</div>
				<!-- End Left Sidebar -->
				<!-- Begin Content -->
				<div class="content-inner compact">
					<div class="container-fluid">
						<div class="row justify-content-center">
							<div class="col-xl-11">
								<div class="row">
									<!-- Begin Events -->
									<div class="col-xl-3">
										<div class="widget-32 widget-image bg-image">
											<div class="overlay"></div>
											<div class="content">
												<div id="events-day"></div>
												<div id="events-date"></div>
												<div id="events-year"></div>
											</div>
											<div class="real-time">
												<div id="events-time"></div>
											</div>
										</div>
										<div class="widget has-shadow">
											<div class="widget-header bordered no-actions">
												<h5>Add Events</h5>
											</div>
											<div class="widget-body">
												<div id="external-events">
													<div class="fc-event-container">
														<div class="fc-event fc-bg-default mt-0">
															<div class="fc-content"><span class="fc-title"><i class="la la-scissors"></i>Barber</span></div>
														</div>
													</div>
													<div class="fc-event-container">
														<div class="fc-event fc-bg-default">
															<div class="fc-content"><span class="fc-title"><i class="la la-birthday-cake"></i>Birthday</span></div>
														</div>
													</div>
													<div class="fc-event-container">
														<div class="fc-event fc-bg-default">
															<div class="fc-content"><span class="fc-title"><i class="la la-cutlery"></i>Food</span></div>
														</div>
													</div>
													<div class="fc-event-container">
														<div class="fc-event fc-bg-default">
															<div class="fc-content"><span class="fc-title"><i class="la la-glass"></i>Restaurant</span></div>
														</div>
													</div>
													<div class="fc-event-container">
														<div class="fc-event fc-bg-default">
															<div class="fc-content"><span class="fc-title"><i class="la la-graduation-cap"></i>School</span></div>
														</div>
													</div>
													<div class="remove-drop mt-4">
														<div class="styled-checkbox">
															<input type="checkbox" name="drop-remove" id="drop-remove">
															<label for="drop-remove">Remove after drop</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End Events -->
									<div class="col-xl-9">
										<!-- Begin Widget -->
										<div class="widget has-shadow">
											<div class="widget-header bordered no-actions">
												<h5>Calendar</h5>
											</div>
											<!-- End Widget Header -->
											<!-- Begin Widget Body -->
											<div class="widget-body">
												<!-- Begin Calendar -->
												<div id="calendar-container">
													<div id="calendar"></div>
												</div>
												<!-- End Calendar -->
											</div>
											<!-- End Calendar -->
										</div>
										<!-- End Widget -->
									</div>
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Row -->
					</div>
					<!-- End Container -->

				</div>
				<!-- End Content -->
			</div>
			<!-- End Page Content -->
		</div>
		<!-- Begin Modal -->
		<div id="modal-view-event" class="modal modal-top fade calendar-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title event-title"></h4>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
							<span class="sr-only">close</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="media">
							<div class="media-left align-self-center mr-3">
								<div class="event-icon"></div>
							</div>
							<div class="media-body align-self-center mt-3 mb-3">
								<div class="event-body"></div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal -->
		<!-- Begin Vendor Js -->
		<script type="text/javascript" src="../assets/vendors/js/base/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/base/jquery.ui.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/base/core.min.js"></script>
		<!-- End Vendor Js -->
		<!-- Begin Page Vendor Js -->
		<script type="text/javascript" src="../assets/vendors/js/nicescroll/nicescroll.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/calendar/moment.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/calendar/fullcalendar.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/app/app.min.js"></script>
		<!-- End Page Vendor Js -->
		<!-- Begin Page Snippets -->
		<script type="text/javascript" src="../assets/js/pages/events.min.js"></script>
		<!-- End Page Snippets -->
