{% block contents %}
<!-- Begin Content -->
<div class="content-inner compact">
    <!-- Begin Jumbotron -->
    <div class="jumbotron jumbotron-fluid"></div>
    <!-- End Jumbotron -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <!-- Start Head Profile -->
                <div class="widget head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                <ul>
                                    <li>
                                        <div class="counter">8234</div>
                                        <div class="heading">Followers</div>
                                    </li>
                                    <li>
                                        <div class="counter">357</div>
                                        <div class="heading">Likes</div>
                                    </li>
                                    <li>
                                        <div class="counter">23</div>
                                        <div class="heading">Products</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                <div class="image-default">
                                    <img class="rounded-circle" src="{{ asset('elisyam/assets/img/avatar/avatar-01.jpg', 'themes') }}" alt="...">
                                </div>
                                <div class="infos">
                                    <h2>David Green</h2>
                                    <div class="location">Las Vegas, Nevada, U.S.</div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                                <div class="follow">
                                    <a class="btn btn-shadow" href="javascript:void(0);"><i class="la la-user-plus"></i>Add Friend</a>
                                    <div class="actions dark">
                                        <div class="dropdown">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                                <i class="la la-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    Report
                                                </a>
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    Block
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="head-nav nav nav-tabs justify-content-center">
                            <li><a href="db-social.html">Timeline</a></li>
                            <li><a class="active" href="pages-about.html">About</a></li>
                            <li><a href="pages-friends.html">Friends</a></li>
                            <li><a href="javascript:void(0);">Photos</a></li>
                            <li><a href="javascript:void(0);">Videos</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Head Profile -->
                <div class="row flex-row">
                    <div class="col-xl-5">
                        <!-- Begin Widget -->
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h4>General Infos</h4>
                            </div>
                            <div class="widget-body">
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">About Me:</div>
                                    <div class="about-text">
                                        Hi, I'm David lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet in sem sed condimentum. Nullam vehicula iaculis orci ac facilisis.
                                    </div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Birthday:</div>
                                    <div class="about-text">September 21, 1985</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Lives in:</div>
                                    <div class="about-text">Las Vegas, Nevada, U.S.</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Joined:</div>
                                    <div class="about-text">Febuary 20, 2017</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Gender:</div>
                                    <div class="about-text">Male</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Occupation:</div>
                                    <div class="about-text">UX Designer</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Skills:</div>
                                    <div class="about-text">Photoshop, Illustrator, Javascript, HTML, CSS</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Email:</div>
                                    <div class="about-text">dgreen@email.com</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Website:</div>
                                    <div class="about-text">www.be-elisyam.com</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title">Phone:</div>
                                    <div class="about-text">+00 987 654 32</div>
                                </div>
                                <div class="about-infos d-flex flex-column">
                                    <div class="about-title mr-auto">Ratings (21):</div>
                                    <div class="about-text">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget -->
                    </div>
                    <!-- Begin Column -->
                    <div class="col-xl-7 column">
                        <!-- Begin Education -->
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h4>Education</h4>
                            </div>
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">The Art Institute (Atlanta):</div>
                                        <div class="date">2005 - 2006</div>
                                        <div class="about-text">Cras semper turpis arcu, in accumsan elit sagittis et. Nulla sed trnibh, vehicula blandit massa</div>
                                    </div>
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">Epitech (Paris):</div>
                                        <div class="date">2003 - 2005</div>
                                        <div class="about-text">In et molestie risus. Etiam efficitur enim sit amet porttitor Nulla fermentum laoreet ipsum, vehicula</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">School of Visual Arts (Chicago):</div>
                                        <div class="date">2001 - 2003</div>
                                        <div class="about-text">Quisque tincidunt, dui efficitur elementum faucibus, est nunc ultricies lacus, et mattis neque nisi sollicitudin</div>
                                    </div>
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">The Fake School:</div>
                                        <div class="date">2000 - 2001</div>
                                        <div class="about-text">Cras semper turpis arcu, in accumsan elit sagittis et. Nulla sed tristique nibh, vehicula blandit massa</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Education -->
                        <!-- Begin Eployement -->
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h4>Employement</h4>
                            </div>
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">Creative Media:</div>
                                        <div class="date">2016 - 2018</div>
                                        <div class="about-text">Cras semper turpis arcu, in accumsan elit sagittis et. Nulla sed tristique nibh, vehicula blandit massa</div>
                                    </div>
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">Saerox Design:</div>
                                        <div class="date">2015 - 2016</div>
                                        <div class="about-text">In et molestie risus. Etiam efficitur enim sit amet porttitor rutrum. Nulla fermentum laoreet ipsum, vehicula</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">Pixel Bird:</div>
                                        <div class="date">2014 - 2015</div>
                                        <div class="about-text">Quisque tincidunt, dui efficitur elementum faucibus, est nunc ultricies lacus, et mattis neque nisi sollicitudin</div>
                                    </div>
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">The Good Agency:</div>
                                        <div class="date">2012 - 2014</div>
                                        <div class="about-text">Cras semper turpis arcu, in accumsan elit sagittis et. Nulla sed tristique nibh, vehicula blandit massa</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">Elisyam Media:</div>
                                        <div class="date">2010 - 2012</div>
                                        <div class="about-text">Nullam id faucibus ipsum. Donec bibendum nibh et mi cursus tincidunt. Etiam id nisl sit amet nisi accumsan</div>
                                    </div>
                                    <div class="col-md-6 about-infos d-flex flex-column">
                                        <div class="about-title">Awesome Agency:</div>
                                        <div class="date">2008 - 2010</div>
                                        <div class="about-text">Vivamus cursus odio sit amet nisl volutpat bibendum.Vivamus in leo efficitur, placerat leo sed</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Eployement -->
                        <!-- Begin Hobbies & Interest -->
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h4>Hobbies & Interest</h4>
                            </div>
                            <div class="widget-body">
                                <div class="d-flex justify-content-center">
                                    <div class="hobbies">
                                        <div class="hobbies-icon">
                                            <a href="javascript:void(0);" title="Camping">
                                                <i class="ion-bonfire"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hobbies">
                                        <div class="hobbies-icon">
                                            <a href="javascript:void(0);" title="Photography">
                                                <i class="ion-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hobbies">
                                        <div class="hobbies-icon">
                                            <a href="javascript:void(0);" title="Music">
                                                <i class="ion-headphone"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hobbies">
                                        <div class="hobbies-icon">
                                            <a href="javascript:void(0);" title="Travel">
                                                <i class="ion-map"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="hobbies">
                                        <div class="hobbies-icon">
                                            <a href="javascript:void(0);" title="Food">
                                                <i class="ion-icecream"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hobbies">
                                        <div class="hobbies-icon">
                                            <a href="javascript:void(0);" title="Paint">
                                                <i class="ion-paintbrush"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hobbies">
                                        <div class="hobbies-icon">
                                            <a href="javascript:void(0);" title="Nature">
                                                <i class="ion-leaf"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hobbies">
                                        <div class="hobbies-icon">
                                            <a href="javascript:void(0);" title="Coffee">
                                                <i class="ion-coffee"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Hobbies & Interest -->
                    </div>
                    <!-- End Column -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->

    {% block footer %}
        {% include '@Layouts/themes/elisyam/partials/footer.html.twig' %}
        {% include '@Layouts/themes/elisyam/partials/offcanvas.html.twig' %}
    {% endblock %}

</div>
<!-- End Content -->

{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/full.html.twig' %}