{% extends '@Layouts/themes/elisyam/bases/full.html.twig' %}

{% block contents %}

<!-- Begin Content -->
<div class="content-inner compact">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <!-- Begin Page Header-->
                <div class="page-header pr-0 pl-0">
                    <div class="d-flex align-items-center">
                        <h2 class="page-header-title">Albums</h2>
                        <div>
                            <div class="page-header-tools">
                                <a class="btn btn-gradient-01" href="javascript:void(0);">New Album</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Page Header -->
                <div class="row align-items-center mt-3 mb-4">
                    <div class="col-4">
                        <h4 class="m-0">640 Images</h4>
                    </div>
                    <div class="col-8 text-right">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-2">
                                <a href="javascript:void(0)">
                                    <i class="la la-list la-2x"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mr-2">
                                <a href="javascript:void(0)">
                                    <i class="la la-th-large la-2x"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void(0)">
                                    <i class="la la-refresh la-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="widget has-shadow">
                            <figure class="img-hover-01">
                                <img src="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/01.jpg" class="img-fluid" alt="...">
                                <div>
                                    <a href="javascript:void(0);">
                                        <span>26</span>
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/01.jpg" data-lity data-lity-desc="...">
                                        <i class="la la-expand"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                </div>
                            </figure>
                            <div class="widget-body text-center">
                                <h3 class="mt-3 mb-3"><a href="javascript:void(0);">Album Name 01</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="widget has-shadow">
                            <figure class="img-hover-01">
                                <img src="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/02.jpg" class="img-fluid" alt="...">
                                <div>
                                    <a href="javascript:void(0);">
                                        <span>15</span>
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/02.jpg" data-lity data-lity-desc="...">
                                        <i class="la la-expand"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                </div>
                            </figure>
                            <div class="widget-body text-center">
                                <h3 class="mt-3 mb-3"><a href="javascript:void(0);">Album Name 02</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="widget has-shadow">
                            <figure class="img-hover-01">
                                <img src="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/03.jpg" class="img-fluid" alt="...">
                                <div>
                                    <a href="javascript:void(0);">
                                        <span>42</span>
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/03.jpg" data-lity data-lity-desc="...">
                                        <i class="la la-expand"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                </div>
                            </figure>
                            <div class="widget-body text-center">
                                <h3 class="mt-3 mb-3"><a href="javascript:void(0);">Album Name 03</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="widget has-shadow">
                            <figure class="img-hover-01">
                                <img src="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/04.jpg" class="img-fluid" alt="...">
                                <div>
                                    <a href="javascript:void(0);">
                                        <span>10</span>
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/04.jpg" data-lity data-lity-desc="...">
                                        <i class="la la-expand"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                </div>
                            </figure>
                            <div class="widget-body text-center">
                                <h3 class="mt-3 mb-3"><a href="javascript:void(0);">Album Name 04</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="widget has-shadow">
                            <figure class="img-hover-01">
                                <img src="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/05.jpg" class="img-fluid" alt="...">
                                <div>
                                    <a href="javascript:void(0);">
                                        <span>26</span>
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/05.jpg" data-lity data-lity-desc="...">
                                        <i class="la la-expand"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                </div>
                            </figure>
                            <div class="widget-body text-center">
                                <h3 class="mt-3 mb-3"><a href="javascript:void(0);">Album Name 05</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="widget has-shadow">
                            <figure class="img-hover-01">
                                <img src="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/06.jpg" class="img-fluid" alt="...">
                                <div>
                                    <a href="javascript:void(0);">
                                        <span>15</span>
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/06.jpg" data-lity data-lity-desc="...">
                                        <i class="la la-expand"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                </div>
                            </figure>
                            <div class="widget-body text-center">
                                <h3 class="mt-3 mb-3"><a href="javascript:void(0);">Album Name 06</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="widget has-shadow">
                            <figure class="img-hover-01">
                                <img src="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/07.jpg" class="img-fluid" alt="...">
                                <div>
                                    <a href="javascript:void(0);">
                                        <span>42</span>
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/07.jpg" data-lity data-lity-desc="...">
                                        <i class="la la-expand"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                </div>
                            </figure>
                            <div class="widget-body text-center">
                                <h3 class="mt-3 mb-3"><a href="javascript:void(0);">Album Name 07</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="widget has-shadow">
                            <figure class="img-hover-01">
                                <img src="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/08.jpg" class="img-fluid" alt="...">
                                <div>
                                    <a href="javascript:void(0);">
                                        <span>10</span>
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="{{ asset('elisyam/XXX', 'themes') }}assets/img/albums/08.jpg" data-lity data-lity-desc="...">
                                        <i class="la la-expand"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <i class="la la-ellipsis-v"></i>
                                    </a>
                                </div>
                            </figure>
                            <div class="widget-body text-center">
                                <h3 class="mt-3 mb-3"><a href="javascript:void(0);">Album Name 08</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->

    {% block footer %}
        {% include '@Layouts/themes/elisyam/partials/footer.html.twig' %}
        {% include '@Layouts/themes/elisyam/partials/offcanvas.html.twig' %}
    {% endblock %}


    </div>
    <!-- End Content -->
</div>
<!-- End Page Content -->


{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <!-- Begin Page Vendor Js -->
    <script type="text/javascript" src="{{ asset('elisyam/assets/vendors/js/lity/lity.min.js', 'themes') }}"></script>
    <!-- End Page Vendor Js -->
    <!-- Begin Page Snippets -->
    <script>
    $(document).on('click', '[data-lightbox]', lity);
    </script>
    <!-- End Page Snippets -->
{% endblock %}
