<div class="page db-social page-video">
    <!-- Begin Header -->
    <header class="header">
        <nav class="navbar fixed-top">
            <!-- Begin Search Box-->
            <div class="search-box">
                <button class="dismiss"><i class="ion-close-round"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="Search something ..." class="form-control">
                </form>
            </div>
            <!-- End Search Box-->
            <!-- Begin Topbar -->
            <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
                <!-- Begin Logo -->
                <div class="navbar-header">
                    <a href="db-social.html" class="navbar-brand">
                        <div class="brand-image brand-big">
                            <img src="../assets/img/logo.png" alt="logo" style="width: 70px;" class="logo-big">
                        </div>
                        <div class="brand-image brand-small">
                            <img src="../assets/img/logo.png" alt="logo" class="logo-small">
                        </div>
                    </a>
                    <!-- Toggle Button -->
                    <a id="toggle-btn" href="javascript:void(0);" class="menu-btn active">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <!-- End Toggle -->
                </div>
                <!-- End Logo -->
                <!-- Begin Navbar Menu -->
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
                    <!-- Search -->
                    <li class="nav-item d-flex align-items-center"><a id="search" href="javascript:void(0);"><i class="la la-search"></i></a></li>
                    <!-- End Search -->
                    <!-- Begin Notifications -->
                    <li class="nav-item dropdown"><a id="notifications" rel="nofollow" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="la la-bell animated infinite swing"></i><span class="badge-pulse"></span></a>
                        <ul aria-labelledby="notifications" class="dropdown-menu notification">
                            <li>
                                <div class="notifications-header">
                                    <div class="title">Notifications (4)</div>
                                    <div class="notifications-overlay"></div>
                                    <img src="../assets/img/notifications/01.jpg" alt="..." class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="message-icon">
                                        <i class="la la-user"></i>
                                    </div>
                                    <div class="message-body">
                                        <div class="message-body-heading">
                                            New user registered
                                        </div>
                                        <span class="date">2 hours ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="message-icon">
                                        <i class="la la-calendar-check-o"></i>
                                    </div>
                                    <div class="message-body">
                                        <div class="message-body-heading">
                                            New event added
                                        </div>
                                        <span class="date">7 hours ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="message-icon">
                                        <i class="la la-history"></i>
                                    </div>
                                    <div class="message-body">
                                        <div class="message-body-heading">
                                            Server rebooted
                                        </div>
                                        <span class="date">7 hours ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="message-icon">
                                        <i class="la la-twitter"></i>
                                    </div>
                                    <div class="message-body">
                                        <div class="message-body-heading">
                                            You have 3 new followers
                                        </div>
                                        <span class="date">10 hours ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="javascript:void(0);" class="dropdown-item all-notifications text-center">View All Notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Notifications -->
                    <!-- User -->
                    <li class="nav-item dropdown"><a id="user" rel="nofollow" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="../assets/img/avatar/avatar-01.jpg" alt="..." class="avatar rounded-circle"></a>
                        <ul aria-labelledby="user" class="user-size dropdown-menu">
                            <li class="welcome">
                                <a href="javascript:void(0);" class="edit-profil"><i class="la la-gear"></i></a>
                                <img src="../assets/img/avatar/avatar-01.jpg" alt="..." class="rounded-circle">
                            </li>
                            <li>
                                <a href="db-social.html" class="dropdown-item">
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="app-mail.html" class="dropdown-item">
                                    Messages
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item no-padding-bottom">
                                    Settings
                                </a>
                            </li>
                            <li class="separator"></li>
                            <li>
                                <a href="pages-faq.html" class="dropdown-item no-padding-top">
                                    Faq
                                </a>
                            </li>
                            <li><a rel="nofollow" href="pages-login.html" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
                        </ul>
                    </li>
                    <!-- End User -->
                    <!-- Begin Quick Actions -->
                    <li class="nav-item"><a href="#off-canvas" class="open-sidebar"><i class="la la-ellipsis-h"></i></a></li>
                    <!-- End Quick Actions -->
                </ul>
                <!-- End Navbar Menu -->
            </div>
            <!-- End Topbar -->
        </nav>
    </header>
    <!-- End Header -->
    <!-- Begin Page Content -->
    <div class="page-content d-flex align-items-stretch">
        <div class="compact-sidebar light-sidebar has-shadow">
            <!-- Begin Side Navbar -->
            <nav class="side-navbar box-scroll sidebar-scroll">
                <!-- Begin Main Navigation -->
                <ul class="list-unstyled">
                    <li>
                        <a href="pages-newsfeed.html">
                            <i class="ti ti-receipt"></i><span>Newsfeed</span>
                        </a>
                    </li>
                    <li>
                        <a href="app-chat.html">
                            <i class="ti ti-comments"></i><span>Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages-friends.html">
                            <i class="ti ti-user"></i><span>Friends</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages-groups.html">
                            <i class="ti ti-world"></i><span>Groups</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages-events.html">
                            <i class="ti ti-calendar"></i><span>Events</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="ti ti-headphone"></i><span>Musics</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages-albums.html">
                            <i class="ti ti-gallery"></i><span>Images</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages-videos.html">
                            <i class="ti ti-control-play"></i><span>Videos</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="ti ti-stats-up"></i><span>Statistics</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">
                            <i class="la la-angle-left"></i><span>Go Back</span>
                        </a>
                    </li>
                </ul>
                <!-- End Main Navigation -->
            </nav>
            <!-- End Side Navbar -->
        </div>
        <!-- End Left Sidebar -->
        <!-- Begin Content -->
        <div class="content-inner compact">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-11">
                        <!-- Begin Page Header-->
                        <div class="page-header pr-0 pl-0">
                            <div class="d-flex align-items-center">
                                <h2 class="page-header-title">Videos</h2>
                                <div>
                                    <div class="page-header-tools">
                                        <a class="btn btn-shadow" href="javascript:void(0);">Upload Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Page Header -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="widget has-shadow">
                                    <div class="row post-video">
                                        <div class="col-xl-7 col-lg-12 col-12">
                                            <figure class="img-hover-02">
                                                <img src="../assets/img/videos/01.jpg" class="img-fluid" alt="...">
                                                <i class="ion-play"></i>
                                                <a href="https://www.youtube.com/watch?v=8Z1eMy2FoX4" data-lity></a>
                                            </figure>
                                        </div>
                                        <div class="col-xl-5 col-lg-12 col-12 mt-auto mb-auto">
                                            <!-- Begin Widget Header -->
                                            <div class="widget-header d-flex align-items-center">
                                                <div class="user-image">
                                                    <img class="rounded-circle" src="../assets/img/avatar/avatar-04.jpg" alt="...">
                                                </div>
                                                <div class="d-flex flex-column mr-auto">
                                                    <div class="title">
                                                        <span class="username">Nathan Hunter</span> shared a link
                                                    </div>
                                                    <div class="time">52 min ago</div>
                                                </div>
                                                <div class="widget-options">
                                                    <div class="dropdown">
                                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                                            <i class="la la-ellipsis-h"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a href="javascript:void(0);" class="dropdown-item">
                                                                <i class="la la-edit"></i>Edit Post
                                                            </a>
                                                            <a href="javascript:void(0);" class="dropdown-item">
                                                                <i class="la la-trash"></i>Delete Post
                                                            </a>
                                                            <a href="javascript:void(0);" class="dropdown-item">
                                                                <i class="la la-bell-slash"></i>Disable Notifications
                                                            </a>
                                                            <a href="javascript:void(0);" class="dropdown-item faq">
                                                                <i class="la la-question-circle"></i>FAQ
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Widget Header -->
                                            <!-- Begin Widget Body -->
                                            <div class="widget-body">
                                                <p>
                                                    Hey <a href="db-social.html">David</a>, look at this, you'll love it. Tell me what you think !
                                                </p>
                                            </div>
                                            <!-- End Widget Body -->
                                            <!-- Begin Widget Footer -->
                                            <div class="widget-footer d-flex align-items-center">
                                                <div class="col-xl-8 col-md-8 col-7 no-padding d-flex justify-content-start align-items-center">
                                                    <div class="users-like">
                                                        <a href="javascript:void(0);">
                                                            <img src="../assets/img/avatar/avatar-01.jpg" class="img-fluid rounded-circle" alt="...">
                                                        </a>
                                                        <a href="javascript:void(0);">
                                                            <img src="../assets/img/avatar/avatar-02.jpg" class="img-fluid rounded-circle" alt="...">
                                                        </a>
                                                        <a href="javascript:void(0);">
                                                            <img src="../assets/img/avatar/avatar-03.jpg" class="img-fluid rounded-circle" alt="...">
                                                        </a>
                                                        <a href="javascript:void(0);">
                                                            <img src="../assets/img/avatar/avatar-09.jpg" class="img-fluid rounded-circle" alt="...">
                                                        </a>
                                                        <a class="view-more" href="javascript:void(0);">
                                                            +4
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-4 col-5 no-padding d-flex justify-content-end">
                                                    <div class="meta">
                                                        <ul>
                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <i class="la la-comment"></i><span class="numb">12</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <i class="la la-heart-o"></i><span class="numb">18</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Widget Footer -->
                                            <div class="widget-scroll" style="max-height:285px;">
                                                <!-- Begin Comments -->
                                                <div class="comments bg-white">
                                                    <div class="comments-header d-flex align-items-center">
                                                        <div class="user-image">
                                                            <img class="rounded-circle" src="../assets/img/avatar/avatar-05.jpg" alt="...">
                                                        </div>
                                                        <div class="d-flex flex-column mr-auto">
                                                            <div class="title">
                                                                <span class="username">Megan Duncan</span>
                                                            </div>
                                                            <div class="time">10 min ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="comments-body">
                                                        <p>
                                                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Nulla mi arcu, faucibus at urna vitae, consectetur vehicula nunc.
                                                        </p>
                                                    </div>
                                                    <div class="comments-footer d-flex align-items-center">
                                                        <div class="meta">
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:void(0);">
                                                                        <i class="la la-flag"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);">
                                                                        <span class="rep">Reply</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Comments -->
                                                <!-- Begin Comments -->
                                                <div class="comments bg-white">
                                                    <div class="comments-header d-flex align-items-center">
                                                        <div class="user-image">
                                                            <img class="rounded-circle" src="../assets/img/avatar/avatar-08.jpg" alt="...">
                                                        </div>
                                                        <div class="d-flex flex-column mr-auto">
                                                            <div class="title">
                                                                <span class="username">Peter Collins</span>
                                                            </div>
                                                            <div class="time">1 hour ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="comments-body">
                                                        <p>
                                                            Donec magna ante, ultricies in justo pretium, maximus pharetra lacus. Praesent porttitor diam suscipit lobortis pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sapien ligula. Cras fringilla, nulla non tincidunt pretium, orci purus consectetur eros, non fringilla dolor ante id ipsum.
                                                        </p>
                                                    </div>
                                                    <div class="comments-footer d-flex align-items-center">
                                                        <div class="meta">
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:void(0);">
                                                                        <i class="la la-flag"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);">
                                                                        <span class="rep">Reply</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Comments -->
                                                <!-- Begin Comments -->
                                                <div class="comments bg-white">
                                                    <div class="comments-header d-flex align-items-center">
                                                        <div class="user-image">
                                                            <img class="rounded-circle" src="../assets/img/avatar/avatar-02.jpg" alt="...">
                                                        </div>
                                                        <div class="d-flex flex-column mr-auto">
                                                            <div class="title">
                                                                <span class="username">Brandon Smith</span>
                                                            </div>
                                                            <div class="time">2 hours ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="comments-body">
                                                        <p>
                                                            Etiam dignissim scelerisque pellentesque. Mauris vitae ligula elit. Praesent scelerisque tortor id est varius posuere. Maecenas consectetur, diam ut sollicitudin lacinia, leo odio consequat risus, dictum finibus eros nisl vitae leo. Sed viverra varius commodo. Curabitur quis felis eu sem maximus ullamcorper.
                                                        </p>
                                                    </div>
                                                    <div class="comments-footer d-flex align-items-center">
                                                        <div class="meta">
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:void(0);">
                                                                        <i class="la la-flag"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);">
                                                                        <span class="rep">Reply</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Comments -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="widget has-shadow">
                                    <figure class="img-hover-01">
                                        <img src="../assets/img/videos/02.jpg" class="img-fluid" alt="...">
                                        <div>
                                            <a href="javascript:void(0);">
                                                <span>26</span>
                                                <i class="la la-heart-o"></i>
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=8Z1eMy2FoX4" data-lity>
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="widget has-shadow">
                                    <figure class="img-hover-01">
                                        <img src="../assets/img/videos/03.jpg" class="img-fluid" alt="...">
                                        <div>
                                            <a href="javascript:void(0);">
                                                <span>15</span>
                                                <i class="la la-heart-o"></i>
                                            </a>
                                            <a href="//www.youtube.com/watch?v=7e90gBu4pas" data-lity>
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="widget has-shadow">
                                    <figure class="img-hover-01">
                                        <img src="../assets/img/videos/04.jpg" class="img-fluid" alt="...">
                                        <div>
                                            <a href="javascript:void(0);">
                                                <span>42</span>
                                                <i class="la la-heart-o"></i>
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=8Z1eMy2FoX4" data-lity>
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="widget has-shadow">
                                    <figure class="img-hover-01">
                                        <img src="../assets/img/videos/05.jpg" class="img-fluid" alt="...">
                                        <div>
                                            <a href="javascript:void(0);">
                                                <span>10</span>
                                                <i class="la la-heart-o"></i>
                                            </a>
                                            <a href="//www.youtube.com/watch?v=7e90gBu4pas" data-lity>
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="widget has-shadow">
                                    <figure class="img-hover-01">
                                        <img src="../assets/img/videos/06.jpg" class="img-fluid" alt="...">
                                        <div>
                                            <a href="javascript:void(0);">
                                                <span>26</span>
                                                <i class="la la-heart-o"></i>
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=8Z1eMy2FoX4" data-lity>
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="widget has-shadow">
                                    <figure class="img-hover-01">
                                        <img src="../assets/img/videos/07.jpg" class="img-fluid" alt="...">
                                        <div>
                                            <a href="javascript:void(0);">
                                                <span>15</span>
                                                <i class="la la-heart-o"></i>
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=8Z1eMy2FoX4" data-lity>
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="widget has-shadow">
                                    <figure class="img-hover-01">
                                        <img src="../assets/img/videos/08.jpg" class="img-fluid" alt="...">
                                        <div>
                                            <a href="javascript:void(0);">
                                                <span>42</span>
                                                <i class="la la-heart-o"></i>
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=8Z1eMy2FoX4" data-lity>
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="widget has-shadow">
                                    <figure class="img-hover-01">
                                        <img src="../assets/img/videos/09.jpg" class="img-fluid" alt="...">
                                        <div>
                                            <a href="javascript:void(0);">
                                                <span>10</span>
                                                <i class="la la-heart-o"></i>
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=8Z1eMy2FoX4" data-lity>
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Container -->
            <!-- Begin Page Footer-->
            <footer class="main-footer">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
                        <p class="text-gradient-02">Design By Saerox</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="documentation.html">Documentation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="changelog.html">Changelog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            <!-- End Page Footer -->
            <a href="javascript:void(0);" class="go-top"><i class="la la-arrow-up"></i></a>
            <!-- Offcanvas Sidebar -->
            <div class="off-sidebar from-right">
                <div class="off-sidebar-container">
                    <header class="off-sidebar-header">
                        <ul class="button-nav nav nav-tabs mt-3 mb-3 ml-3" role="tablist" id="weather-tab">
                            <li><a class="active" data-toggle="tab" href="#messenger" role="tab" id="messenger-tab">Messages</a></li>
                            <li><a data-toggle="tab" href="#today" role="tab" id="today-tab">Today</a></li>
                        </ul>
                        <a href="#off-canvas" class="off-sidebar-close"></a>
                    </header>
                    <div class="off-sidebar-content offcanvas-scroll auto-scroll">
                        <div class="tab-content">
                            <!-- Begin Messenger -->
                            <div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
                                <!-- Begin Chat Message -->
                                <span class="date">Today</span>
                                <div class="messenger-message messenger-message-sender">
                                    <img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
                                    <div class="messenger-message-wrapper">
                                        <div class="messenger-message-content">
                                            <p>
                                                <span class="mb-2">Brandon wrote</span>
                                                Hi David, what's up?
                                            </p>
                                        </div>
                                        <div class="messenger-details">
                                            <span class="messenger-message-localization font-size-small">2 minutes ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="messenger-message messenger-message-recipient">
                                    <div class="messenger-message-wrapper">
                                        <div class="messenger-message-content">
                                            <p>
                                                Hi Brandon, fine and you?
                                            </p>
                                            <p>
                                                I'm working on the next update of Elisyam
                                            </p>
                                        </div>
                                        <div class="messenger-details">
                                            <span class="messenger-message-localisation font-size-small">3 minutes ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="messenger-message messenger-message-sender">
                                    <img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
                                    <div class="messenger-message-wrapper">
                                        <div class="messenger-message-content">
                                            <p>
                                                <span class="mb-2">Brandon wrote</span>
                                                I can't wait to see
                                            </p>
                                        </div>
                                        <div class="messenger-details">
                                            <span class="messenger-message-localization font-size-small">5 minutes ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="messenger-message messenger-message-recipient">
                                    <div class="messenger-message-wrapper">
                                        <div class="messenger-message-content">
                                            <p>
                                                I'm almost done
                                            </p>
                                        </div>
                                        <div class="messenger-details">
                                            <span class="messenger-message-localisation font-size-small">10 minutes ago</span>
                                        </div>
                                    </div>
                                </div>
                                <span class="date">Yesterday</span>
                                <div class="messenger-message messenger-message-sender">
                                    <img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
                                    <div class="messenger-message-wrapper">
                                        <div class="messenger-message-content">
                                            <p>
                                                I updated the server tonight
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="messenger-message messenger-message-recipient">
                                    <div class="messenger-message-wrapper">
                                        <div class="messenger-message-content">
                                            <p>
                                                Didn't you have any problems?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="messenger-message messenger-message-sender">
                                    <img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
                                    <div class="messenger-message-wrapper">
                                        <div class="messenger-message-content">
                                            <p>
                                                No!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="messenger-message messenger-message-recipient">
                                    <div class="messenger-message-wrapper">
                                        <div class="messenger-message-content">
                                            <p>
                                                Great!
                                            </p>
                                            <p>
                                                See you later!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Chat Message -->
                                <!-- Begin Message Form -->
                                <div class="enter-message">
                                    <div class="enter-message-form">
                                        <input type="text" placeholder="Enter your message..." />
                                    </div>
                                    <div class="enter-message-button">
                                        <a href="javascript:void(0);" class="send"><i class="ion-paper-airplane"></i></a>
                                    </div>
                                </div>
                                <!-- End Message Form -->
                            </div>
                            <!-- End Messenger -->
                            <!-- Begin Today -->
                            <div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
                                <!-- Begin Today Stats -->
                                <div class="sidebar-heading pt-0">Today</div>
                                <div class="today-stats mt-3 mb-3">
                                    <div class="row">
                                        <div class="col-4 text-center">
                                            <i class="la la-users"></i>
                                            <div class="counter">264</div>
                                            <div class="heading">Clients</div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <i class="la la-cart-arrow-down"></i>
                                            <div class="counter">360</div>
                                            <div class="heading">Sales</div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <i class="la la-money"></i>
                                            <div class="counter">$ 4,565</div>
                                            <div class="heading">Earnings</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Today Stats -->
                                <!-- Begin Friends -->
                                <div class="sidebar-heading">Friends</div>
                                <div class="quick-friends mt-3 mb-3">
                                    <ul class="list-group w-100">
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left align-self-center mr-3">
                                                    <img src="../assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <a href="javascript:void(0);">Brandon Smith</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left align-self-center mr-3">
                                                    <img src="../assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <a href="javascript:void(0);">Louis Henry</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left align-self-center mr-3">
                                                    <img src="../assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <a href="javascript:void(0);">Nathan Hunter</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left align-self-center mr-3">
                                                    <img src="../assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <a href="javascript:void(0);">Megan Duncan</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left align-self-center mr-3">
                                                    <img src="../assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <a href="javascript:void(0);">Beverly Oliver</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Friends -->
                                <!-- Begin Settings -->
                                <div class="sidebar-heading">Settings</div>
                                <div class="quick-settings mt-3 mb-3">
                                    <ul class="list-group w-100">
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-body align-self-center">
                                                    <p class="text-dark">Notifications Email</p>
                                                </div>
                                                <div class="media-right align-self-center">
                                                    <label>
                                                        <input class="toggle-checkbox" type="checkbox" checked>
                                                        <span>
                                                            <span></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-body align-self-center">
                                                    <p class="text-dark">Notifications Sound</p>
                                                </div>
                                                <div class="media-right align-self-center">
                                                    <label>
                                                        <input class="toggle-checkbox" type="checkbox">
                                                        <span>
                                                            <span></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-body align-self-center">
                                                    <p class="text-dark">Chat Message Sound</p>
                                                </div>
                                                <div class="media-right align-self-center">
                                                    <label>
                                                        <input class="toggle-checkbox" type="checkbox" checked>
                                                        <span>
                                                            <span></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Settings -->
                            </div>
                            <!-- End Today -->
                        </div>
                    </div>
                    <!-- End Offcanvas Container -->
                </div>
                <!-- End Offsidebar Container -->
            </div>
            <!-- End Offcanvas Sidebar -->
        </div>
        <!-- End Content -->
    </div>
    <!-- End Page Content -->
</div>
<!-- Begin Page Vendor Js -->
<script type="text/javascript" src="../assets/vendors/js/lity/lity.min.js"></script>
<!-- End Page Vendor Js -->
<!-- Begin Page Snippets -->
<script>
$(document).on('click', '[data-lightbox]', lity);
</script>
