<!DOCTYPE html>
<!--
Item Name: Elisyam - Web App & Admin Dashboard Template
Version: 1.5
Author: SAEROX

** A license must be purchased in order to legally use this template for your project **
-->
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Elisyam - Friend's</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Google Fonts -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script>
			WebFont.load({
            google: {"families":["Montserrat:400,500,600,700","Noto+Sans:400,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
        </script>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
		<!-- Stylesheet -->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/css/base/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/css/base/elisyam-1.5.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/owl-carousel/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/owl-carousel/owl.theme.min.css">
		<!-- Tweaks for older IEs-->
		<!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	</head>

	<body id="page-top">
		<!-- Begin Preloader -->
		<div id="preloader">
			<div class="canvas">
				<img src="../assets/img/logo.png" alt="logo" class="loader-logo">
				<div class="spinner"></div>
			</div>
		</div>
		<!-- End Preloader -->
		<div class="page db-social">
			<!-- Begin Header -->
			<header class="header">
				<nav class="navbar fixed-top">
					<!-- Begin Search Box-->
					<div class="search-box">
						<button class="dismiss"><i class="ion-close-round"></i></button>
						<form id="searchForm" action="#" role="search">
							<input type="search" placeholder="Search something ..." class="form-control">
						</form>
					</div>
					<!-- End Search Box-->
					<!-- Begin Topbar -->
					<div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
						<!-- Begin Logo -->
						<div class="navbar-header">
							<a href="db-social.html" class="navbar-brand">
								<div class="brand-image brand-big">
									<img src="../assets/img/logo.png" alt="logo" style="width: 70px;" class="logo-big">
								</div>
								<div class="brand-image brand-small">
									<img src="../assets/img/logo.png" alt="logo" class="logo-small">
								</div>
							</a>
							<!-- Toggle Button -->
							<a id="toggle-btn" href="javascript:void(0);" class="menu-btn active">
								<span></span>
								<span></span>
								<span></span>
							</a>
							<!-- End Toggle -->
						</div>
						<!-- End Logo -->
						<!-- Begin Navbar Menu -->
						<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
							<!-- Search -->
							<li class="nav-item d-flex align-items-center"><a id="search" href="javascript:void(0);"><i class="la la-search"></i></a></li>
							<!-- End Search -->
							<!-- Begin Notifications -->
							<li class="nav-item dropdown"><a id="notifications" rel="nofollow" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="la la-bell animated infinite swing"></i><span class="badge-pulse"></span></a>
								<ul aria-labelledby="notifications" class="dropdown-menu notification">
									<li>
										<div class="notifications-header">
											<div class="title">Notifications (4)</div>
											<div class="notifications-overlay"></div>
											<img src="../assets/img/notifications/01.jpg" alt="..." class="img-fluid">
										</div>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-user"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													New user registered
												</div>
												<span class="date">2 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-calendar-check-o"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													New event added
												</div>
												<span class="date">7 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-history"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													Server rebooted
												</div>
												<span class="date">7 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<div class="message-icon">
												<i class="la la-twitter"></i>
											</div>
											<div class="message-body">
												<div class="message-body-heading">
													You have 3 new followers
												</div>
												<span class="date">10 hours ago</span>
											</div>
										</a>
									</li>
									<li>
										<a rel="nofollow" href="javascript:void(0);" class="dropdown-item all-notifications text-center">View All Notifications</a>
									</li>
								</ul>
							</li>
							<!-- End Notifications -->
							<!-- User -->
							<li class="nav-item dropdown"><a id="user" rel="nofollow" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="../assets/img/avatar/avatar-01.jpg" alt="..." class="avatar rounded-circle"></a>
								<ul aria-labelledby="user" class="user-size dropdown-menu">
									<li class="welcome">
										<a href="javascript:void(0);" class="edit-profil"><i class="la la-gear"></i></a>
										<img src="../assets/img/avatar/avatar-01.jpg" alt="..." class="rounded-circle">
									</li>
									<li>
										<a href="db-social.html" class="dropdown-item">
											Profile
										</a>
									</li>
									<li>
										<a href="app-mail.html" class="dropdown-item">
											Messages
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item no-padding-bottom">
											Settings
										</a>
									</li>
									<li class="separator"></li>
									<li>
										<a href="pages-faq.html" class="dropdown-item no-padding-top">
											Faq
										</a>
									</li>
									<li><a rel="nofollow" href="pages-login.html" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
								</ul>
							</li>
							<!-- End User -->
							<!-- Begin Quick Actions -->
							<li class="nav-item"><a href="#off-canvas" class="open-sidebar"><i class="la la-ellipsis-h"></i></a></li>
							<!-- End Quick Actions -->
						</ul>
						<!-- End Navbar Menu -->
					</div>
					<!-- End Topbar -->
				</nav>
			</header>
			<!-- End Header -->
			<!-- Begin Page Content -->
			<div class="page-content d-flex align-items-stretch">
				<div class="compact-sidebar light-sidebar has-shadow">
					<!-- Begin Side Navbar -->
					<nav class="side-navbar box-scroll sidebar-scroll">
						<!-- Begin Main Navigation -->
						<ul class="list-unstyled">
							<li>
								<a href="pages-newsfeed.html">
									<i class="ti ti-receipt"></i><span>Newsfeed</span>
								</a>
							</li>
							<li>
								<a href="app-chat.html">
									<i class="ti ti-comments"></i><span>Messages</span>
								</a>
							</li>
							<li>
								<a href="pages-friends.html">
									<i class="ti ti-user"></i><span>Friends</span>
								</a>
							</li>
							<li>
								<a href="pages-groups.html">
									<i class="ti ti-world"></i><span>Groups</span>
								</a>
							</li>
							<li>
								<a href="pages-events.html">
									<i class="ti ti-calendar"></i><span>Events</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<i class="ti ti-headphone"></i><span>Musics</span>
								</a>
							</li>
							<li>
								<a href="pages-albums.html">
									<i class="ti ti-gallery"></i><span>Images</span>
								</a>
							</li>
							<li>
								<a href="pages-videos.html">
									<i class="ti ti-control-play"></i><span>Videos</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<i class="ti ti-stats-up"></i><span>Statistics</span>
								</a>
							</li>
							<li>
								<a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}">
									<i class="la la-angle-left"></i><span>Go Back</span>
								</a>
							</li>
						</ul>
						<!-- End Main Navigation -->
					</nav>
					<!-- End Side Navbar -->
				</div>
				<!-- End Left Sidebar -->
				<!-- Begin Content -->
				<div class="content-inner compact">
					<!-- Begin Jumbotron -->
					<div class="jumbotron jumbotron-fluid"></div>
					<!-- End Jumbotron -->
					<div class="container-fluid">
						<div class="row justify-content-center">
							<div class="col-xl-11">
								<!-- Start Head Profile -->
								<div class="widget head-profile has-shadow">
									<div class="widget-body pb-0">
										<div class="row d-flex align-items-center">
											<div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
												<ul>
													<li>
														<div class="counter">246</div>
														<div class="heading">Friends</div>
													</li>
													<li>
														<div class="counter">30</div>
														<div class="heading">Online</div>
													</li>
													<li>
														<div class="counter">216</div>
														<div class="heading">Offline</div>
													</li>
												</ul>
											</div>
											<div class="col-xl-4 col-md-4 d-flex justify-content-center">
												<div class="image-default">
													<img class="rounded-circle" src="../assets/img/avatar/avatar-01.jpg" alt="...">
												</div>
												<div class="infos">
													<h2>David Green</h2>
													<div class="location">Las Vegas, Nevada, U.S.</div>
												</div>
											</div>
											<div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
												<div class="follow">
													<a class="btn btn-shadow" href="javascript:void(0);"><i class="la la-user-plus"></i>Add Friend</a>
													<div class="actions dark">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item">
																	Report
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	Block
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<ul class="head-nav nav nav-tabs justify-content-center">
											<li><a href="db-social.html">Timeline</a></li>
											<li><a href="pages-about.html">About</a></li>
											<li><a class="active" href="pages-friends.html">Friends</a></li>
											<li><a href="javascript:void(0);">Photos</a></li>
											<li><a href="javascript:void(0);">Videos</a></li>
										</ul>
									</div>
								</div>
								<!-- End Head Profile -->
								<div class="row flex-row">
									<div class="col-xl-3 col-md-4 col-sm-6 col-remove">
										<!-- Begin Card -->
										<div class="widget-image has-shadow">
											<div class="contact-card-2">
												<div class="cover-bg">
													<img src="../assets/img/cover/01.jpg" class="img-fluid" alt="...">
												</div>
												<!-- Begin Widget Body -->
												<div class="widget-body">
													<div class="quick-actions hover">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item remove">
																	<i class="la la-trash"></i>Delete
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	<i class="la la-edit"></i>Edit
																</a>
															</div>
														</div>
													</div>
													<div class="cover-image mx-auto">
														<img src="../assets/img/avatar/avatar-02.jpg" alt="..." class="rounded-circle mx-auto">
													</div>
													<h4 class="name"><a href="javascript:void(0);">Brandon Smith</a></h4>
													<div class="job">Designer</div>
													<div class="social-friends owl-carousel mb-3">
														<div class="item">
															<div class="stats">
																<div class="row d-flex justify-content-between">
																	<div class="col">
																		<span class="counter">264</span>
																		<span class="text">Friends</span>
																	</div>
																	<div class="col">
																		<span class="counter">52</span>
																		<span class="text">Photos</span>
																	</div>
																	<div class="col">
																		<span class="counter">997</span>
																		<span class="text">Videos</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="quick-about">
																<div class="row d-flex align-items-center">
																	<div class="col-12">
																		<h4>About</h4>
																		<p>
																			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="text-center pt-5 pb-3">
														<a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
														<a href="app-chat.html" class="btn btn-shadow">Message</a>
													</div>
												</div>
												<!-- End Widget Body -->
											</div>
										</div>
										<!-- End Card -->
									</div>
									<div class="col-xl-3 col-md-4 col-sm-6 col-remove">
										<!-- Begin Card -->
										<div class="widget-image has-shadow">
											<div class="contact-card-2">
												<div class="cover-bg">
													<img src="../assets/img/cover/02.jpg" class="img-fluid" alt="...">
												</div>
												<!-- Begin Widget Body -->
												<div class="widget-body">
													<div class="quick-actions hover">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item remove">
																	<i class="la la-trash"></i>Delete
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	<i class="la la-edit"></i>Edit
																</a>
															</div>
														</div>
													</div>
													<div class="cover-image mx-auto">
														<img src="../assets/img/avatar/avatar-03.jpg" alt="..." class="rounded-circle mx-auto">
													</div>
													<h4 class="name"><a href="javascript:void(0);">Louis Henry</a></h4>
													<div class="job">UX Designer</div>
													<div class="social-friends owl-carousel mb-3">
														<div class="item">
															<div class="stats">
																<div class="row d-flex justify-content-between">
																	<div class="col">
																		<span class="counter">632</span>
																		<span class="text">Friends</span>
																	</div>
																	<div class="col">
																		<span class="counter">267</span>
																		<span class="text">Photos</span>
																	</div>
																	<div class="col">
																		<span class="counter">18</span>
																		<span class="text">Videos</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="quick-about">
																<div class="row d-flex align-items-center">
																	<div class="col-12">
																		<h4>About</h4>
																		<p>
																			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="text-center pt-5 pb-3">
														<a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
														<a href="app-chat.html" class="btn btn-shadow">Message</a>
													</div>
												</div>
												<!-- End Widget Body -->
											</div>
										</div>
										<!-- End Card -->
									</div>
									<div class="col-xl-3 col-md-4 col-sm-6 col-remove">
										<!-- Begin Card -->
										<div class="widget-image has-shadow">
											<div class="contact-card-2">
												<div class="cover-bg">
													<img src="../assets/img/cover/03.jpg" class="img-fluid" alt="...">
												</div>
												<!-- Begin Widget Body -->
												<div class="widget-body">
													<div class="quick-actions hover">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item remove">
																	<i class="la la-trash"></i>Delete
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	<i class="la la-edit"></i>Edit
																</a>
															</div>
														</div>
													</div>
													<div class="cover-image mx-auto">
														<img src="../assets/img/avatar/avatar-04.jpg" alt="..." class="rounded-circle mx-auto">
													</div>
													<h4 class="name"><a href="javascript:void(0);">Nathan Hunter</a></h4>
													<div class="job">Mobile Designer</div>
													<div class="social-friends owl-carousel mb-3">
														<div class="item">
															<div class="stats">
																<div class="row d-flex justify-content-between">
																	<div class="col">
																		<span class="counter">153</span>
																		<span class="text">Friends</span>
																	</div>
																	<div class="col">
																		<span class="counter">86</span>
																		<span class="text">Photos</span>
																	</div>
																	<div class="col">
																		<span class="counter">32</span>
																		<span class="text">Videos</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="quick-about">
																<div class="row d-flex align-items-center">
																	<div class="col-12">
																		<h4>About</h4>
																		<p>
																			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="text-center pt-5 pb-3">
														<a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
														<a href="app-chat.html" class="btn btn-shadow">Message</a>
													</div>
												</div>
												<!-- End Widget Body -->
											</div>
										</div>
										<!-- End Card -->
									</div>
									<div class="col-xl-3 col-md-4 col-sm-6 col-remove">
										<!-- Begin Card -->
										<div class="widget-image has-shadow">
											<div class="contact-card-2">
												<div class="cover-bg">
													<img src="../assets/img/cover/04.jpg" class="img-fluid" alt="...">
												</div>
												<!-- Begin Widget Body -->
												<div class="widget-body">
													<div class="quick-actions hover">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item remove">
																	<i class="la la-trash"></i>Delete
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	<i class="la la-edit"></i>Edit
																</a>
															</div>
														</div>
													</div>
													<div class="cover-image mx-auto">
														<img src="../assets/img/avatar/avatar-05.jpg" alt="..." class="rounded-circle mx-auto">
													</div>
													<h4 class="name"><a href="javascript:void(0);">Megan Duncan</a></h4>
													<div class="job">Photographer</div>
													<div class="social-friends owl-carousel mb-3">
														<div class="item">
															<div class="stats">
																<div class="row d-flex justify-content-between">
																	<div class="col">
																		<span class="counter">200</span>
																		<span class="text">Friends</span>
																	</div>
																	<div class="col">
																		<span class="counter">230</span>
																		<span class="text">Photos</span>
																	</div>
																	<div class="col">
																		<span class="counter">184</span>
																		<span class="text">Videos</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="quick-about">
																<div class="row d-flex align-items-center">
																	<div class="col-12">
																		<h4>About</h4>
																		<p>
																			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="text-center pt-5 pb-3">
														<a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
														<a href="app-chat.html" class="btn btn-shadow">Message</a>
													</div>
												</div>
												<!-- End Widget Body -->
											</div>
										</div>
										<!-- End Card -->
									</div>
									<div class="col-xl-3 col-md-4 col-sm-6 col-remove">
										<!-- Begin Card -->
										<div class="widget-image has-shadow">
											<div class="contact-card-2">
												<div class="cover-bg">
													<img src="../assets/img/cover/05.jpg" class="img-fluid" alt="...">
												</div>
												<!-- Begin Widget Body -->
												<div class="widget-body">
													<div class="quick-actions hover">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item remove">
																	<i class="la la-trash"></i>Delete
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	<i class="la la-edit"></i>Edit
																</a>
															</div>
														</div>
													</div>
													<div class="cover-image mx-auto">
														<img src="../assets/img/avatar/avatar-06.jpg" alt="..." class="rounded-circle mx-auto">
													</div>
													<h4 class="name"><a href="javascript:void(0);">Beverly Oliver</a></h4>
													<div class="job">Photographer</div>
													<div class="social-friends owl-carousel mb-3">
														<div class="item">
															<div class="stats">
																<div class="row d-flex justify-content-between">
																	<div class="col">
																		<span class="counter">310</span>
																		<span class="text">Friends</span>
																	</div>
																	<div class="col">
																		<span class="counter">95</span>
																		<span class="text">Photos</span>
																	</div>
																	<div class="col">
																		<span class="counter">203</span>
																		<span class="text">Videos</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="quick-about">
																<div class="row d-flex align-items-center">
																	<div class="col-12">
																		<h4>About</h4>
																		<p>
																			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="text-center pt-5 pb-3">
														<a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
														<a href="app-chat.html" class="btn btn-shadow">Message</a>
													</div>
												</div>
												<!-- End Widget Body -->
											</div>
										</div>
										<!-- End Card -->
									</div>
									<div class="col-xl-3 col-md-4 col-sm-6 col-remove">
										<!-- Begin Card -->
										<div class="widget-image has-shadow">
											<div class="contact-card-2">
												<div class="cover-bg">
													<img src="../assets/img/cover/06.jpg" class="img-fluid" alt="...">
												</div>
												<!-- Begin Widget Body -->
												<div class="widget-body">
													<div class="quick-actions hover">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item remove">
																	<i class="la la-trash"></i>Delete
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	<i class="la la-edit"></i>Edit
																</a>
															</div>
														</div>
													</div>
													<div class="cover-image mx-auto">
														<img src="../assets/img/avatar/avatar-07.jpg" alt="..." class="rounded-circle mx-auto">
													</div>
													<h4 class="name"><a href="javascript:void(0);">Lisa Garett</a></h4>
													<div class="job">Community Manager</div>
													<div class="social-friends owl-carousel mb-3">
														<div class="item">
															<div class="stats">
																<div class="row d-flex justify-content-between">
																	<div class="col">
																		<span class="counter">239</span>
																		<span class="text">Friends</span>
																	</div>
																	<div class="col">
																		<span class="counter">121</span>
																		<span class="text">Photos</span>
																	</div>
																	<div class="col">
																		<span class="counter">24</span>
																		<span class="text">Videos</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="quick-about">
																<div class="row d-flex align-items-center">
																	<div class="col-12">
																		<h4>About</h4>
																		<p>
																			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="text-center pt-5 pb-3">
														<a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
														<a href="app-chat.html" class="btn btn-shadow">Message</a>
													</div>
												</div>
												<!-- End Widget Body -->
											</div>
										</div>
										<!-- End Card -->
									</div>
									<div class="col-xl-3 col-md-4 col-sm-6 col-remove">
										<!-- Begin Card -->
										<div class="widget-image has-shadow">
											<div class="contact-card-2">
												<div class="cover-bg">
													<img src="../assets/img/cover/07.jpg" class="img-fluid" alt="...">
												</div>
												<!-- Begin Widget Body -->
												<div class="widget-body">
													<div class="quick-actions hover">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item remove">
																	<i class="la la-trash"></i>Delete
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	<i class="la la-edit"></i>Edit
																</a>
															</div>
														</div>
													</div>
													<div class="cover-image mx-auto">
														<img src="../assets/img/avatar/avatar-08.jpg" alt="..." class="rounded-circle mx-auto">
													</div>
													<h4 class="name"><a href="javascript:void(0);">Peter Collins</a></h4>
													<div class="job">UI Designer</div>
													<div class="social-friends owl-carousel mb-3">
														<div class="item">
															<div class="stats">
																<div class="row d-flex justify-content-between">
																	<div class="col">
																		<span class="counter">152</span>
																		<span class="text">Friends</span>
																	</div>
																	<div class="col">
																		<span class="counter">187</span>
																		<span class="text">Photos</span>
																	</div>
																	<div class="col">
																		<span class="counter">166</span>
																		<span class="text">Videos</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="quick-about">
																<div class="row d-flex align-items-center">
																	<div class="col-12">
																		<h4>About</h4>
																		<p>
																			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="text-center pt-5 pb-3">
														<a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
														<a href="app-chat.html" class="btn btn-shadow">Message</a>
													</div>
												</div>
												<!-- End Widget Body -->
											</div>
										</div>
										<!-- End Card -->
									</div>
									<div class="col-xl-3 col-md-4 col-sm-6 col-remove">
										<!-- Begin Card -->
										<div class="widget-image has-shadow">
											<div class="contact-card-2">
												<div class="cover-bg">
													<img src="../assets/img/cover/08.jpg" class="img-fluid" alt="...">
												</div>
												<!-- Begin Widget Body -->
												<div class="widget-body">
													<div class="quick-actions hover">
														<div class="dropdown">
															<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
																<i class="la la-ellipsis-h"></i>
															</button>
															<div class="dropdown-menu">
																<a href="javascript:void(0);" class="dropdown-item remove">
																	<i class="la la-trash"></i>Delete
																</a>
																<a href="javascript:void(0);" class="dropdown-item">
																	<i class="la la-edit"></i>Edit
																</a>
															</div>
														</div>
													</div>
													<div class="cover-image mx-auto">
														<img src="../assets/img/avatar/avatar-09.jpg" alt="..." class="rounded-circle mx-auto">
													</div>
													<h4 class="name"><a href="javascript:void(0);">Michael Bradley</a></h4>
													<div class="job">Photographer</div>
													<div class="social-friends owl-carousel mb-3">
														<div class="item">
															<div class="stats">
																<div class="row d-flex justify-content-between">
																	<div class="col">
																		<span class="counter">326</span>
																		<span class="text">Friends</span>
																	</div>
																	<div class="col">
																		<span class="counter">258</span>
																		<span class="text">Photos</span>
																	</div>
																	<div class="col">
																		<span class="counter">80</span>
																		<span class="text">Videos</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="quick-about">
																<div class="row d-flex align-items-center">
																	<div class="col-12">
																		<h4>About</h4>
																		<p>
																			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="text-center pt-5 pb-3">
														<a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
														<a href="app-chat.html" class="btn btn-shadow">Message</a>
													</div>
												</div>
												<!-- End Widget Body -->
											</div>
										</div>
										<!-- End Card -->
									</div>
									<div class="col d-flex align-items-center">
										<div class="mr-auto p-2">
											<span class="display-items">Showing 1-15 / 257 Contacts</span>
										</div>
										<div class="p-2">
											<nav aria-label="...">
												<ul class="pagination">
													<li class="page-item">
														<span class="page-link"><i class="ion-chevron-left"></i></span>
													</li>
													<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
													<li class="page-item active">
														<span class="page-link">2<span class="sr-only">(current)</span></span>
													</li>
													<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
													<li class="page-item">
														<a class="page-link" href="javascript:void(0);"><i class="ion-chevron-right"></i></a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
								<!-- End Row -->
							</div>
							<!-- End Col -->
						</div>
						<!-- End Row -->
					</div>
					<!-- End Container -->
					<!-- Begin Page Footer-->
					<footer class="main-footer">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
								<p class="text-gradient-02">Design By Saerox</p>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link" href="documentation.html">Documentation</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="changelog.html">Changelog</a>
									</li>
								</ul>
							</div>
						</div>
					</footer>
					<!-- End Page Footer -->
					<a href="javascript:void(0);" class="go-top"><i class="la la-arrow-up"></i></a>
					<!-- Offcanvas Sidebar -->
					<div class="off-sidebar from-right">
						<div class="off-sidebar-container">
							<header class="off-sidebar-header">
								<ul class="button-nav nav nav-tabs mt-3 mb-3 ml-3" role="tablist" id="weather-tab">
									<li><a class="active" data-toggle="tab" href="#messenger" role="tab" id="messenger-tab">Messages</a></li>
									<li><a data-toggle="tab" href="#today" role="tab" id="today-tab">Today</a></li>
								</ul>
								<a href="#off-canvas" class="off-sidebar-close"></a>
							</header>
							<div class="off-sidebar-content offcanvas-scroll auto-scroll">
								<div class="tab-content">
									<!-- Begin Messenger -->
									<div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
										<!-- Begin Chat Message -->
										<span class="date">Today</span>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														<span class="mb-2">Brandon wrote</span>
														Hi David, what's up?
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localization font-size-small">2 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Hi Brandon, fine and you?
													</p>
													<p>
														I'm working on the next update of Elisyam
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localisation font-size-small">3 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-02.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														<span class="mb-2">Brandon wrote</span>
														I can't wait to see
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localization font-size-small">5 minutes ago</span>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														I'm almost done
													</p>
												</div>
												<div class="messenger-details">
													<span class="messenger-message-localisation font-size-small">10 minutes ago</span>
												</div>
											</div>
										</div>
										<span class="date">Yesterday</span>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														I updated the server tonight
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Didn't you have any problems?
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-sender">
											<img class="messenger-image messenger-image-default" src="../assets/img/avatar/avatar-05.jpg" alt="...">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														No!
													</p>
												</div>
											</div>
										</div>
										<div class="messenger-message messenger-message-recipient">
											<div class="messenger-message-wrapper">
												<div class="messenger-message-content">
													<p>
														Great!
													</p>
													<p>
														See you later!
													</p>
												</div>
											</div>
										</div>
										<!-- End Chat Message -->
										<!-- Begin Message Form -->
										<div class="enter-message">
											<div class="enter-message-form">
												<input type="text" placeholder="Enter your message..." />
											</div>
											<div class="enter-message-button">
												<a href="javascript:void(0);" class="send"><i class="ion-paper-airplane"></i></a>
											</div>
										</div>
										<!-- End Message Form -->
									</div>
									<!-- End Messenger -->
									<!-- Begin Today -->
									<div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
										<!-- Begin Today Stats -->
										<div class="sidebar-heading pt-0">Today</div>
										<div class="today-stats mt-3 mb-3">
											<div class="row">
												<div class="col-4 text-center">
													<i class="la la-users"></i>
													<div class="counter">264</div>
													<div class="heading">Clients</div>
												</div>
												<div class="col-4 text-center">
													<i class="la la-cart-arrow-down"></i>
													<div class="counter">360</div>
													<div class="heading">Sales</div>
												</div>
												<div class="col-4 text-center">
													<i class="la la-money"></i>
													<div class="counter">$ 4,565</div>
													<div class="heading">Earnings</div>
												</div>
											</div>
										</div>
										<!-- End Today Stats -->
										<!-- Begin Friends -->
										<div class="sidebar-heading">Friends</div>
										<div class="quick-friends mt-3 mb-3">
											<ul class="list-group w-100">
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Brandon Smith</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Louis Henry</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Nathan Hunter</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Megan Duncan</a>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-left align-self-center mr-3">
															<img src="../assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
														</div>
														<div class="media-body align-self-center">
															<a href="javascript:void(0);">Beverly Oliver</a>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- End Friends -->
										<!-- Begin Settings -->
										<div class="sidebar-heading">Settings</div>
										<div class="quick-settings mt-3 mb-3">
											<ul class="list-group w-100">
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Notifications Email</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox" checked>
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Notifications Sound</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox">
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
														<div class="media-body align-self-center">
															<p class="text-dark">Chat Message Sound</p>
														</div>
														<div class="media-right align-self-center">
															<label>
																<input class="toggle-checkbox" type="checkbox" checked>
																<span>
																	<span></span>
																</span>
															</label>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- End Settings -->
									</div>
									<!-- End Today -->
								</div>
							</div>
							<!-- End Offcanvas Container -->
						</div>
						<!-- End Offsidebar Container -->
					</div>
					<!-- End Offcanvas Sidebar -->
				</div>
				<!-- End Content -->
			</div>
			<!-- End Page Content -->
		</div>
		<!-- Begin Vendor Js -->
		<script type="text/javascript" src="../assets/vendors/js/base/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/base/core.min.js"></script>
		<!-- End Vendor Js -->
		<!-- Begin Page Vendor Js -->
		<script type="text/javascript" src="../assets/vendors/js/nicescroll/nicescroll.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/js/app/app.min.js"></script>
		<!-- End Page Vendor Js -->
		<!-- Begin Page Snippets -->
		<script type="text/javascript" src="../assets/js/pages/friends.min.js"></script>
		<!-- End Page Snippets -->
	</body>

</html>
