{% block contents %}

<!-- Begin Content -->
<div class="content-inner faq">
    <!-- Begin Jumbotron -->
    <div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center text-center">
        <div class="container">
            <h2>Help Center</h2>
            <div class="searchbox">
                <input type="text" name="search" placeholder="Search in faq's ...">
            </div>
        </div>
    </div>
    <!-- End Jumbotron -->
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">FAQ</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Faq's</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-12">
                <div class="widget has-shadow">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="widget">
                                <div class="widget-body">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0)">
                                                <i class="la la-user la-2x align-middle pr-2"></i>Profile
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0)">
                                                <i class="la la-puzzle-piece la-2x align-middle pr-2"></i>Applications
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0)">
                                                <i class="la la-spinner la-2x align-middle pr-2"></i>Widgets
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0)">
                                                <i class="la la-share-alt la-2x align-middle pr-2"></i>UI Elements
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0)">
                                                <i class="la la-font la-2x align-middle pr-2"></i>Icons
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0)">
                                                <i class="la la-list-alt la-2x align-middle pr-2"></i>Forms
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0)">
                                                <i class="la la-map la-2x align-middle pr-2"></i>Maps
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0)">
                                                <i class="la la-file-text la-2x align-middle pr-2"></i>Pages
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="widget">
                                <div class="widget-body pt-2">
                                    <!-- Begin Accordion -->
                                    <div id="accordion" class="accordion">
                                        <!-- Begin Widget -->
                                        <div class="widget">
                                            <div class="widget-header no-actions d-flex align-items-center">
                                                <h2>Introduction</h2>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseOne">
                                                <div class="card-title">Lorem ipsum dolor sit amet?</div>
                                            </a>
                                            <div id="collapseOne" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Praesent nibh nulla, vehicula vitae metus nec, lobortis commodo lorem. Nulla pulvinar vestibulum semper. Curabitur tempor, orci eget laoreet lacinia, urna orci facilisis massa, nec convallis arcu lacus eu mi. Aliquam semper ante eget venenatis pellentesque. Sed suscipit sem id ligula sollicitudin pulvinar. Donec porta enim nec dignissim commodo. Mauris ac elit diam. In vel mattis massa. Donec id mi blandit diam fringilla fringilla vitae id elit.
                                                </p>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseTwo">
                                                <div class="card-title">Nam fermentum mauris at lacus?</div>
                                            </a>
                                            <div id="collapseTwo" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Etiam ut eleifend eros. Morbi in lectus ut nulla dapibus ornare. Praesent et sapien ac tortor consectetur bibendum.Nam nec sem at lacus tempor porta. Donec ultricies ante sed urna cursus, eget vestibulum libero congue
                                                </p>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseThree">
                                                <div class="card-title">Aenean feugiat interdum iaculis?</div>
                                            </a>
                                            <div id="collapseThree" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Etiam ut eleifend eros. Morbi in lectus ut nulla dapibus ornare. Praesent et sapien ac tortor consectetur bibendum.Nam nec sem at lacus tempor porta. Donec ultricies ante sed urna cursus, eget vestibulum libero congue. Praesent nibh nulla, vehicula vitae metus nec, lobortis commodo lorem. Nulla pulvinar vestibulum semper
                                                </p>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseFour">
                                                <div class="card-title">Curabitur eget lacinia ligula vivamus?</div>
                                            </a>
                                            <div id="collapseFour" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Nunc augue neque, congue a auctor at, tincidunt vel nulla. Phasellus justo urna, laoreet sit amet commodo sed, volutpat vitae eros. Praesent eu tristique diam, eu elementum ligula. Sed ac lectus non neque tristique elementum a et nisi. Donec pellentesque volutpat nisl, id commodo lacus posuere eget.
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End Widget -->
                                        <!-- Begin Widget -->
                                        <div class="widget">
                                            <div class="widget-header no-actions d-flex align-items-center">
                                                <h2>Sellers</h2>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseFive">
                                                <div class="card-title">Varius natoque penatibus et magnis dis parturient?</div>
                                            </a>
                                            <div id="collapseFive" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Praesent nibh nulla, vehicula vitae metus nec, lobortis commodo lorem. Nulla pulvinar vestibulum semper. Curabitur tempor, orci eget laoreet lacinia, urna orci facilisis massa, nec convallis arcu lacus eu mi.
                                                </p>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseSix">
                                                <div class="card-title">Phasellus facilisis purus maximus pellentesque?</div>
                                            </a>
                                            <div id="collapseSix" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Etiam ut eleifend eros. Morbi in lectus ut nulla dapibus ornare. Praesent et sapien ac tortor consectetur bibendum.Nam nec sem at lacus tempor porta. Donec ultricies ante sed urna cursus, eget vestibulum libero congue
                                                </p>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseSeven">
                                                <div class="card-title">Vitae felis sodales vestibulum?</div>
                                            </a>
                                            <div id="collapseSeven" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Etiam ut eleifend eros. Morbi in lectus ut nulla dapibus ornare. Praesent et sapien ac tortor consectetur bibendum.Nam nec sem at lacus tempor porta. Donec ultricies ante sed urna cursus, eget vestibulum libero congue. Praesent nibh nulla, vehicula vitae metus nec, lobortis commodo lorem. Nulla pulvinar vestibulum semper
                                                </p>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseEight">
                                                <div class="card-title">Mauris pharetra ante nibh et molestie ipsum?</div>
                                            </a>
                                            <div id="collapseEight" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Nunc augue neque, congue a auctor at, tincidunt vel nulla. Phasellus justo urna, laoreet sit amet commodo sed, volutpat vitae eros. Praesent eu tristique diam, eu elementum ligula. Sed ac lectus non neque tristique elementum a et nisi. Donec pellentesque volutpat nisl, id commodo lacus posuere eget.
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End Widget -->
                                        <!-- Begin Widget -->
                                        <div class="widget">
                                            <div class="widget-header no-actions d-flex align-items-center">
                                                <h2>Buyers</h2>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseNine">
                                                <div class="card-title">Etiam fermentum leo quis venenatis placerat?</div>
                                            </a>
                                            <div id="collapseNine" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Praesent nibh nulla, vehicula vitae metus nec, lobortis commodo lorem. Nulla pulvinar vestibulum semper. Curabitur tempor, orci eget laoreet lacinia, urna orci facilisis massa, nec convallis arcu lacus eu mi.
                                                </p>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseTen">
                                                <div class="card-title">Proin convallis volutpat lectus ac mollis?</div>
                                            </a>
                                            <div id="collapseTen" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Etiam ut eleifend eros. Morbi in lectus ut nulla dapibus ornare. Praesent et sapien ac tortor consectetur bibendum.Nam nec sem at lacus tempor porta. Donec ultricies ante sed urna cursus, eget vestibulum libero congue
                                                </p>
                                            </div>
                                            <a class="card-header collapsed d-flex align-items-center" data-toggle="collapse" href="#collapseEleven">
                                                <div class="card-title">Maecenas hendrerit tellus sit amet luctus fermentum?</div>
                                            </a>
                                            <div id="collapseEleven" class="card-body bg-grey collapse" data-parent="#accordion">
                                                <p>
                                                    Etiam ut eleifend eros. Morbi in lectus ut nulla dapibus ornare. Praesent et sapien ac tortor consectetur bibendum.Nam nec sem at lacus tempor porta. Donec ultricies ante sed urna cursus, eget vestibulum libero congue. Praesent nibh nulla, vehicula vitae metus nec, lobortis commodo lorem. Nulla pulvinar vestibulum semper
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End Widget -->
                                    </div>
                                    <!-- End Accordion -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->

    {% block footer %}
        {% include '@Layouts/themes/elisyam/partials/footer.html.twig' %}
        {% include '@Layouts/themes/elisyam/partials/offcanvas.html.twig' %}
    {% endblock %}

</div>
<!-- End Content -->

{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/full.html.twig' %}