{% block contents %}

<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Invoice</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('kw.layouts.dashboard.index', {'theme': 'elisyam'}) }}"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Invoice</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-xl-12">
                <!-- Begin Invoice -->
                <div class="invoice has-shadow">
                    <!-- Begin Invoice COntainer -->
                    <div class="invoice-container">
                        <!-- Begin Invoice Top -->
                        <div class="invoice-top">
                            <div class="row d-flex align-items-center">
                                <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                                    <h1>Invoice</h1>
                                    <span>NO. EM0954</span>
                                </div>
                                <div class="col-xl-6 col-md-6 col-sm-6 col-6 d-flex justify-content-end">
                                    <div class="actions dark">
                                        <div class="dropdown">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                                <i class="la la-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    <i class="la la-print"></i>Print
                                                </a>
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    <i class="la la-download"></i>Download
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Invoice Top -->
                        <!-- Begin Invoice Header -->
                        <div class="invoice-header">
                            <div class="row d-flex align-items-center">
                                <div class="col-xl-2 col-md-2 col-sm-12 d-flex justify-content-xl-start justify-content-md-center justify-content-center mb-2">
                                    <div class="invoice-logo">
                                        <img src="../assets/img/logo.png" alt="logo">
                                    </div>
                                </div>
                                <div class="col-xl-5 col-md-5 col-sm-6 d-flex justify-content-xl-start justify-content-md-center justify-content-center mb-2">
                                    <div class="details">
                                        <ul>
                                            <li class="company-name">Elisyam inc.</li>
                                            <li>954 Awesome Street Name</li>
                                            <li>San Francisco, CA 94103</li>
                                            <li>Email: hello@example.com</li>
                                            <li>www.be-elisyam.com</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-md-5 col-sm-6 d-flex justify-content-xl-end justify-content-md-end justify-content-center mb-2">
                                    <div class="client-details">
                                        <ul>
                                            <li class="title">To.</li>
                                            <li>Philip Jensen</li>
                                            <li>123 Century Blvd</li>
                                            <li>Los Angeles, CA 90045</li>
                                            <li>Phone: +00 987 654 32</li>
                                            <li>Email: philip@xample.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Invoice Header -->
                        <div class="invoice-date d-flex justify-content-xl-end justify-content-center">
                            <span>Febuary 22, 2018</span>
                        </div>
                        <!-- Begin Table -->
                        <div class="col-xl-12 desc-tables">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Item Description</th>
                                            <th class="text-center">Hours</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">
                                                UX/UI Design
                                                <br>
                                                <div class="description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla dictum magna vel ex fermentum interdum.
                                                </div>
                                            </td>
                                            <td class="text-center">62</td>
                                            <td class="text-center">$30.45</td>
                                            <td class="text-center">$1887.09</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                Logo Design
                                                <br>
                                                <div class="description">
                                                    Duis sollicitudin a elit vitae porttitor. Aenean lacinia maximus risus, eget placerat neque ullamcorper.
                                                </div>
                                            </td>
                                            <td class="text-center">30</td>
                                            <td class="text-center">$50.40</td>
                                            <td class="text-center">$1512.00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                Web Design Services
                                                <br>
                                                <div class="description">
                                                    Nam id erat purus. Sed sed ultricies leo. Suspendisse rhoncus metus ultrices, pulvinar lorem lacinia.
                                                </div>
                                            </td>
                                            <td class="text-center">130</td>
                                            <td class="text-center">$18.50</td>
                                            <td class="text-center">$2405.00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                Coffee And Smiles
                                                <br>
                                                <div class="description">
                                                    Nam id erat purus. Sed sed ultricies leo. Suspendisse rhoncus metus ultrices, pulvinar lorem lacinia.
                                                </div>
                                            </td>
                                            <td class="text-center">Many</td>
                                            <td class="text-center">$00.00</td>
                                            <td class="text-center">$00.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Table -->
                    </div>
                    <!-- End Invoice Container -->
                    <!-- Begin Invoice Footer -->
                    <div class="invoice-footer">
                        <!-- Begin Invoice Container -->
                        <div class="invoice-container">
                            <div class="row d-flex align-items-center">
                                <div class="col-xl-6 col-md-6 col-sm-6 d-flex justify-content-xl-start justify-content-md-start justify-content-center mb-2">
                                    <div class="bank">
                                        <div class="title">Bank Info</div>
                                        <div class="text">Bank Name: Bank Of America</div>
                                        <div class="text">Account Number: 123 456 789</div>
                                        <div class="text">Code: ELM0236US</div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-sm-6 d-flex justify-content-xl-end justify-content-md-end justify-content-center">
                                    <div class="total">
                                        <div class="title">Total</div>
                                        <div class="number">$5804.09</div>
                                        <div class="taxe">Taxes Included</div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-bottom">
                                <div class="thx">
                                    <i class="la la-heart"></i><span>Thank You!</span>
                                </div>
                                <div class="website">www.be-elisyam.com</div>
                            </div>
                        </div>
                        <!-- End Invoice Container -->
                    </div>
                    <!-- End Invoice Footer -->
                </div>
                <!-- End Invoice -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->

    {% block footer %}
        {% include '@Layouts/themes/elisyam/partials/footer.html.twig' %}
        {% include '@Layouts/themes/elisyam/partials/offcanvas.html.twig' %}
    {% endblock %}

</div>

{% endblock %}

{% extends '@Layouts/themes/elisyam/bases/full.html.twig' %}