<!-- Favicons -->
<link rel="apple-touch-icon" href="https://icons.getbootstrap.com/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="https://icons.getbootstrap.com/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="https://icons.getbootstrap.com/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="https://icons.getbootstrap.com/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://icons.getbootstrap.com/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="https://icons.getbootstrap.com/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">
